{% extends "email/base_email.html" %}
{% load multiply %}
{% load formatfloat %}

{% block urowcontainer %}
<div class="u-row-container" style="padding: 0px;background-color: transparent">
    <div class="u-row"
        style="Margin: 0 auto;min-width: 320px;max-width: 900px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
        <div
            style="border-collapse: collapse;display: table;width: 100%;height: 100%;background-color: #ffffff;">

            <div class="u-col u-col-100"
                style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                <div style="background-color: #ffffff;height: 100%;width: 100% !important;">
                    <div
                        style="height: 100%; padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">

                        <table id="u_content_heading_1"
                            style="font-family: 'Montserrat',sans-serif;" role="presentation"
                            cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td class="v-container-padding-padding"
                                        style="overflow-wrap:break-word;word-break:break-word;padding:50px 10px 10px;font-family: 'Montserrat',sans-serif;"
                                        align="left">

                                        <h1 class="v-text-align v-font-size"
                                            style="margin-left: 20px; line-height: 100%; text-align: left; word-wrap: break-word; font-weight: normal; font-family: 'Rubik',sans-serif; font-size: 30px;">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <div>
                                                                        <div>
                                                                            <div>
                                                                                <div><strong> {{ titulo }}
                                                                                    </strong>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h1>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <table id="u_content_heading_3"
                            style="font-family: 'Montserrat',sans-serif;" role="presentation"
                            cellpadding="0" cellspacing="0" width="100%" border="0">
                            <tbody>
                                <tr>
                                    <td class="v-container-padding-padding"
                                        style="overflow-wrap:break-word;word-break:break-word;padding:0px 10px 60px;font-family: 'Montserrat',sans-serif;"
                                        align="left">

                                        <h1 class="v-text-align v-font-size"
                                            style="margin-left: 20px; line-height: 100%; text-align: left; word-wrap: break-word; font-weight: normal; font-family: 'Montserrat',sans-serif; font-size: 18px;">
                                            <div>
                                                <div>
                                                    <div>{{ texto }}

                                                        <div class="v-text-align" align="left"
                                                            style="padding: 30px 30px 30px 0px;">
                                                            <a href="{{ url }}" target="_blank"
                                                                class="v-button"
                                                                style="box-sizing: border-box;display: inline-block;font-family:'Montserrat',sans-serif;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #459A33; border-radius: 0px;-webkit-border-radius: 0px; -moz-border-radius: 0px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;">
                                                                <span
                                                                    style="display:block;padding:10px 20px;line-height:120%;"><span
                                                                        style="font-size: 14px; line-height: 16.8px;">Ir a {{ categoria }}</span></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </h1>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="container__wrapper">
                <img src="cid:{{ logo_bv_email }}" alt="Logo BV Email" width="147" height="281">
            </div>
    </div>
</div>
{% endblock urowcontainer %}
