{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
<div class="parallax-container">
  <div class="parallax"><img src="{% static 'images/parallax.jpg' %}"></div>
</div> 
<div class="container">
  <div class="section ">
    <div style="border-radius: 2em;" class="row container">

        <h2 class="header center  green-text  "> Cuenta administrador </h2>
        <div class="card green  " style="border-radius: 2em; ">
    
      
      <div class="row">
       
        <div class="col s12 m4" >
          <div style="border-radius: 2em;" class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title center"> Compradores </span>
            </div>
            <div style="border-radius: 2em;" class="card-action">
              <div class="row">
                  <div class="row">
                    <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'registrar_comprador' %}"><i class="material-icons right">add</i>Agregar Comprador</a>
                  </div>
                 <div class="divisor"></div>
                  <div class="row">
                    
                    <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'mostrar_compradores' %}"><i class="material-icons right">format_list_bulleted</i>Ver Comprador</a>
                  </div>
                
                
            </div>
              </div>
                
              
          </div>

     

        </div>
        <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Articulos </span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'crear_articulo' %}"><i class="material-icons right">add</i>Agregar Articulos</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'mostrar_articulos' %}"><i class="material-icons right">format_list_bulleted</i>Ver Articulos</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
          <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Proveedores </span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align"  href="{% url 'crear_proveedor' %}"><i class="material-icons right">add</i>Agregar Proveedor</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'mostrar_proveedores' %}"><i class="material-icons right">format_list_bulleted</i>Ver Proveedores</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
          <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Pedidos </span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align"><i class="material-icons right">add</i>Agregar Pedidos</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align"><i class="material-icons right">format_list_bulleted</i>Ver Pedidos</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
          <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Presupuestos</span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                    <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'crear_presupuesto' %}"><i class="material-icons right">add</i>Agregar Presupuesto</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'mostrar_presupuestos' %}"><i class="material-icons right">format_list_bulleted</i>Ver</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
          <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Propuestas </span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'crear_propuesta' %}"><i class="material-icons right">add</i>Agregar Propuestas</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align"><i class="material-icons right">format_list_bulleted</i>Ver Propuestas</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
           <div class="col s12 m4" >
            <div style="border-radius: 2em;" class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title center"> Empresas </span>
                
              </div>
              <div style="border-radius: 2em;" class="card-action">
                <div class="row">
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'registrar_empresa' %}"><i class="material-icons right">add</i>Agregar empresa</a>
                    </div>
                    <div class="row">
                        <a  style="border-radius: 2em; " class="waves-effect waves-light btn green col s10 offset-s1 center-align" href="{% url 'mostrar_empresas' %}"><i class="material-icons right">format_list_bulleted</i>Ver empresas</a>
                    </div>
                  
                  
              </div>
                </div>
                  
                
            </div>
          </div>
        </div>
      
   
        
        
        

        
    </div>
    


</div>
  </div>
</div>
<script>

$(document).ready(function(){
  $('.parallax').parallax();
});

$(document).ready(function(){
    $('.collapsible').collapsible();
  });
       

</script>

{%endblock body%}         
