<!DOCTYPE html>
<html lang="es">

  {% include "tempAux/loader.html" %}
  {% load static %}

<!-- navbar -->
  
{% include 'header.html'%}

<!--  sidebar / page -->
<div class="row">

  <!------- barra lateral de opciones --------->
  <div>
    {% include 'sideabar.html'%}
  </div>

  <!-- pagina actual -->
  <div class="col s12 fondo">
    {% block body %}
    {% endblock body %}
  </div>

  <!--------Modal alerta -------->
  <div id="alerta" class="modal">
    <div id="modalAlerta" class="modal-content">
    </div>
  </div>
</div>

<script src="{% static 'js/pages.js' %}"></script>

</html>

<style>
  .fondo{
    min-height: calc(100vh - 64px) !important;
    background-image: url(/static/images/fondo.svg);
    background-size: 100%;
  }
</style>

