<!DOCTYPE html>
<html lang="es">

  {% include "loader.html" %}
  
  {% include 'header.html'%}
  {% load static %}

<!--  barra lateral / sidebar -->
<div class="row">
  <!------- barra lateral de opciones --------->
  <div class="col hide-on-small-only s12 l2 m3 vl" >
    {% include 'sideabar.html'%}
  </div>

  <div class="col s12 l10 m9 fondo">
    {% block body %}
    {% endblock body %}
  </div>

  <!--------Modal alerta -------->
  <div id="alerta" class="modal">
    <div id="modalAlerta" class="modal-content">
    </div>
  </div>
</div>

<script src="{% static 'js/pages.js' %}"></script>

</html>

<style>
  .fondo{
    min-height: calc(100vh - 64px) !important;
    background-image: url(/static/images/fondo.svg);
    background-size: 100%;
  }
</style>

