<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <!-- imports -->
  <meta charset="utf-8">
  <!--Import materialize.css-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    

  {% block imports %}
  {% endblock imports %}

  <!-- style -->
  <style type="text/css">
  {% block style %}
  {% endblock style %}
  </style>

  <!-- title -->
  <title>
    {% block title %}
    {% endblock title %}
  </title>

</head>
<body>
<div class="navbar-fixed">
  <nav >
    <div style="background-color: #198d2d;" class="nav-wrapper  ">
      <a href="{% url 'home' %}" class="brand-logo"><img width="95" src="{% static 'images/logo.png' %}"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger bronw"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_superuser %}  
        <li>
          <a class='dropdown-trigger btn waves-effect waves-light green' href="{% url 'admin' %}">Administrar</a>
        </li>
        {% endif %}
        <!-- aca en vez de title tendria que decir el tipo de cuenta que es -->
        {% if user.is_authenticated %}
        <li><a>{{user.username|title}}</a></li>
        <li><a  href="{% url 'logout' %}" class="dropdown-item ">Cerrar Sesion</a></li>
  
        {% else %}
        <li><a style="border-radius: 2em; color: #000000;" class="waves-effect waves-light btn modal-trigger green" href="#modal1" > Iniciar Sesion</a></li>
  
        {% endif %}
      </ul>
    </div>
  </nav>

</div>


<!--  sidenav -->
<ul  style="background-color: rgba(25, 141, 45, 0.5);" class="sidenav" id="mobile-demo"  >
  {% if user.is_authenticated %}
  <li><div class="user-view">
    <div class="background">
      <img src="{% static 'images/campos.jpg' %}">
    </div>
    <a ><img class="circle" src="{% static 'images/logo.png' %}"></a>
    <div style=" background-color: rgba(25, 141, 45, 0.5); border-radius: 2em;" >
      <div class="container">
    <a href="#name"><span  class=" grey-text text-darken-1 name"> {{user.username|title}}</span></a>
    <a href="#email"><span class="black-text   email">{{ user.get_full_name }}</span></a>
    <a href="#email"><span class= "black-text email">{{ user.email }}</span></a>
   
    </div>
  </div>
  <div class="divider"></div>
</div></li>
  <li><div class="divider"></div></li>
  <li><a class=' btn waves-effect waves-light green modal-trigger'  href="{% url 'home' %}"  >Pagina de Inicio</a></li>
  <li><a class='dropdown-trigger btn waves-effect waves-light green' href="{% url 'admin' %}">Administrar</a></li>
  <li><a class='dropdown-trigger btn waves-effect waves-light green' href="{% url 'logout' %}">Cerrar Sesion</a></li>
  <li><div class="divider"></div></li>
  {% else %}
  <li><div class="user-view">
    <div class="background">
      <img src="{% static 'images/campos.jpg' %}">
    </div>
    <a ><img class="circle" src="{% static 'images/logo.png' %}"></a> 
</div></li>

  <li><a class=' btn waves-effect waves-light green modal-trigger'  href="#modal1">Iniciar Sesion</a></li>
  <li><a class=' btn waves-effect waves-light green modal-trigger' >Quienes somos</a></li>
  <li><a class=' btn waves-effect waves-light green modal-trigger' >Nuestros Socios</a></li>
  <li><a class=' btn waves-effect waves-light green modal-trigger' >Nuestros Servicios</a></li>
  </li>
  {% endif %}
</ul>
  {% block body %}
  {% endblock body %}
<!--  modal de inicio de sesion  -->
<div style="border-radius: 1em;" id="modal1" class="modal">
  <div class="modal-content center">
    <h4>Inicio de sesion</h4>
    <div class="row">
      <form action="{% url 'login' %}" method="POST"  class="col s12">
        {%csrf_token%}
        <div class="row">
          <div class="input-field col s12">
            <input id="email" name="username" type="text" class="validate">
            <label for="email">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Contraseña</label>
          </div>
        </div>
        <div class="row">
          <div class="center">
            <button type="submit" class="waves-effect waves-light btn-large green lighten-2  center">iniciar sesion</button>
          </div>
        </div>
        <div class="row">
          <div class="center">
            <span >Olvidaste tu contraseña </span><a href="#">haz click aqui </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



  <!--  footer pagina  -->
 

  <script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.modal').modal();
  });

  window.drf = {
    csrfHeaderName: "{{csrf_header_name|default:'X-CSRFToken'}}",
    csrfToken: "{% if request %}{{csrf_token}}{% endif %}"
  };  // Generar Header y Token para Ajax
</script>
</body>
</html>
