{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% endblock imports %}
{% block style%}

body {
  background-color: #white;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}  
<div id="id7" class="section scrollspy">
    <div class="row">
        <div class="col s12 ">
          <div class="card z-depth-5">
            <div class="card-content">
                <div class="card-panel blue darken-4 white-text z-depth-3">
                    <div class="col s11">
                      <h4 class="center-align" >  Utilidades del Excel  </h4>
                    </div>
                    <div class="col s1"> </div>
                    <i  style="padding-left: 5px;" class="large material-icons  left-align black-text">list</i>
                  </div>
              <br>
              
              <div class="">
                <div class="row" >
                    <div class="col s6  " >
                       <div class="card-panel blue">
                        <span class="card-title center">Cargar Archivo</span>
                        </div>
                        <form  enctype="multipart/form-data" method="post" class="col s12">
                            {% csrf_token %}
                            <div class="file-field input-field">
                              <div class="btn">
                                <i class="material-icons">attach_file</i>
                                <input type="file" id="myfile" name="myfile"><br><br>
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                            <input class="red btn col s10 offset-s1" type="submit">
                          </form>
                          <p>
                            {% for data in excel_data %}
                              {{ data|safe }}
                            {% endfor %}
                          </p>
                    </div>
                    <div class="col s6">
                      <form method="post">
                        {% csrf_token %}
                          <div class="card-panel blue">
                              <span class="card-title center">Bajar archivo</span>
                              </div>
                              <div class="row">
                                  <div class="col s12">
                                    <div class="row">
                                      <div class="input-field col s11 offset-1">
                                        <i class="material-icons prefix">arrow_downward</i>
                                        <textarea id="icon_prefix2" class="materialize-textarea" name="dwld-file"></textarea>
                                        <label for="icon_prefix2">Escribe el nombre del archivo</label>
                                      </div>
                                      <a class="red btn col s10 offset-s1" href="{% url 'descarga_db_excel' %}">Descargar base de datos</a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
             
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
              </div>
                  
            
            
          </div>
        </div>
      </div>
  </div>
{%endblock body%}