
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}

body {
  background-color: #96f291;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
{# {% load crispy_forms_tags %} #}
<div id="login-page" class="row container">
    <div class="col s12 z-depth-4 card-panel light-green lighten-5">
      {%if cliente %}
      <form class="col s12 login-form" method="POST" action="{% url 'cliente' cliente.pk %}">
      {% else %} 
      <form class="col s12 login-form" method="POST" action="{% url 'registrar_cliente' %}">
      {% endif %}
        {% csrf_token %}
        <div class="row">
          <div class="center">
            <span class="card-title">
              {%if cliente %}
                <h4>Modificar cliente</h4>
              {% else %} 
                <h4>Registar nuevo cliente</h4>
              {% endif %}
             </span>
          </div>
        </div>
        <div>
          {{ form.non_field_errors }}
          
          <div class="input-field col s6">
            {{ form.nombre.errors }}
            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
            {{form.nombre}}
          </div>

          <div class="input-field col s6">
            {{ form.apellido.errors }}
            <label for="{{ form.apellido.id_for_label }}">Apellido</label>
            {{form.apellido}}
          </div>

          <div class="input-field col s6">
            {{ form.dni.errors }}
            <label for="{{ form.dni.id_for_label }}">D.N.I.</label>
            <input name="{{form.dni.name}}" id="{{ form.dni.id_for_label }}" type="number" min="0" class="validate">
          </div>
          
          <div class="input-field col s6">
            {{ form.telefono.errors }}
            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            <input name="{{form.telefono.name}}" id="{{ form.telefono.id_for_label }}" type="text" class="validate">
          </div>

          <div class="input-field col s12">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
            {{form.email}}
          </div>
          
          
          <div class="input-field col s6">
            {{ form.fecha_nacimiento.errors }}
            <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento</label>
            {{form.fecha_nacimiento}}
          </div>
          
          <div class="input-field col s6">
            {{ form.sexo.errors }}
            <label for="{{ form.nombre.id_for_label }}">Sexo</label>
            {{form.sexo}}
          </div>
          
          <div class="input-field col s6">
            {{ form.user.errors }}
            <label for="{{ form.nombre.id_for_label }}">Usuario</label>
            {{form.user}}
          </div>
                    
          <div class="input-field col s6">
            {{ form.codigo.errors }}
            <label for="{{ form.codigo.id_for_label }}">Código</label>
            <input name="{{form.codigo.name}}" id="{{ form.codigo.id_for_label }}" type="number" min="0" class="validate">
          </div>
                    
          <div class="input-field col s6">
            {{ form.cuil_cuit.errors }}
            <label for="{{ form.cuil_cuit.id_for_label }}">CUIL/CUIT</label>
            {{form.cuil_cuit}}
          </div>
                    
          <div class="input-field col s6">
            {{ form.categoria_iva.errors }}
            <label for="{{ form.categoria_iva.id_for_label }}">Categoria IVA</label>
            {{form.categoria_iva}}
          </div>
                    
          <div class="input-field col s12">
            {{ form.cuenta_contable.errors }}
            <label for="{{ form.cuenta_contable.id_for_label }}">Cuenta Contable</label>
           <input name="{{form.cuenta_contable.name}}" id="{{ form.cuenta_contable.id_for_label }}" type="number" min="0" class="validate">
          </div>
          
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <button type="submit" class="btn waves-effect waves-light col s12" name="Registrarme">Guardar</button>
          </div>  
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
// select initialization
$(document).ready(function(){
    $('select').formSelect();
});

// datepicker initialization and conf
$(document).ready(function(){
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        yearRange: [1920,2020]
    });
  });


$('form').on('focus', 'input[type=number]', function (e) {
  $(this).on('wheel.disableScroll', function (e) {
    e.preventDefault()
  })
})
$('form').on('blur', 'input[type=number]', function (e) {
  $(this).off('wheel.disableScroll')
})
</script>

{% endblock body %}