{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}

body {
  background-color: #96f291;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
<div id="login-page" class="row container">
    <div class="col s12 z-depth-4 card-panel light-green lighten-5">
      {%if comprador %}
      <form class="col s12 login-form" method="POST" action="{% url 'comprador' comprador.pk %}">
      {% else %} 
      <form class="col s12 login-form" method="POST" action="{% url 'registrar_comprador' %}">
      {% endif %}
        {% csrf_token %}
        <div class="row">
          <div class="center">
            <span class="card-title">
              {%if comprador %}
                <h4>Modificar comprador</h4>
              {% else %} 
                <h4>Registar nuevo comprador</h4>
              {% endif %}
             </span>
          </div>
        </div>
        <div>
        {{ form.non_field_errors }}
        <div class="input-field col s6">
          {{ form.persona.errors }}
          <span>Persona</span>
          {{form.persona}}
        </div>

        <div class="input-field col s6">
          {{ form.empresa.errors }}
            <span>Empresa</span>
          {{form.empresa}}
        </div>
        <div class="input-field col s6">
          {{ form.fecha_nacimiento.errors }}
          <span>Fecha de nacimiento</span>
          {{form.fecha_nacimiento}}
        </div>
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <button type="submit" class="btn waves-effect waves-light col s12" name="Registrarme">Guardar</button>
          </div>  
        </div>
      </form>
    </div>
  </div>

<script type="text/javascript">
// select initialization
$(document).ready(function(){
    $('select').formSelect();
});

// datepicker initialization and conf
$(document).ready(function(){
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        yearRange: [1920,2020]
    });
  });


$('form').on('focus', 'input[type=number]', function (e) {
  $(this).on('wheel.disableScroll', function (e) {
    e.preventDefault()
  })
})
$('form').on('blur', 'input[type=number]', function (e) {
  $(this).off('wheel.disableScroll')
});
</script>

{% endblock body %}