{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/comprobantes.css' %}">
</head>

<body>

    <div class="row" style="height: 100%;">
        <!-- titulo -->
        <div class="menuZone clv">
            <h4 class="tituloPagina">Comprobantes</h4>
        </div> 
    </div>
        
    <div class="row">
        <!-- tabla info -->
        <div class="col offset-l1 s12 l10">
            <table id="tableNegocios">
                <thead>
                    <tr style="border-bottom: 1px solid grey;">
                        {% for campo in camposNombres %}
                        <th>{{campo}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                
                <tbody id="infoTabla" style="height: 100px; overflow-y: auto;overflow-x: hidden;">
                    {% for comprobante in data %}
                    <tr>
                        {% for campo in campos %}
                        <td class="ctr">{{comprobante.campo}}</td>
                        {% endfor %}
                        
                        <td><a class="waves-effect waves-light no-shadows"href="{% url 'info_negocio' negocio.id_prop %}"><i class="small material-icons" style="color: #4fad31">description</i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col offset-l1 s12 l10">
            <a onclick="openModalSelecNegComprobante({{num}})" class="verTodos waves-effect waves-light btn no-shadows" > CARGAR </a>
        </div>
    </div>
</body>

<!---modal selec neg-->

<div id="selecNeg" class="modal">
    <div id="modalSelecNegComprobante" class="modal-content">
    </div>
</div>

<div id="factura" class="modal">
    <div id="modalFormFactura" class="modal-content">
    </div>
</div>

<div id="remito" class="modal">
    <div id="modalFormRemito" class="modal-content">
    </div>
</div>

<div id="ordenDeCompra" class="modal">
    <div id="modalFormOrdenDeCompra" class="modal-content">
    </div>
</div>

<div id="ordenDePago" class="modal">
    <div id="modalFormOrdenDePago" class="modal-content">
    </div>
</div>

<div id="constanciaRentencion" class="modal">
    <div id="modalFormConstanciaRentencion" class="modal-content">
    </div>
</div>

<div id="recibo" class="modal">
    <div id="modalFormRecibo" class="modal-content">
    </div>
</div>

<div id="cheques" class="modal">
    <div id="modalFormCheques" class="modal-content">
    </div>
</div>

<div id="cuentaCorrientes" class="modal">
    <div id="modalformCuentaCorriente" class="modal-content">
    </div>
</div>

<div id="facturaComisiones" class="modal">
    <div id="modalformFacturaComision" class="modal-content">
    </div>
</div>

<div id="nota" class="modal">
    <div id="modalFormNota" class="modal-content">
    </div>
</div>

<script>

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });

    function openModalSelecNegComprobante(tipo) {
        var urlTemp = '{% url "selecNegComprobante" 0 %}';
        var urlf = urlTemp.replace('0', tipo);
        $.ajax({
            type: 'POST',
            url: urlf,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $("#modalSelecNegComprobante").html(data);
                $('#selecNeg').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormFactura() {
        $.ajax({
            url: "{% url 'formFactura' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormFactura").html(data);
                $('#factura').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormRemitos() {
        $.ajax({
            url: "{% url 'formRemito' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormRemito").html(data);
                $('#remito').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormOrdenDeCompra() {
        $.ajax({
            url: "{% url 'formOrdenDeCompra' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormOrdenDeCompra").html(data);
                $('#ordenDeCompra').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormOrdenDePago() {
        $.ajax({
            url: "{% url 'formOrdenDePago' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormOrdenDePago").html(data);
                $('#ordenDePago').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormConstanciaRentencion() {
        $.ajax({
            url: "{% url 'formConstanciaRentencion' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormConstanciaRentencion").html(data);
                $('#constanciaRentencion').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormRecibo() {
        $.ajax({
            url: "{% url 'formRecibo' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormRecibo").html(data);
                $('#recibo').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormCheques() {
        $.ajax({
            url: "{% url 'formCheque' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormCheques").html(data);
                $('#cheques').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalformCuentaCorriente() {
        $.ajax({
            url: "{% url 'formCuentaCorriente' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalformCuentaCorriente").html(data);
                $('#cuentaCorrientes').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalformFacturaComision() {
        $.ajax({
            url: "{% url 'formFacturaComision' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalformFacturaComision").html(data);
                $('#facturaComisiones').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function openModalFormNota() {
        $.ajax({
            url: "{% url 'formNota' %}",
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            success: function (data) {
                $("#modalFormNota").html(data);
                $('#nota').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

</script>
{% endblock body %}