
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
    <table class="centered bordered">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>

        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
          <tr>
            <td>{{ proveedor.persona.user.first_name|title }}</td>
            <td>{{ proveedor.persona.user.last_name|title }}</td>
            <td>{{ proveedor.persona.dni }}</td>
            <td>{{ proveedor.persona.user.email }}</td>
            <td>{{ proveedor.persona.fecha_nacimiento|date:"M d, Y" }}</td>
            <td>{{ proveedor.persona.get_sexo_display|title}}</td>
            {% if user.is_superuser %}
              <th>
                <div>
                  <a class='btn-small waves-effect waves-light blue' onclick="modalVer('{{proveedor}}')"><i class="material-icons">remove_red_eye</i></a>
                  <a class='btn-small waves-effect waves-light green' href="{% url 'proveedor' proveedor.pk %}"><i class="material-icons">edit</i></a>
                  <a class='btn-small waves-effect waves-light red' 
                    onclick="abrirmodal('{{ proveedor.id }}', '{{ proveedor.apellido }}, {{proveedor.nombre }}')"><i class="material-icons">delete</i></a>
              </th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


<!-- Modal Structure -->
  <div id="delete" class="modal">
    <div class="modal-content">
      <h4>Confirmacion</h4>
      <p>Esta seguro que quiere eliminar a <span id="removeName"></span></p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
      <a onClick="eliminarproveedor()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

   <div id="datos" class="modal">
    <div class="modal-content">
          <table class="centered bordered">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
            <th>Telefono</th>
            <th>Usuario</th>
            <th>Codigo</th>
            <th>Cuil/Cuit</th>
            <th>Categoria Iva</th>
            <th>Cuenta contable</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <p><span id="nombre"></span></p>
            <td><span id="apellido"></span></td>
            <td><span id="dni"></span></td>
            <td><span id="email"></span></td>
            <td><span id="fecha"></span></td>
            <td><span id="sexo"></span></td>
            <td><span id="telefono"></span></td>
            <td><span id="codigo"></span></td>
            <td><span id="fax"></span></td>
            <td><span id="cuil_cuit"></span></td>
            <td><span id="codigo_cta"></span></td>
            <td><span id="saldo_inicial"></span></td>
            <td><span id="alicuota"></span></td>
            <td><span id="sujeto_retencion"></span></td>
            <td><span id="categoria_iva"></span></td>
            <td><span id="cuenta_contable"></span></td>
          </tr>
      </tbody>
    </table>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>

<script type="text/javascript">
  var currentId;
  function abrirmodal(id, name){
    $("#removeName")[0].innerText = name;
    currentId = id;
    $("#delete").modal('open');
  }

  function eliminarproveedor(){
    headers = {}
    headers[window.drf.csrfHeaderName] = window.drf.csrfToken;
    fetch("/proveedor/"+currentId, 
      {
        method: 'delete',
        "headers": headers
      }
    ).then( function(result){
      location.reload();
    }
    )
  }

  function modalVer(proveedor){
    console.log(proveedor);
  }

</script>
{% endblock body %}
