
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
    <table class="centered bordered">
      <thead>
        <tr>
            <th>Propuesta</th>
            <th>Area</th>
            <th>Fecha</th>
            <th>Razón social</th>
            <th>Total</th>
            <th>Mes de pago</th>
            <th>Cobrado</th>
            <th>Observaciones</th>
        </tr>
      </thead>
      <tbody>
        {% for presupuesto in presupuestos %}
          <tr>
            <td>{{ presupuesto.propuesta }}</td>
            <td>{{ presupuesto.area }}</td>
            <td>{{ presupuesto.fecha }}</td>
            <td>{{ presupuesto.razon_social }}</td>
            <td>{{ presupuesto.total }}</td>
            <td>{{ presupuesto.mes_de_pago }}</td>
            <td>{% if presupuesto.cobrado == True %}Si{% else %}No{% endif %}</td>
            <td>{{ presupuesto.observaciones }}</td>
            {% if user.is_superuser %}
              <th>
                <div>
                  <a class='btn-small waves-effect waves-light green' href="{% url 'presupuesto' presupuesto.pk %}"><i class="material-icons">edit</i></a>
                  <a class='btn-small waves-effect waves-light red' 
                    onclick="abrirmodal('{{ presupuesto.id }}', '{{ presupuesto.propuesta}}', '{{ presupuesto.total }}')"><i class="material-icons">delete</i></a>
              </th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


<!-- Modal Structure -->
  <div id="delete" class="modal">
    <div class="modal-content">
      <h4>Confirmacion</h4>
      <p>Esta seguro que quiere eliminar la propuesta <span id="removePropuesta"></span>con total de <span id="removeTotal"></span></p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
      <a onClick="eliminarCliente()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

<script type="text/javascript">
  var currentId;
  function abrirmodal(id, propuesta, total){
    $("#removeName")[0].innerText = propuesta;
    $("#removeName")[1].innerText = total;
    currentId = id;
    $("#delete").modal('open');
  }

  function eliminarPresupuesto(){
    headers = {}
    headers[window.drf.csrfHeaderName] = window.drf.csrfToken;
    fetch("/presupuesto/"+currentId, 
      {
        method: 'delete',
        "headers": headers
      }
    ).then( function(result){
      location.reload();
    }
    )
  }

</script>
{% endblock body %}
