
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
    <table class="centered bordered">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
            <th>Telefono</th>
            <th>Codigo</th>
            <th>Cuil/Cuit</th>
            <th>Categoria Iva</th>
            <th>Cuenta contable</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.fecha_nacimiento|date:"M d, Y" }}</td>
            <td>{{ cliente.sexo }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.codigo }}</td>
            <td>{{ cliente.cuil_cuit }}</td>
            <td>{{ cliente.categoria_iva }}</td>
            <td>{{ cliente.cuenta_contable }}</td>
            {% if user.is_superuser %}
              <th>
                <div>
                  <a class='btn-small waves-effect waves-light green' href="{% url 'cliente' cliente.pk %}"><i class="material-icons">edit</i></a>
                  <a class='btn-small waves-effect waves-light red' 
                    onclick="abrirmodal('{{ cliente.id }}', '{{ cliente.apellido }}, {{cliente.nombre }}')"><i class="material-icons">delete</i></a>
              </th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

<!-- Modal Structure -->
  <div id="delete" class="modal">
    <div class="modal-content">
      <h4>Confirmacion</h4>
      <p>Esta seguro que quiere eliminar a <span id="removeName"></span></p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
      <a onClick="eliminarCliente()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

<script type="text/javascript">
  var currentId;
  function abrirmodal(id, name){
    $("#removeName")[0].innerText = name;
    currentId = id;
    $("#delete").modal('open');
  }

  function eliminarCliente(){
    headers = {}
    headers[window.drf.csrfHeaderName] = window.drf.csrfToken;
    fetch("/cliente/"+currentId, 
      {
        method: 'delete',
        "headers": headers
      }
    ).then( function(result){
      location.reload();
    }
    )
  }

</script>
{% endblock body %}
