
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
    <table class="centered bordered">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>

        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
          <tr>
            <td>{{ proveedor.persona.user.first_name|title }}</td>
            <td>{{ proveedor.persona.user.last_name|title }}</td>
            <td>{{ proveedor.persona.dni }}</td>
            <td>{{ proveedor.persona.user.email }}</td>
            <td>{{ proveedor.persona.fecha_nacimiento|date:"M d, Y" }}</td>
            <td>{{ proveedor.persona.get_sexo_display|title}}</td>
            {% if user.is_superuser %}
              <th>
                <div>
                  <a class='btn-small waves-effect waves-light blue' onclick="modalVer(
                  '{{proveedor.persona.user.first_name}},{{proveedor.persona.user.last_name}},{{ proveedor.persona.dni }},{{ proveedor.persona.user.email }},{{proveedor.persona.fecha_nacimiento}}, {{proveedor.persona.get_sexo_display}}'
                  )">

                    <i class="material-icons">remove_red_eye</i></a>
                  <a class='btn-small waves-effect waves-light green' href="{% url 'proveedor' proveedor.pk %}"><i class="material-icons">edit</i></a>
                  <a class='btn-small waves-effect waves-light red' 
                    onclick="abrirmodal('{{proveedor.id}},{{proveedor.persona.user.first_name}},{{proveedor.persona.user.last_name}}')"><i class="material-icons">delete</i></a>
              </th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


<!-- Modal Structure -->
  <div id="delete" class="modal">
    <div class="modal-content">
      <h4>Confirmacion</h4>
      <p>Esta seguro que quiere eliminar a <span id="removeName"></span></p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
      <a onClick="eliminarproveedor()" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

   <div id="datos" class="modal">
    <div class="modal-content">
          <table class="centered bordered">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td id="nombre"></td>
            <td id="apellido"></td>
            <td id="dni"></td>
            <td id="email"></td>
            <td id="fecha_nacimiento"></td>
            <td id="sexo"></td>
          </tr>
      </tbody>
    </table>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
    </div>
  </div>

<script type="text/javascript">
  var currentId;
  function abrirmodal(all_data){
    var data = all_data.split(",");
    var id = data[0];
    var full_name = data[1] + " " + data[2];
    var span = document.getElementById("removeName");
    span.innerText = full_name;
    currentId = id;
    $("#delete").modal('open');
  }

  function eliminarproveedor(){
    headers = {}
    headers[window.drf.csrfHeaderName] = window.drf.csrfToken;
    fetch("/proveedor/"+currentId, 
      {
        method: 'delete',
        "headers": headers
      }
    ).then( function(result){
      location.reload();
    }
    )
  }

  function modalVer(proveedor){
    $("#datos").modal('open');
    var data = proveedor.split(",");
    var nombre = document.getElementById("nombre");
    var apellido = document.getElementById("apellido");
    var dni = document.getElementById("dni");
    var email = document.getElementById("email");
    var fecha_nacimiento = document.getElementById("fecha_nacimiento");
    var sexo = document.getElementById("sexo");

    nombre.innerText = data[0];
    apellido.innerText = data[1];
    dni.innerText = data[2];
    email.innerText = data[3];
    fecha_nacimiento.innerText = data[4];
    sexo.innerText = data[5];
  }

</script>
{% endblock body %}
