{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% endblock imports %}
{% block style%}

body {
  background-color: #white;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}  
<style>
  .vl {
    border-right: 2px solid rgb(128, 128, 128, 0.5);
    height: 5000px;
    
  }
  
  .titulo {
    height: 60px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    background-color: #757474;
    font-family: 'Montserrat' ;
  }


  .titulito{
   font-size: 30px;
   font-family: 'Montserrat';
   text-align: center;
 }
 .barra{
  background-color: #757474;
  height: 40px;
  
}


 /* label color */
 .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 0px solid #000;
     box-shadow: 0 0px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
</style>

<script>
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
        $('#vendedor').hide();
        
        $('.ver_vendedor').click(function(){
            $('#inicio').hide();
            $('#vendedor').show();
        });

    });

</script>

<div class="row">
  <div class="col hide-on-small-only l2 m3 vl ">
    <ul class="section table-of-contents pinned ">
      <li class= " button ver_vendedor" id="ver_vendedor"><a>Vendedor</a></li>
      <li><a>Cliente</a></li>
      <li><a href="#id2">Proveedor</a></li>
      <li><a href="#id6">P.Logistica</a></li>
      <li><a href="#id7">P.administrador</a></li>  
    </ul>
  </div>
  <div class="col l8">
    <div class="inicio" id="inicio">
      <h4> hola bienvenido a las cuentas </h4>
    </div>
    <div class="vendedor" id="vendedor">
      <div class=" titulo  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
        <div  class="">
          <span  style="font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="">Vendedor</span>
        </div>
      </div>

        <div class="col l10">
            <div class="inicio" id="inicio">
                <h4> hola bienvenido a las cuentas </h4>
            </div>
            <div class="vendedor" id="vendedor" >
                <div class=" titulo  col l8 m10 s8 offset-l2 offset-m1 offset-s1  ">
                    <div  class="">
                      <span  style="font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="">Vendedor</span>
                    </div>
                  </div>
                  <div style="height: 100px;"></div>
                  <div class="row"> 
                    <div  class="col s12 barra center-align " ><span class="titulito center-align white-text">Datos personales </span> </div>
                  </div>
                  
                  <form action=""   class="col s10 offset-s1">
                    <div class="row">
                      <div style="border-radius: 2em; background-color: white ;height:45px; border: 2px solid green;"class=" col s3 ">
                        <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="Nombre" id="user" name="username" type="text"> 
                      </div>     
                      <div style="border-radius: 2em; background-color: green ;height:45px; "class=" col s3 offset-s1">
                        <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="Apellido" id="user" name="username" type="text"> 
                       </div>
                    </div>
                   <div class="row">
                    <div style="border-radius: 2em; background-color: green ;height:45px; "class=" col s12">
                      <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="email" id="user" name="username" type="text"> 
                     </div>
                   </div>
                   <div class="row">
                    <div style="border-radius: 2em; background-color: green ;height:45px; "class=" col s4 ">
                      <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="fecha nacimiento" id="user" name="username" type="text"> 
                    </div>     
                    <div style="border-radius: 2em; background-color: green ;height:45px; "class=" col s4 offset-s2">
                      <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="sexo" id="user" name="username" type="text"> 
                     </div>
                    </div>
                  <div class="row">
                    <div style="border-radius: 2em; background-color: green ;height:45px; "class=" col s4 ">
                      <input class="input"  style="border-bottom: 0px solid #000; box-shadow: 0 0px 0 0 #000; border: #000; border-radius: 2em;" placeholder="Dni" id="user" name="username" type="text"> 
                     </div>
                  </div>
                  </form>
                
                </div>
            </div>
</div>

{%endblock body%}