{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/inicio.css' %}">
</head>

<body style="overflow: hidden;">
    <a class="bnt-mid btn align-text white-text no-shadows" href="{% url 'nuevo_negocio' %}"> Cotizá </a>
</body>

<img id="bg-image" src="{% static 'images/fondo-inicio.png' %}" style="display: none;" alt="none">

<script>
    $(window).on('load', function() {
        var bgImageElement = $('#bg-image');
        addBg(bgImageElement.attr('src'));
        bgImageElement.remove();
    })
</script>
{% endblock body %}