{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}


body {
  background: #96f291;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}

  <div class="float: right; row">
    <div class="col m12 m8">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center-align"> Agregue los articulos en los que esta interesado</span>
          <span class="left-align">Vendedor: </span>
          <b><span class="left-align" id="vendedorSpan">{{ user.get_username }}</span></b><br>
          <span class="left-align">Seleccione un comprador:</span><br>
          <div class="row left-align col s6">
            <input class ="error" type="text" id="inputComp" list="datalistComp">
            <datalist id="datalistComp"></datalist>
          </div>
          <span class="left-align">Observacion:</span><br>
          <div class="row left-align col s6">
            <input class ="error" type="text" id="inputObser">
          </div>
          <br>
            <table id="empTable">
              <thead>
              <tr class="grey darken-1">
                <th>Ingrediente</th>
                <th>Marca</th>
                <th>Proveedor</th>
                <th>Distribuidor</th>
                <th>Precio venta</th>
                <th>Precio compra</th>
                <th>Cantidad</th>
                <th>Divisa</th>
                <th>Tipo de pago</th>
                <th>Tasa</th>
                <th>Fecha de pago</th>
                <th>Fecha de entrega</th>
                </tr>
            </thead>
            <tbody id="body"></tbody>
          </table>
          <br>
          
          <div class="row">
            <a class="blue waves-effect waves-light btn col s6 tooltipped" data-tooltip="Añadir una fila" onclick="addRow()">Agregar Artículo</a> 
            <a  class="red waves-effect waves-light btn col s6  tooltipped" data-position="right" data-tooltip="Eliminar ultima fila" onclick="removeRow()">Eliminar Articulo</a> 
          </div>
          <div class="row" id="divProp" style="display:none">
            <a class="green waves-effect waves-light col s12 btn" onclick="showModal()">Realizar Propuesta</a>
          
          </div>
        </div>
      </div>
    </div>
</div>

<!--
  <i class="material-icons">cancel</i>
  <i class="material-icons">add</i>
-->
<br>


  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">dehaze</i>
    </a>
    <ul>
      <li><a class="btn-floating green tooltipped" data-position="left"  data-tooltip="ir a Whatsapp"><i class="material-icons">call</i></a></li>
      <li><a class="btn-floating blue tooltipped" data-position="left"  data-tooltip="Reutilizar pedido "><i class="material-icons">cached</i></a></li>
      <li><a class="btn-floating orange tooltipped" data-position="left"  data-tooltip="Nuevo Pedido"><i class="material-icons">add_circle</i></a></li>
    </ul>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Advertencia!</h4>
      <p>¿Desea realizar una Propuesta ?</p>
    </div>
    <div class="modal-footer">
      <a onclick="submit()" class="modal-close waves-effect waves-green btn-flat"><i class="material-icons">check</i></a>
    </div>
  </div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('#botonsito');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'right',
      hoverEnabled: false
    });
  });

$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
 $(document).ready(function(){
    $('.tooltipped').tooltip();
  });

  $(document).ready(function(){
    $('.modal').modal();
  });

   $(document).ready(function(){
    $('select').formSelect();
  });    

// datepicker initialization and conf

function start_datepicker(){
    $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
  });
}

var headers = [];
var savings_data;
var compradores_data;
var proveedores_data;
var empresas_data;
var tipo_pago;
var divisas = ["Dolar", "Pesos"];
var tasas = ["0%","0.3%","0.4%","0.5%","0.6%","0.70%","0.75%","0.85%","1.00%","2.00%","2.50%","2.75%","3.00%","3.50%","36.00%","INCLUIDA"];

// to validate if inputs are correct
var isValidated = false;
var all_ingredientes = [];
var all_marcas = [];
var all_proveedores = [];
var all_empresas = [];
var all_tipoPago = [];
var all_compradores = []
var errors = [];

  $(document).ready(function(){
  $("#empTable thead tr th").each(function(index){
    if ($(this).text() != "Operaciones"){
      headers.push($(this).text())
    }
  })
    $.ajax({
      type: "GET",
      url: "{% url 'api_articulos' %}",
      dataType: "json",
      success: function(data) {      
        savings_data = data;
      }
    });

    $.ajax({
      type: "GET",
      url: "{% url 'api_distribuidor' %}",
      dataType: "json",
      success: function(data) {      
        distribuidores_data = data;
      }
    });
    $.ajax({
      type: "GET",
      url: "{% url 'api_empresa' %}",
      dataType: "json",
      success: function(data) {      
        empresas_data = data;
      }
    });

    $.ajax({
      type: "GET",
      url: "{% url 'getPagos' %}",
      dataType: "json",
      success: function(data) {      
        tipo_pago = data;
      }
    });

    hideSend();
  });

  $(document).ready(function(){
    $.ajax({
      type: "GET",
      url: "{% url 'api_comprador' %}",
      dataType: "json",
      success: function(data) {      
        compradores_data = data;
        var datalistComp = document.getElementById("datalistComp");
        for (var i = 0; i < compradores_data.length; i++) {
            var optionComp = document.createElement('option');
            optionComp.setAttribute('value',''+compradores_data[i]['usuario']);
            optionComp.setAttribute('id','option'+i);
            all_compradores.push(compradores_data[i]['usuario']);
            datalistComp.appendChild(optionComp);        
          }
      }
    });
    hideSend();
  });


  function hideSend(){
    var bodyT = document.getElementById('body');
    var rowCnt = bodyT.rows.length;
    var divS = document.getElementById("divProp");
    if (rowCnt < 1){
      divS.style.display = "none";
    }else {
      divS.style.display = "block";
    }
  };

function addRow() {
  var defaultPlace = ["0.00", "0.00", "0.00"]
  var empTab = document.getElementById('body');
  var rowCnt = empTab.rows.length;    // numero de columnas
  var tr = empTab.insertRow(rowCnt); // numero de filas
  for (var c = 0; c < headers.length; c++) {             
    var td = document.createElement('td'); 
    td = tr.insertCell(c);
    if (c==0) {
      input_ingrediente(c, rowCnt,td)
    }else if(c==1){   
      input_marca(c, rowCnt,td);
    }else if (c==2) {
      input_proveedor(c, rowCnt,td);
    }else if (c==3) {
      input_empresa(c, rowCnt,td);
    }else if (c==7) {
      input_divisa(c, rowCnt,td);
    }else if (c==8) {
      input_tipoPago(c, rowCnt,td);
    }else if (c==9) {
      input_tasa(c, rowCnt, td);
    }else if(c==10){
      input_fechaPago(c, rowCnt,td);
    }else if (c==11) {
      input_fechaEntrega(c, rowCnt, td);
    }else{
      var ele = document.createElement('input');
      ele.setAttribute('type', 'text');
      ele.setAttribute('size', '4');
      ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
      ele.setAttribute('autocomplete', 'off');
      var pl = defaultPlace[c-3];
      ele.setAttribute('placeholder', pl);
      td.appendChild(ele);
    };
  }
  hideSend();
};

function refreshMarca(inputId){
  var input = document.getElementById('input0.'+inputId).value;
  var datalist = document.getElementById('datalist1.'+inputId);

  var url = "{% url 'filterArticulo' "replace" %}";
  url = url.replace('replace',input);
  $.ajax({
    type: "GET",
    url: url,
    dataType: "json",
    success: function(data) {    
      datalist.innerHTML = " ";
      for (var i = 0; i < data.length; i++) {
        var option = document.createElement('option');
        option.setAttribute('value',''+data[i].marca+'');
        option.setAttribute('id','option'+i);
        datalist.appendChild(option);
      }
    }
  });
}

function removeRow(){
  var empTab = document.getElementById('body');
  var rowCnt = empTab.rows.length;    // numero de columnas
  empTab.deleteRow(rowCnt-1); // numero de filas
  hideSend();
}

function showModal(){
  $('#modal1').modal('open');
};

function validateData(rowCnt){
  var boolComp = false;
  var inputComprador = document.getElementById("inputComp");
  if (inputComprador.value === null || inputComprador.value.match(/^ *$/) !== null) {
    boolComp = false;
    var error = "El comprador no puede estar vacio";
    if (errors.indexOf(error) < 0) {
      errors.push(error);
    }
    inputComprador.style.borderColor = '#CF0029';
  }else{ 
    if (all_compradores.indexOf(inputComprador.value)  > -1) {
      boolComp = true;
    }else{
      boolComp = false;
      var error = "El comprador seleccionado no está dentro de las opciones permitidas";
      if (errors.indexOf(error) < 0) {
        errors.push(error);
      }
      inputComprador.style.borderColor = '#CF0029';
    }
  }
  for (var i = 0; i < rowCnt; i++) {
    var boolIng = false;
    var boolMar = false;
    var boolCant = false;
    for (var j = 0; j < headers.length; j++) {
      var input = document.getElementById('input'+j+'.'+i+'');
      if (j == 0) { //ingrediente
        if (input.value === null || input.value.match(/^ *$/) !== null) {
          boolIng = false
          var error = "El ingrediente no puede estar vacio";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
        }else{
          if (all_ingredientes.indexOf(input.value) > -1) {
            boolIng = true;
          }else{
            boolIng = false;
            var error = "El ingrediente no está dentro de las opciones permitidas";
            if (errors.indexOf(error) < 0) {
              errors.push(error);
            }
            input.style.borderColor = '#CF0029';
          }
        }
      }else if (j == 1) {
          if (input.value === null || input.value.match(/^ *$/) !== null) {
            boolMar = false;
            var error = "La marca no puede estar vacia, si no requiere una en específico seleccione NINGUNA";
            if (errors.indexOf(error) < 0) {
              errors.push(error);
            }
            input.style.borderColor = '#CF0029';
          }else{
            if (all_marcas.indexOf(input.value) > -1) {
              boolMar = true;
            }else{
              boolMar = false;
              var error = "La marca no está dentro de las opciones permitidas";
              if (errors.indexOf(error) < 0) {
                errors.push(error);
              }
              input.style.borderColor = '#CF0029';
            }
          }
      }else if (j == 2) {
        if (all_proveedores.indexOf(input.value)  > -1 || input.value === null || input.value.match(/^ *$/) !== null) {
          isValidated = true;
        }else{
          isValidated = false;
          var error = "El distribuidor seleccionado no está dentro de las opciones permitidas";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
        }
      }else if (j == 34) {
        if (!isNaN(input.value) || input.value === null || input.value.match(/^ *$/) !== null) {
          isValidated = true;
        }else{
          isValidated = false;
          errors.push("El precio venta debe ser un número");
          input.style.borderColor = '#CF0029'; 
        }
      }else if (j == 5) {
        if (!isNaN(input.value) || input.value === null || input.value.match(/^ *$/) !== null) {
          isValidated = true;
        }else{
          isValidated = false;
          var error = "El precio compra debe ser un número";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029'; 
        }
      }else if (j == 6) {
        if (input.value === null || input.value.match(/^ *$/) !== null) {
          boolCant = false;
          var error = "La cantidad no puede estar vacia";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
        }else{
          if (!isNaN(input.value)) {
            boolCant = true;
          }else{
            boolCant = false;
            var error = "La cantidad debe ser un número";
            if (errors.indexOf(error) < 0) {
              errors.push(error);
            }
            input.style.borderColor = '#CF0029'; 
          }
        }
      }else if (j == 7) {
        if (divisas.indexOf(input.value)  > -1 || input.value === null || input.value.match(/^ *$/) !== null) {
          isValidated = true;
        }else{
          isValidated = false;
          var error = "La divisa seleccionada no está dentro de las opciones permitidas";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
        }
      }else if(j == 8){
        if (all_tipoPago.indexOf(input.value)  > -1  || input.value === null || input.value.match(/^ *$/) !== null) {
          isValidated = true;
        }else{
          isValidated = false;
          var error = "El tipo de pago seleccionado no está dentro de las opciones permitidas";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
        }
      }else if(j == 9){
         if (tasas.indexOf(input.value)  > -1  || input.value === null || input.value.match(/^ *$/) !== null || input.value == '/') {
          isValidated = true;
         }else{
          isValidated = false;
          var error = "La tasa seleccionada no está dentro de las opciones permitidas";
          if (errors.indexOf(error) < 0) {
            errors.push(error);
          }
          input.style.borderColor = '#CF0029';
         }
      }
    }
  }
  return (isValidated && boolCant && boolMar && boolIng && boolComp);
};

function submit(){
  var empTab = document.getElementById('body');
  var rowCnt = empTab.rows.length;
  if (validateData(rowCnt)) {
    var dict = [];
    var inputComp = document.getElementById('inputComp');
    var inputObser = document.getElementById('inputObser');
    var vendedor = document.getElementById("vendedorSpan").innerHTML;
     for (var i = 0; i < rowCnt; i++) {
      var tmp_dict = {};
      for (var j = 0; j < headers.length; j++) {
        var input = document.getElementById('input'+j+'.'+i+'');
        var tmp = {};
        tmp_dict[headers[j]] = input.value;
      }
      dict.push(tmp_dict);
     }
     var aux_dict = {
        'data':dict,
        'comprador':inputComp.value,
        'vendedor':vendedor,
        'observacion':inputObser
     }
     fetch("{% url 'api_articulos' %}",{
      method:'POST',
      headers: {
        [window.drf.csrfHeaderName]:window.drf.csrfToken,
        'Content-Type':'application/x-www-form-urlencoded;charset=utf-8',
      },
      body: JSON.stringify(aux_dict),
     }).then(async function(res){
        var data = await res.json();
        var url = "{% url 'negocio' "0" %}";
        url = url.replace('0',data);
        window.location = url;
     });
  }else{
    console.log(errors);
    var print_errors="";
    for (var i = 0; i < errors.length; i++) {
      print_errors = print_errors.concat('\n'+errors[i])
    }
    swal("Oops!", print_errors, "error");
    errors = [];
  }
};


// funciones de los inputs

function input_ingrediente(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+rowCnt);
  ele.setAttribute('onchange','refreshMarca("'+rowCnt+'")');
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Ingrediente');
  ele.setAttribute('autocomplete', 'off');
  var datalistIng = document.createElement('datalist');
  datalistIng.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
  
  td.appendChild(ele);
  td.appendChild(datalistIng);
  for (var i = 0; i < savings_data.length; i++) {
    var optionIng = document.createElement('option');
    optionIng.setAttribute('value',''+savings_data[i].ingrediente);
    all_ingredientes.push(savings_data[i].ingrediente); //to validate later
    datalistIng.appendChild(optionIng);        

  }
}


function input_marca(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+(rowCnt));
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Marca');
  ele.setAttribute('autocomplete', 'off');
  var datalistMar = document.createElement('datalist');
  datalistMar.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
  
  td.appendChild(ele);
  td.appendChild(datalistMar);
  for (var i = 0; i < savings_data.length; i++) {
    var optionMar = document.createElement('option');
    optionMar.setAttribute('value',''+savings_data[i].marca+'');
    optionMar.setAttribute('id','option'+i);
    all_marcas.push(savings_data[i].marca);
    datalistMar.appendChild(optionMar);        
  }
}

function input_proveedor(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+rowCnt);
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Proveedor');
  ele.setAttribute('autocomplete', 'off');
  var datalistDis = document.createElement('datalist');
  datalistDis.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);

  td.appendChild(ele);
  td.appendChild(datalistDis);
  for (var i = 0; i < distribuidores_data.length; i++) {
    var optionDis = document.createElement('option');
    optionDis.setAttribute('value',''+distribuidores_data[i].nombre);
    optionDis.setAttribute('id','option'+i);
    all_proveedores.push(distribuidores_data[i].nombre);
    datalistDis.appendChild(optionDis);        
  }
}

function input_empresa(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+rowCnt);
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Empresa');
  ele.setAttribute('autocomplete', 'off');
  var datalistDis = document.createElement('datalist');
  datalistDis.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
 
  td.appendChild(ele);
  td.appendChild(datalistDis);
  for (var i = 0; i < empresas_data.length; i++) {
    var optionDis = document.createElement('option');
    optionDis.setAttribute('value',''+empresas_data[i].empresa);
    optionDis.setAttribute('id','option'+i);
    all_empresas.push(empresas_data[i].empresa);
    datalistDis.appendChild(optionDis);        
  }
  
}

function input_divisa(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('size', '9');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+(rowCnt));
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Divisa');
  ele.setAttribute('autocomplete', 'off');
  var datalistDivisa = document.createElement('datalist');
  datalistDivisa.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
  
  td.appendChild(ele);
  td.appendChild(datalistDivisa);
  for (var i = 0; i < divisas.length; i++) {
    var optionDivisa = document.createElement('option');
    optionDivisa.setAttribute('value',''+divisas[i]);
    optionDivisa.setAttribute('id','option'+i);
    datalistDivisa.appendChild(optionDivisa);        
  }
}

function input_tipoPago(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+(rowCnt));
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('onchange','desactivarTasa('+rowCnt+');');
  ele.setAttribute('placeholder', 'Tipo de pago');
  ele.setAttribute('autocomplete', 'off');
  var datalistPagos = document.createElement('datalist');
  datalistPagos.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
  
  td.appendChild(ele);
  td.appendChild(datalistPagos);
  for (var i = 0; i < tipo_pago.length; i++) {
    var optionPagos = document.createElement('option');
    optionPagos.setAttribute('value',''+tipo_pago[i].nombre);
    optionPagos.setAttribute('id','option'+i);
    all_tipoPago.push(tipo_pago[i].nombre);
    datalistPagos.appendChild(optionPagos);        
  }
}

function input_tasa(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('size', '9');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('list', 'datalist'+(c)+'.'+(rowCnt));
  ele.setAttribute('onclick','this.select();');
  ele.setAttribute('placeholder', 'Tasa');
  ele.setAttribute('autocomplete', 'off');
  var datalistTasa = document.createElement('datalist');
  datalistTasa.setAttribute('id', 'datalist'+(c)+'.'+rowCnt);
  
  td.appendChild(ele);
  td.appendChild(datalistTasa);
  for (var i = 0; i < tasas.length; i++) {
    var optionTasa = document.createElement('option');
    optionTasa.setAttribute('value',''+tasas[i]+'');
    optionTasa.setAttribute('id','option'+i);
    datalistTasa.appendChild(optionTasa);        
  }
}

function input_fechaPago(c, rowCnt,td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('size', '18');
  ele.setAttribute('class', 'datepicker');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('placeholder', 'Seleccione Fecha');
  ele.setAttribute('autocomplete', 'off');
  td.appendChild(ele);
  start_datepicker();
}

function input_fechaEntrega(c, rowCnt, td){
  var ele = document.createElement('input');
  ele.setAttribute('type', 'text');
  ele.setAttribute('size', '1');
  ele.setAttribute('class', 'datepicker');
  ele.setAttribute('id', 'input'+(c)+'.'+rowCnt);
  ele.setAttribute('placeholder', 'Seleccione Fecha');
  ele.setAttribute('autocomplete', 'off');
  td.appendChild(ele);
  start_datepicker();
}

function desactivarTasa(rowCnt){
  var inputPago = document.getElementById("input7."+rowCnt).value;
  var datalistTasa = document.getElementById("input8."+rowCnt);
  var inputTasa = document.getElementById("input8."+rowCnt);
  if (inputPago.toLowerCase() =="contado") {
    inputTasa.disabled = true;
    inputTasa.setAttribute("placeholder","/");
  }else if (inputTasa.disabled) {
    inputTasa.disabled = false;
    inputTasa.setAttribute("placeholder","Tasa");
  }
}
</script>

{% endblock body %}