{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
Logística
{% endblock title %}
{%block body%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/logistica.css' %}">
</head>

<body style="overflow: hidden;">

    <div class="row" style="height: 100%;">

        <div class="menuZone clv">
            <h4 class="tituloPagina"> Logistica</h4>
        </div>

        <div class="col s10 offset-s1 offset-l2 l6 totalh">
            <div class="tablelog">
                <table style="border-collapse: inherit !important" class="tabla_log">
                    <thead class="titulos">
                        <tr>
                            <th>Destinatario </th>
                            <th>Empresa</th>
                            <th>Destino</th>
                            <th>Fecha de Entrega</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tableLogisticaR">
                        {% for logistica in lista_logistica %}
                        {% if logistica.estado == 'Atrasado' %}
                        <tr class="red-text">
                            {% elif logistica.estado == 'Entregado' %}
                        <tr class="green-text">
                            {% elif logistica.estado == 'En Tránsito' %}
                        <tr class="ligthblue-text">
                            {% else %}
                        <tr class="grey-text">
                            {% endif %}
                            <td>{{logistica.destinatario}}</td>
                            <td>{{logistica.empresa}}</td>
                            <td>{{logistica.destino}}</td>
                            <td>{{logistica.fecha}}</td>
                            <th class="card-title">{{logistica.estado|upper}}</th>
                            <td><a class="verTodos btn white-text no-shadows" href="{% url 'info_negocio' logistica.id_de_neg %}">
                                ver detalles</a></td>
                        </tr>
                    
                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="modalDetalleLogistica" class="modal">
        <div id="modalLogistica" class="modal-content">
        </div>
    </div>

    <div id="modalDetalleNegocio" class="modal">
        <div id="modalNegocio" class="modal-content">
        </div>
    </div>

</body>
{% endblock body %}