{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/logistica.css' %}">
</head>

<body style="overflow: hidden;">

    <div class="row" style="height: 100%;">

        <div class="menuZone clv">
            <div class="menu">
                <div class="col-s2 h-bar circule">
                    <i class="medium material-icons" style="position: relative; color:#005221;">local_shipping</i>
                </div>
                <h4 class="col l9 s9" style="margin:0; font-weight: 300;"> Logistica</h4>
            </div>
        </div>

        <div class="clv">
            <table style="border-collapse: inherit !important" class="tabla_log ">
                <thead class="titulos">
                    <tr>
                        <th>Destinatario </th>
                        <th>Empresa</th>
                        <th>Destino</th>
                        <th>Fecha de Entrega</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableLogisticaR">
                    {% for logistica in lista_logistica %}
                    {% if logistica.estado == 'Atrasado' %}
                    <tr class=" red">
                        {% elif logistica.estado == 'Entregado' %}
                    <tr class="green">
                        {% elif logistica.estado == 'En Tránsito' %}
                    <tr class="ligthblue">
                        {% else %}
                    <tr class="grey">
                        {% endif %}
                        <td>{{logistica.destinatario}}</td>
                        <td>{{logistica.empresa}}</td>
                        <td>{{logistica.destino}}</td>
                        <td>{{logistica.fecha}}</td>
                        <th class="card-title">{{logistica.estado}}</th>
                        <td><a class="verTodos btn white-text" onclick="detalleLogistica('{{logistica.id_prop}}')">
                            ver detalles</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


</body>
<script>


</script>
{% endblock body %}