{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/logistica.css' %}">
</head>

<body style="overflow: hidden;">

    <div class="row" style="height: 100%;">

        <div class="menuZone clv">
            <div class="menu">
                <div class="col-s2 h-bar circule">
                    <i class="medium material-icons" style="position: relative; color:#005221;">local_shipping</i>
                </div>
                <h4 class="col l9 s9" style="margin:0; font-weight: 300;"> Logistica</h4>
            </div>
        </div>

        <div class="clv">
            <table style="border-collapse: inherit !important" class="tabla_log">
                <thead class="titulos">
                    <tr>
                        <th>Destinatario </th>
                        <th>Empresa</th>
                        <th>Destino</th>
                        <th>Fecha de Entrega</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableLogisticaR">
                    {% for logistica in lista_logistica %}
                    {% if logistica.estado == 'Atrasado' %}
                    <tr class="red-text">
                        {% elif logistica.estado == 'Entregado' %}
                    <tr class="green-text">
                        {% elif logistica.estado == 'En Tránsito' %}
                    <tr class="ligthblue-text">
                        {% else %}
                    <tr class="grey-text">
                        {% endif %}
                        <td>{{logistica.destinatario}}</td>
                        <td>{{logistica.empresa}}</td>
                        <td>{{logistica.destino}}</td>
                        <td>{{logistica.fecha}}</td>
                        <th class="card-title">{{logistica.estado|upper}}</th>
                        <td><a class="verTodos btn white-text no-shadows" href="{% url 'info_negocio' logistica.id_prop %}">
                            ver detalles</a></td>
                    </tr>
                   
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalDetalleLogistica" class="modal">
        <div id="modalLogistica" class="modal-content">
        </div>
    </div>

    <div id="modalDetalleNegocio" class="modal">
        <div id="modalNegocio" class="modal-content">
        </div>
    </div>

</body>
<script>

// function detalleLogistica(idProp){
//     $.ajax({
//         type: 'POST',
//         url: "{% url 'detalleLogistica' %}",
//         data: {'idProp':idProp,
//         csrfmiddlewaretoken: '{{ csrf_token }}'},
//         success: function (data) {
//         $("#modalLogistica").html(data);
//         $('#modalDetalleLogistica').modal('open'); 
//         },
//         error: function (response) {
//             console.log("Error")
//         }
//     })
// };

// function sendAlertaLog(){
//     var titulo = document.getElementById("tituloAlertaLog").value;
//     if (titulo === ""){
//       M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
//     } else {
//       var descri = document.getElementById("descriAlertaLog").value;
//       var categoria = "Logistica";
//       var idNegocio = document.getElementById("idNegocioLog").value;
//       $.ajax({
//           url: "{% url 'sendAlertaLog' %}",
//           type: 'POST',
//           data: {'titulo':titulo,'descri':descri,'categoria':categoria,'idNegocio':idNegocio,
//             csrfmiddlewaretoken: '{{ csrf_token }}'},
//           success: function(data){ 
//               M.toast({html: data.result});
//               if (data.estado){
//                 $('#modalDetalleLogistica').modal('close');
//               };  
//           },
//           error: function (data) {
//               console.log(data.result)
//           }
//       });
//     }
    
// };

// function ocultarEstadoLog(){
//     $(".textEstado").hide();
//     $(".selecEstado").show();
//     $("#mostrarEstadoLog").hide();
//     $("#confirmarEstadoLog").show();
// };

// function cambiarEstadoLog(){
//     var titulo = document.getElementById("tituloAlertaLog").value;
//     var descri = document.getElementById("descriAlertaLog").value;
//     var idPideAlertaLog = document.getElementById("idPideAlertaLog").value;
//     var receptor = document.getElementById("selectModalAlertLog").value;
//     if (idPideAlertaLog == "1" && titulo === ""){
//       M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
//     } else {
//       var estadosId = [];
//       var grid = document.getElementById("tablaLogEstados");
//       var selectInput = grid.getElementsByTagName("SELECT");
//       for (var i = 0; i < selectInput.length; i++) {
//           var estado=1;
//           var row = selectInput[i];
//           var id = $(row).data("id");
//           console.log(row.value);
//           if (row.value == 'Entregado') {
//             estado = 3
//           } else if (row.value == 'Atrasado') {
//             estado = 1
//           } else if (row.value == 'En'){
//             estado = 2
//           } else {
//             estado = 4
//           };          
//           console.log(estado);
//           var value_log = estado +"-"+ id
//           estadosId.push(value_log);
//       };
//       var jsonText = JSON.stringify(estadosId);      
//       $.ajax({
//         url: "{% url 'setLogistica' %}",
//         type: 'POST',
//         data: {'jsonText':jsonText,'titulo':titulo,'descri':descri,'receptor':receptor,'envio':idPideAlertaLog,
//           csrfmiddlewaretoken: '{{ csrf_token }}'},
//         success: function(data){
//           $('#modalDetalleLogistica').modal('close'); 
//           M.toast({html: data.result})
//           $.ajax({
//             url: "{% url 'reloadLog' %}",
//             type: 'GET',
//             data: {
//                 csrfmiddlewaretoken: '{{ csrf_token }}'},
//                 success: function(data){
//                     $('#tableLogisticaR').html(data);
//                 },
//                 error: function (data) {
//                   console.log(data.result)
//               }
//             });
//         },
//         error: function (data) {
//             M.toast({html: data.result})
//         }
//       });
//     }
         
// };

// function formAlertaLog(){
//     $("#btnAlertaLog").hide();
//     $("#divFormSendAlertaLog").show();
//     $("#btnsendAlertaLog").show();
//     document.getElementById("idPideAlertaLog").value = 1;
// };

// function detalleArticuloNegocio(idItem, funOrig){
//     $.ajax({
//       type: 'POST',
//       url: "{% url 'detalleItem' %}",
//       data: {'idItem':idItem,
//       csrfmiddlewaretoken: '{{ csrf_token }}'},
//       success: function (data) {
//         $("#modalNegocio").html(data);
//         $('#modalDetalleNegocio').modal('open');
//         if (funOrig == 2){
//           $('#modalDetalleLogistica').modal('close'); 
//         }
//       },
//       error: function (response) {
//           console.log("Error")
//       }
//     })
// };

</script>
{% endblock body %}