<div class="modal-content">
  
    <div class="row">
    
      <div class="right">  
        </div>
        <div class="row">
          <div class="container">
            <div class="input-field col s12 shearS" style="padding: 0rem;">
              <input id="inputBuscadorNegocioAlerta"
                placeholder="Buscar Negocio" onkeyup="searchBuscadorAlerta()" type="text">
              <i class="medium material-icons shear_circule" style="position: relative; left: 1px;">search</i>
            </div>
          </div>
        </div>
        <table class="tablita" id="tablitaAlerta">
          <thead>
            <tr>
                <th style="display:none" class="auxSem"></th>
                <th>Fecha</th>
                <th>Empresa</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Ver Negociación</th>
            </tr>
          </thead>
          <tbody id="tableAlertas">
            {% for negocio in negocios%}
                <tr data-id={{negocio.id}}>
                    <td style="display:none" class="auxSem">
                      <label id="contenido">
                          <input type="checkbox" onclick="selNegocioModalAlerta()" data-id={{negocio.id}} class="filled-in" id="input_{{negocio.id}}"/>
                          <span></span>
                      </label>
                    </td>
                    <td>{{negocio.timestamp|date:"M d, Y"}}</td>
                    <td> {{negocio.comprador.empresa.razon_social}}</td>
                    <td>{{negocio.comprador.persona.user.last_name}} {{negocio.comprador.persona.user.first_name}}</td>
                    <td>{{negocio.estado}}</td>
                    <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows" href="{% url 'info_negocio' negocio.id_prop %}"><i class=" small material-icons ">search</i></a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row">
          <a class="waves-effect waves-light btn botonsote green col s12 nego no-shadows" id="nego" onclick="showChangeEstados()"> Seleccionar un negocio </a>
          <br>
          <form class="col s12" id="formSendAlerta" action ="#">
            <div style="display:none" id="divFormSendAlerta">
              <input type="hidden" name="idNegocioAlerta" id="idNegocioAlerta" value={{negocio.id}}> 
              <div class="row">
                <div class="input-field col s4">
                  <select id="selectModalAlert">
                    <option class="selected" value="Vencimiento">Vencimientos</option>
                    <option value="Presupuesto">Presupuesto</option>
                    <option value="Logistica">Logistica</option>
                  </select>
                  <label> Tipo de Notificacion</label>
                </div>
              </div>             
              <div class="row">
                <div class="input-field col s3">
                  <textarea id="tituloAlerta" name="tituloAlerta" class="materialize-textarea"></textarea>
                  <label for="titulo">Titulo</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="descriAlerta" class="materialize-textarea"></textarea>
                  <label for="descri">Descripcion</label>
                </div>
              </div>              
          </div>
          </form>
        </div>
      </div>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    <a href="#!" style="display:none" id="btnSendAlerta" onclick="sendAlertaModal()" class="waves-effect waves-green btn-flat">Enviar</a>
  </div>
</div>

<script>
  
  $(document).ready(function(){
    $('select').formSelect();
  });
  
  function searchBuscadorAlerta() {
    var value = $("#inputBuscadorNegocioAlerta").val().toLowerCase();
    $("#tablitaAlerta tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  }

</script>