<style>
.titulito{
   font-size: 30px;
   font-family: 'Montserrat';
   text-align: center;
 }


 .barra{
  background-color: #757474;
  height: 40px;
  border-radius: 1em;
  
}

</style>

  <div class="modal-content">
   <div class="row" >
      <div class="col s12 " ">
         <div class="col s10 "><h4 class="left-align ">{{notificacion.titulo}}</h4></div>
         <div class="col s2 "><span class="right-align" style="color: grey;">{{notificacion.timestamp|date:"M d, Y"}}  </span> </div>
         <div class="col s12"  style="border-bottom: solid rgb(128, 128, 128, 0.5);"></div>
      </div>
      <br>
      <div class="espacio col s12" style="height: 25px;"></div>
      
      <div class="col s12">
         <div  >
      <div class="conteiner col s10 offset-s1">
         <span style="margin-top: 0px;" >{% if notificacion.descripcion != None %}{{notificacion.descripcion}}{% else %}Sin descripción {% endif %}</span> 
      </div>
      <br>
      <div class="espacio" style="height: 30px;"> </div>
      </div>
      
   </div>
   
      <div class="col s12">
         
         <div  class="col s12 barra center-align " ><span class="titulito white-text center-align "> Negocio Relacionado</span> </div>
         <div class="espacio" style="height: 30px;"> </div>
         <table class="tablita" id="tablitaAlerta">
            <thead>
              <tr>
                  <th style="display:none" class="auxSem"></th>
                  <th>Fecha</th>
                  <th>Empresa</th>
                  <th>Cliente</th>
                  <th>Código de negocio</th>
                  <th>Estado</th>
                  <th>Ver Negocio</th>
              </tr>
            </thead>
            <tbody id="tableAlertas">
              
                  <tr data-id={{negocio.id}}>
                      <td>{{negocio.timestamp|date:"M d, Y"}}</td>
                      <td>{{negocio.comprador.empresa.razon_social}}</td>
                      <td>{{negocio.comprador.get_full_name}}</td>
                      <td><strong>{{negocio.get_id_de_neg}}</strong></td>
                      <td>{{negocio.estado}}</td>
                      <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows" href="{% url 'info_negocio' negocio.id_prop %}"><i class=" small material-icons ">search</i></a></td>
                  </tr>
            </tbody>
          </table>
          <a href={{notificacion.hyperlink}}>Ver Negociación</a>
      </div>
   </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>

