{% load static %}
{% load auth_extras %}
<div class="modal-content">
    <div class="row" > 
        <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
            <div class="">
                <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/logopres.png' %}">Info Negocio</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row"> 
            <div  class="col s12 barra center-align " >
                <span class="titulito center-align white-text"> Datos</span> 
            </div>
        </div>
        <table>
            <thead>
                <th>Fecha</th>
                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                    <th>Cliente</th>
                {% endif %}
                <th>Vendedor</th>
                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                    <th>Empresa</th>
                {% endif %}
            </thead>
            <tbody>
                <td>{{negocio.timestamp|date:"M d, Y"}}</td>
                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                    <td>{{negocio.comprador.persona.user.get_full_name}}</td>
                {% endif %}
                <td>{{negocio.vendedor.persona.user.get_full_name}}</td>
                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                    <td>{{negocio.comprador.empresa.razon_social}}</td>
                {% endif %}
            </tbody>
        </table>
        <div class="col s12" style="border-bottom: 2px grey solid;"></div>
    </div> 
    {% if resultado == 'Cancelado' %}
        <div class="row" style="border-radius: 2em; background-color: red; box-shadow: 2px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); height: 50px; ">
            <span class="col s4 offset-s4 center white-text" style="font-size: 20px; padding-top: 10px; text-shadow: 0 .5rem 1rem rgba(0,0,0,.15);"> {{resultado}}</span>
        </div>
    {% elif resultado == 'Confirmado' %}
        <div class="row" style="border-radius: 2em; background-color: green; box-shadow: 2px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); height: 50px; ">
        <span class="col s4 offset-s4 center " style="font-size: 20px; padding-top: 10px; text-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">{{resultado}}</span>
        </div>
    {% else %}
        <div class="row" style="border-radius: 2em; background-color: rgb(112, 191, 223); box-shadow: 2px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); height: 50px; ">
            <span class="col s4 offset-s4 center " style="font-size: 20px; padding-top: 10px; text-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">{{resultado}}</span>
        </div>
    {% endif %} 
    
    <div class="row"> 
        <div class="row"> 
            <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Articulos</span> </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Marca</th>
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administracion"%}
                        <th>Distribuidor</th>
                    {% endif %}
                    <th>Cant</th>
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Comprador" or request.user|has_group:"Gerente"%} 
                        <th>Precio Venta</th>
                    {% endif %}
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administracion"%}
                        <th>Precio Compra</th>
                    {% endif %}
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Comprador" or request.user|has_group:"Gerente"%}  
                        <th>divisa</th> 
                        <th>Forma de pago</th>
                    {% endif %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.articulo.ingrediente}}</td>
                    <td>{{item.articulo.marca}}</td>
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administracion"%}
                        <td>{{item.empresa.razon_social}}</td>
                    {% endif %}
                    <td>{{item.cantidad}}</td>
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Comprador" or request.user|has_group:"Gerente"%}  
                        <td>${{item.precio_venta}}</td>
                    {% endif %}
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administracion"%}  
                        <td>${{item.precio_compra}}</td>
                    {% endif %}
                    {% if request.user|has_group:"Vendedor" or  request.user|has_group:"Comprador" or request.user|has_group:"Gerente"%}  
                        <td>{{item.divisa}}</td>
                        <td>{{item.tipo_pago.nombre}}</td>
                    {% endif %}
                    <td><a onclick="detalleArticuloNegocio('{{item.id}}', 1)" class="btn-floating btn-small waves-effect waves-light modal-trigger modal-close modal-trigger red "><i class=" small material-icons ">search</i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="row">
            <div class="row"> 
                <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Comprobantes</span> </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Emisor</th>
                        <th>Fecha</th>
                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>Factura</td>
                        <td> Carlos alberto - adama </td>
                        <td>27/01/21</td>
            
                        <td><a onclick="detalleArticuloNegocio('{{item.id}}', 1)" class="btn-floating btn-small waves-effect waves-light modal-trigger modal-close modal-trigger red "><i class=" small material-icons ">search</i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>