
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}
{% load crispy_forms_tags %}
<div class="container">
<div id="login-page" class="row container">
    <div class="col s12 z-depth-4 card-panel">
       <form class="col s12 login-form" method="POST" action="{% url 'modificar_clientes' cliente.pk %}">
            {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <img src="{% static 'images/logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Buenaventura</p>
          </div>
        </div>
        {{form|crispy}}
        <div class="row">
          <div class="input-field col s12">
            <input type="submit" class="btn waves-effect waves-light col s12" name="Registrarme"> 
          </div>  
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
// select initialization
$(document).ready(function(){
    $('select').formSelect();
});

// datepicker initialization and conf
$(document).ready(function(){
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        yearRange: [1920,2020]
    });
  });


</script>

{% endblock body %}