{% extends 'header.html' %}
{% load auth_extras %}
{% load static %}
{% block imports %}
   <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
   <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static '/css/negocio.css' %}">
{% endblock imports %}
{% block style %}
{% endblock %}

{% block title %}Negociación{% endblock title %}

{%block body%}

{% include "tempAux/loader.html" %}

{% if request.user.clase == 'Vendedor' %}

<div class="materialert error fixed">
  <div class="material-icons">error_outline</div>
  Vista Cliente Activado
</div>

<div class="switch-container">
  <div class="switch">
    <label>
      Vista normal
      <input id="client-view-sw" type="checkbox">
      <span class="lever"></span>
      Vista cliente
    </label>
  </div>
</div>

{% endif %}

<div class="row">
  <div class="menuZone clv">
    <div class="menu">
      <div class="col-s2 h-bar circule">
        <img src="{% static 'images/check.svg' %}" alt="Check icon" style="height: 40%;">
      </div>
      <h4 class="col l9 s9" style="margin:0; font-weight: 300;"> Negociación</h4>
    </div>
    <strong style="font-size: 30px; font-weight: 900; margin-left: 20px;" class="grey-text text-darken-3">{{negocio.id_de_neg}}</strong>
  </div>  
</div>

{% for prop in propuestas %}
<style>
  .show{{prop.id}} {
    }
  .not-show{{prop.id}} {
    display: none;
  }
  .i{{prop.id}} {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }
</style>
{% if not prop.items.count == 0 %}
<div class="row" id="div-table-{{prop.id}}">
  <div class="col s12 m9 {% if prop.envio_comprador and request.user.clase == 'Comprador' %}push-m3{% elif not prop.envio_comprador and request.user.clase == 'Vendedor' %}push-m3{%endif%}">
    <div class="prop-title">
      <p class="prop-creator-name grey-text text-darken-3"><strong>{% if prop.envio_comprador %} {{ negocio.comprador.user.get_full_name }} - {{ negocio.comprador.empresa }} {% else %} {{ negocio.vendedor.user.get_full_name }} {% endif %}</strong></p>
      <p class="prop-date grey-text text-darken-4">{{ prop.timestamp|date:"d/m/Y H:i" }} hs</p>
    </div>
    <div class="card">
      <div class="container__wrapper">
        <div class="container__watermark">
          <img class="w1" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
        <div class="container__watermark">
          <img class="w2" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
        <div class="container__watermark">
          <img class="w3" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
      </div>
      <div class="card-content dark-text">
        <div class="row">
          <table>
            <thead>
              <tr>
                <th class="show{{prop.id}}">Articulo</th>
                {% if not request.user.clase == 'Comprador' %}
                <th class="show{{prop.id}} clientViewSM">Distribuidor</th>
                {% endif %}
                <th class="show{{prop.id}}">Cantidad</th>
                <th class="show{{prop.id}}">{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}</th>
                {% if not request.user.clase == 'Comprador' %}
                <th class="show{{prop.id}} clientViewSM">Precio compra</th>
                {% endif %}
                <th class="{% if request.user.clase == 'Comprador' %}show{{prop.id}}{% elif request.user.clase == 'Vendedor' %}not-show{{prop.id}}{%endif%}">Tipo pago</th>
                <th class="not-show{{prop.id}} clientView">Tasa</th>
                <th class="not-show{{prop.id}} clientView">Fecha pago</th>
                <th class="not-show{{prop.id}} clientView">Fecha entrega</th>
                <th class="not-show{{prop.id}} clientView">Destino</th>
                <th class="clientViewSM">Ver más</th>
              </tr>
            </thead>
            <tbody>
            {% for item in prop.items.all %}
              <tr {% if item.aceptado %}class="green white-text"{% endif %}>
                <td class="show{{prop.id}}">{{ item.articulo }}</td>
                {% if not request.user.clase == 'Comprador' %}
                <td class="show{{prop.id}} clientViewSM">{{ item.proveedor.get_full_name|default_if_none:'' }}</td>
                {% endif %}
                <td class="show{{prop.id}}">{{ item.cantidad }}</td>
                <td class="show{{prop.id}}">{{ item.precio_venta }}</td>
                {% if not request.user.clase == 'Comprador' %}
                <td class="show{{prop.id}} clientViewSM">{{ item.precio_compra|default_if_none:"0,0" }}</td>
                {% endif %}
                <td class="{% if request.user.clase == 'Comprador' %}show{{prop.id}}{% elif request.user.clase == 'Vendedor' %}not-show{{prop.id}}{%endif%} ">{{ item.tipo_pago|default_if_none:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.tasa }}%</td>
                <td class="not-show{{prop.id}} clientView">{{ item.fecha_pago|default:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.fecha_entrega|default:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.destino|default:"Sin definir" }}</td>
                <td class="clientViewSM">
                  <a class="action-btn btn-small bv-gray btn-floating waves-effect waves-light" id="btn-sm-{{prop.id}}" onclick="showMore({{prop.id}}); sm{{prop.id}}=!sm{{prop.id}};"><i class="i{{prop.id}} material-icons table-icons">search</i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-action">
        <span class="obser">Observaciones:</span>
        <p>{{ prop.observaciones|default_if_none:'No hay observaciones'|default:'No hay observaciones' }}</p>
      </div>
    </div>
  </div>
</div>
<script>
  // var btn_sm_{{prop.id}} = document.getElementById('btn-sm-{{prop.id}}');

  // $(btn_sm_{{prop.id}}).each(function () {
  //   $('[id="' + this.id + '"]:gt(0)').remove();
  // });

  var sm{{prop.id}} = false;
  var propIdId = "{{prop.id}}";

  $("#client-view-sw").change(function() {

    if($(this).is(":checked")) {
  
      var propId = "{{prop.id}}";
      if (sm{{prop.id}}) {
        showMore(propId);
        sm{{prop.id}} = !sm{{prop.id}};
      }

    }
    else {

      var propId = "{{prop.id}}";
      if (sm{{prop.id}}) {
        showMore(propId);
        sm{{prop.id}} = !sm{{prop.id}};
      }
    }

    
  });
  
  $(document).ready(function() {
    listProp.push("{{prop.id}}");
  });
  
</script>

{% if negocio.aprobado %}
<script>
  $(document).ready(function () {
    var isBeforeFechaCierre = false;
    var fechaProp = "{{prop.timestamp|date:'c'}}";
    var fechaCierreNeg = "{{negocio.fecha_cierre|date:'c'}}";
    
    if (Date.parse(fechaProp) <= Date.parse(fechaCierreNeg)) {
      isBeforeFechaCierre = true;
    }

    addTables("{{prop.id}}", isBeforeFechaCierre);

  });
</script>
{% endif %}

{% endif %}
{% if forloop.last %}
<div class="row" id="form-table-div">
  <div class="col s12 m9 push-m3">
    <div class="prop-title">
      <p class="prop-creator-name grey-text text-darken-3"><strong>Nueva propuesta</strong></p>
    </div>
    <div class="card">
      <div class="container__wrapper">
        <div class="container__watermark">
          <img class="w1" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
        <div class="container__watermark">
          <img class="w2" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
        <div class="container__watermark">
          <img class="w3" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div>
      </div>
      <div class="card-content dark-text">
        <div class="row">
          <table {% if forloop.last %}id="form"{%endif%}>
            <thead>  
              <tr>
                <th class="show0">Articulo</th>
                <th class="show0 {% if request.user.clase == 'Comprador' %}customerHide{% endif %}">Distribuidor</th>
                <th class="show0">Cantidad</th>
                <th class="show0">{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}</th>
                <th class="show0 {% if request.user.clase == 'Comprador' %}customerHide{% endif %}">Precio compra</th>
                <th class="{% if request.user.clase == 'Comprador' %}show0{% elif request.user.clase == 'Vendedor' %}not-show0{%endif%}">Tipo pago</th>
                <th class="not-show0">Tasa</th>
                <th class="not-show0">Fecha pago</th>
                <th class="not-show0">Fecha entrega</th>
                <th class="not-show0">Destino</th>
                <th>Operaciones</th>
                <th>Ver más</th>
              </tr>
            </thead>
            <tbody>
            {% for item in prop.items.all %}
              <tr {% if item.aceptado %}class="green white-text white-text-input"{% endif %}>
                <td class="show0">{{ item.articulo|default_if_none:'' }}</td>
                {% if not request.user.clase == 'Comprador' %}
                <td class="show0">
                  {% if item.proveedor == None %}
                  <input type='text' name='distribuidor' id='distSearch{{ forloop.counter0 }}' list='distResults' autocomplete='off'>
                  <datalist id='distResults'>
                  {% for dist in distribuidores %}
                    <option data-value="{{ dist.id }}" value="{{ dist.get_full_name }}"></option>
                  {% endfor %}
                  </datalist>
                  {% else %}
                  {{ item.proveedor.get_full_name }}
                  {% endif %}
                </td>
                {% endif %}
                <td class="show0"><input type="number" name="cantidad" min="0" value="{{ item.cantidad|default_if_none:'' }}"></td>
                <td class="show0"><input type="number" name="precio_venta" min="0" step=".01" value="{{ item.precio_venta|default_if_none:''|stringformat:'.2f' }}"></td>
                <td class="show0 {% if request.user.clase == 'Comprador' %}customerHide{% endif %}"><input type="number" name="precio_compra" min="0" step=".01" value="{{ item.precio_compra|default_if_none:''|stringformat:'.2f' }}"></td>
                <td class="{% if request.user.clase == 'Comprador' %}show0{% elif request.user.clase == 'Vendedor' %}not-show0{%endif%}">
                  <select name="tipo_pago" onchange="contadoTasa({{item.id}})" id="tp{{item.id}}">
                    <option value="" {% if item.tipo_pago == None %}selected{% endif %} disabled>Elija tipo pago</option>
                  {% for tipo_pago in tipo_pagos %}
                    <option value="{{ tipo_pago.id }}" {% if tipo_pago.nombre == item.tipo_pago.nombre and item.tipo_pago != None %}selected{% endif %}>{{ tipo_pago.nombre }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td class="not-show0">
                  <select name="tasa" id="tas{{item.id}}">
                    {% for v,t in tasas %}
                    <option value="{{ v }}" {% if v == item.tasa %}selected{% endif %}{% if v == None %}selected disabled{% endif %}>{{ t }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td class="not-show0"><input class="datepicker" autocomplete="off" type="text" name="fecha_pago" value="{{ item.fecha_pago|default:'' }}"></td>
                <td class="not-show0"><input class="datepicker" autocomplete="off" type="text" name="fecha_entrega" value="{{ item.fecha_entrega|default:'' }}"></td>
                <td class="not-show0">
                  <input type="text" name="destino" value="{{item.destino}}"/>
                </td>
                <td>
                  {% if not item.aceptado %}
                  <a class="action-btn btn-small bv-green btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Aceptar" onclick="accept({{ forloop.counter0 }})"><i class="material-icons table-icons">done</i></a>
                  <a class="action-btn btn-small bv-red btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Eliminar" onclick="reject({{ forloop.counter0 }})"><i class="material-icons table-icons">delete</i></a>
                  {% endif %}
                  <a class="action-btn btn-small bv-yellow btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Guardar Ediciones" onclick="update({{ forloop.counter0 }})"><i class="material-icons table-icons">save</i></a>
                  <a class="action-btn btn-small bv-blue btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Eliminar Ediciones" onclick="resetAll({{ forloop.counter0 }}, '{{ item.aceptado }}');"><i class="material-icons table-icons">undo</i></a>
                </td>
                <td>
                  <a class="action-btn btn-small bv-gray btn-floating waves-effect waves-light" id="btn-sm-1" onclick="showMore(0);"><i class="i1 material-icons table-icons">search</i></a>
                </td>
              </tr>
              <script>
                $(document).ready(function() {
                  contadoTasa("{{item.id}}");
                });
              </script>
            {% endfor %}
            {% if not negocio.aprobado %}
              <tr id="extra">
                <td class="show0">
                    <input type="hidden" id='artValue'>
                    <input type="text" name='articulo' id='artSearch' class="autocomplete">
                </td>
                <td class="show0 {% if request.user.clase == 'Comprador' %}customerHide{% endif %}">
                  <input type='text' name='distribuidor' id='distSearch' list='distResults' autocomplete='off'>
                  <datalist id='distResults'>
                  {% for dist in distribuidores %}
                    <option data-value="{{ dist.id }}" value="{{ dist.get_full_name }}"></option>
                  {% endfor %}
                  </datalist>
                </td>
                <td class="show0"><input type="number" name="cantidad" min="0"></td>
                <td class="show0">
                  <input type="number" name="precio_venta" step=".01" min="0" placeholder="{{ item.precio_venta }}">
                </td>
                <td class="show0 {% if request.user.clase == 'Comprador' %}customerHide{% endif %}">
                  <input type="number" name="precio_compra" min="0" step=".01" placeholder="{{ item.precio_compra }}">
                </td>
                <td class="{% if request.user.clase == 'Comprador' %}show0{% elif request.user.clase == 'Vendedor' %}not-show0{%endif%}">
                  <select name="tipo_pago" onchange="contadoTasa('Add')" id="tpAdd">
                    <option value="" selected disabled>Elija tipo pago</option>
                  {% for tipo_pago in tipo_pagos %}
                    <option value="{{ tipo_pago.id }}">{{ tipo_pago.nombre }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td class="not-show0">
                  <select name="tasa" id="tasAdd">
                  {% for v,t in tasas %}
                    <option value="{{ v }}" {% if v == None %}selected disabled{% endif %}>{{ t }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td class="not-show0"><input class="datepicker" autocomplete="off" type="text" name="fecha_pago" value="{{ item.fecha_pago|default:'' }}"></td>
                <td class="not-show0"><input class="datepicker" autocomplete="off" type="text" name="fecha_entrega" value="{{ item.fecha_entrega|default:'' }}"></td>
                <td class="not-show0">
                  <input type="text" name="destino" value=""/>
                </td>
                <td><a class="action-btn no-shadow bv-dark-green btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Agregar" onclick="addArt()"><i class="material-icons">add</i></a></td>
                <td>
                  <a class="action-btn btn-small bv-gray btn-floating waves-effect waves-light" onclick="showMore(0);"><i class="i1 material-icons table-icons">search</i></a>
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-action">
        <span class="obser">Observaciones</span>
        <textarea class="materialize-textarea" id="observaciones" name="observaciones" cols="30" rows="10">{{ prop.observaciones }}</textarea>
        <br><br>
          <a class="send-btn no-shadow bv-green waves-effect waves-light btn modal-trigger" id="send-prop-btn" href="#modalSend" onclick="beforeSubmit();"><i class="material-icons right">send</i>Enviar</a>
        </div>
    </div>
  </div>
</div>
<script>
  $("#client-view-sw").change(function() {
    if($(this).is(":checked")) {
      if (sm) {
        showMore(0);
      }
      
    }
    else {
      if (sm) {
        showMore(0);
      }
    }
    for (var i in listProp) {
      toggleClientView(listProp[i]);
    }
  });
</script>
{% endif %}
{% endfor %}

{% if negocio.aprobado %}
<div class="approved" id="approved">
  <h2>Negocio confirmado ✓</h2>
  <p><strong>Negocio cerrado: {{negocio.fecha_cierre.date}} a las {{negocio.fecha_cierre.time}}</strong></p>
  <a class="send-btn btn no-shadow waves-effect waves-effect waves-light" style="background-color: green;" id="modifyProp" onclick="addTable(); mScrollTo('#form');">Modificar propuesta</a>
</div>
{% endif %}
{% if negocio.cancelado %}
<div class="canceled" id="canceled">
  <h2>Negocio cancelado ✗</h2>
  <p><strong>Negocio cerrado: {{negocio.fecha_cierre.date}} a las {{negocio.fecha_cierre.time}}</strong></p>
</div>
{% endif %}

{% if negocio.aprobado %}
<div id="table-destination">

  <div class="materialert warning" id="infoAlert">
    <div class="material-icons">warning</div>
    Debajo aparecerán las modificaciones que se realizaron posterior a la confirmación del negocio.
    <button type="button" class="close-alert" onclick="closeAlert('#infoAlert');">×</button>
  </div>

</div>
{% endif %}

{% if not negocio.cancelado %}
<div id="modalSend" class="modal">
  <div class="modal-content">
    <h4>Enviar propuesta</h4>
    <p>Estás a punto de enviar una nueva propuesta. ¿Deseas continuar con la operación?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">CANCELAR</a>
    <a onclick="submitProp()" class="modal-action modal-close waves-effect waves-green btn-flat">ENVIAR</a>
  </div>
</div>
{% endif %}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir arriba" id="btnScrollTop"><i class="material-icons">arrow_upward</i></a></li>
    {% if negocio.aprobado %}
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir a Negocio confirmado" onclick="mScrollTo('#approved');"><i class="material-icons">date_range</i></a></li>
    {% endif %}
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir abajo" id="btnScrollBottom"><i class="material-icons">arrow_downward</i></a></li>
  </ul>
</div>

<script src="{% static 'js/negocio.js' %}"></script>

<script type="text/javascript">

  var isAccepted = false;
  var isCanceled = false;

  var last = {{ last | safe }};
  var edits = $.extend(deep=true, {}, last);
  var editable_fields = [
    "distribuidor",
    "precio_venta",
    "precio_compra",
    "cantidad",
    "tipo_pago",
    "tasa",
    "destino",
    "fecha_entrega",
    "fecha_pago",
    "observaciones"
  ]
  var headers = []
  var listProp = [];

  $(document).ready(function(){
    edits.new = {}

    $("#artSearch").devbridgeAutocomplete({
      serviceUrl: "{% url 'api_articulos' %}",
      paramName: "search",
      noCache: true,
      ajaxSettings: {
        method: "GET",
        dataType: "json"
      },
      transformResult: function(res){
        var data = {"suggestions":[]};
        $.map(res, (a) => {
          data.suggestions.push({
            'value': a.ingrediente + " " + a.empresa__nombre_comercial,
            'data': ""+a.id,
          })
        })
        return data;
      },
      minChars: 2,
      onSelect: function (suggestion) {
        $("#artValue").val(suggestion.data)
      },
    });

    // scroll hasta tabla editable o en su defecto, a aviso de negocio aprobado o cancelado
    var elId;
    "{% if not negocio.aprobado and not negocio.cancelado %}"
    elId = "#form-table-div"
    "{% elif negocio.aprobado and not negocio.cancelado %}"
    elId = "#approved"
    "{% elif not negocio.aprobado and negocio.cancelado %}"
    elId = "#canceled"
    "{% endif %}"
    setTimeout(function() {
        mScrollTo(elId);
    }, 500);

    listProp.push('0');

    "{% if negocio.aprobado %}"
    isAccepted = true;
    "{% endif %}"
    "{% if negocio.cancelado %}"
    isCanceled = true;
    "{% endif %}"

    if (isAccepted || isCanceled) {
      $("#form-table-div").hide();
    }

  });

  var userIsComprador = false;
  "{% if request.user.clase == 'Comprador' %}"
  userIsComprador = true;
  "{% endif %}"

  if (userIsComprador) {
    $(".customerHide").hide();
  }
  
  var lastForAccept = last;

  function accept(index){
    console.log("accept")
    if (!userIsComprador) {
      var input = $($("#form")[0].rows[index+1]).find('[name="distribuidor"]')[0]
      if (edits.items[index].proveedor == null) {
        $(input).addClass("invalid");
        return;
      }
    }
    resetForAccept(index)
    edits.items[index].aceptado = true;
    $($("#form")[0].rows[index+1]).addClass("green white-text white-text-input")
  }

  function reject(index){
    console.log("rejected")
    resetAll(index, "False")
    $($("#form")[0].rows[index+1]).addClass("red white-text white-text-input")
    edits.items[index]={};
  }

  function update(index){
    console.log("update");
    if (!userIsComprador && edits.items[index].proveedor == null) {
      var input = $($("#form")[0].rows[index+1]).find('[name="distribuidor"]')[0];
      if (input.value == "") {
        $(input).addClass("invalid");
        return;
      }
      else {
        $(input).removeClass("invalid");
      }
    }
    $($("#form")[0].rows[index+1]).removeClass(["red","green","yellow","white-text","white-text-input"])
    $($("#form")[0].rows[index+1]).addClass("yellow");
    editable_fields.forEach(element => {
      if (element != "observaciones") {
        var input = $($("#form")[0].rows[index+1]).find('[name="'+element+'"]')[0]
        if (input != null) {
          if (input.type == "number"){
            if (input.name == "precio_venta" || input.name == "precio_compra") {
              edits.items[index][element] = parseFloat(input.value)
            }
            else {
              edits.items[index][element] = parseInt(input.value)
            }
          }
          else if (input.name == "distribuidor"){
            var opt = $("#distResults [value='"+input.value+"']");
            edits.items[index]["proveedor"] = opt.data('value');
          } else {
            edits.items[index][element] = input.value
          }
        }
      }
    })
    lastForAccept.items[index] = edits.items[index]
  }

  function resetAll(index, aceptado){
    console.log("resetAll");
    if (aceptado == "False") {
      $($("#form")[0].rows[index+1]).removeClass(["red","green","yellow","white-text","white-text-input"]);
    }
    edits.items[index] = Object.assign({},last.items[index]);
    editable_fields.forEach(element => {
      var input = $($("#form")[0].rows[index+1]).find('[name="'+element+'"]');
      if (element == "tipo_pago" || element == "tasa") {
        input.val(edits.items[index][element]).change();
        input.formSelect()
      }
      else {
        input.val(edits.items[index][element]);
      }
    });
  }

  function resetForAccept(index) {
    console.log("resetForAccept");
    $($("#form")[0].rows[index+1]).removeClass(["red","green","yellow","white-text","white-text-input"]);
    edits.items[index] = Object.assign({},lastForAccept.items[index]);
    editable_fields.forEach(element => {
      var input = $($("#form")[0].rows[index+1]).find('[name="'+element+'"]')
      if (element == "tipo_pago" || element == "tasa") {
        input.val(edits.items[index][element]).change()
        input.formSelect()
      }
      else if (element == "distribuidor") {
        // do nothing
      }
      else {
        input.val(edits.items[index][element])
      }
    });
  }

  var counter = 0;

  function addArt(){
    var n = {}, errors=false;
    var rowId = "NewRow"+counter
    console.log("addArt");
    headers.push("divisa");
    headers.forEach(element => {
      if (userIsComprador) {
        if (element == "precio") {
          element = "precio_venta";
        }
      }
      var input = null;
      if (element != "divisa") {
        input = $($("#extra").find('[name="'+element+'"]'))[0];
      }
      var artId = parseInt($("#artValue")[0].value);
      if (input != null) {
        if (!input.value){
          if (userIsComprador) {
            if (!(input.name == "distribuidor" || input.name == "precio_compra")) {
              errors = true;
              $(input).addClass("invalid");
            }
          }
          else {
            errors = true;
            $(input).addClass("invalid");
          }
        }
        if (element === "distribuidor"){
          element = "proveedor";
          var opt = $("#distResults [value='"+input.value+"']");
          n[element] = opt.data('value');
        } else {
          if (input.type == "number" || input.type == "hidden" || input.name == "tipo_pago"){
            if (input.name == "precio_venta" || input.name == "precio_compra") {
              n[element] = parseFloat(input.value);
            }
            else {
              n[element] = parseInt(input.value);
            }
          }else {
            n[element] = input.value;
            n["articulo"] = artId;
            n["pagado"] = false;
            n["fecha_real_entrega"] = null;
            n["fecha_real_pago"] = null;
            n["fecha_salida_entrega"] = null;
            n["divisa"] = "USD";
            if (userIsComprador) {
              n["proveedor"] = null;
              n["precio_compra"] = 0;
            }
          }
        }
      }
    })
    if (errors){
      return;
    }
    n.aceptado = false;

    edits.items.push(n);

    var tipo_pago = "";

    "{% for tipo_pago in tipo_pagos %}"
    if (parseInt("{{tipo_pago.id}}") == n.tipo_pago) {
      tipo_pago = "{{tipo_pago.nombre}}";
    }
    "{% endfor %}"

    if (sm) {
      showMore(0);
    }

    if (tipo_pago.toLowerCase() == "contado") {
      n.tasa = 0;
    }

    var table = $("#form")[0]
    var row = table.insertRow(table.rows.length-1)
    row.innerHTML = "\
    <td class=\"show0\">"+$("#artSearch")[0].value+"</td>\
    {% if not request.user.clase == 'Comprador' %}\
    <td class=\"show0\">"+$("#distSearch")[0].value+"</td>\
    {% endif %}\
    <td class=\"show0\"><input type=\"number\" name=\"cantidad\" value=\""+n.cantidad+"\"></td>\
    <td class=\"show0\"><input type=\"number\" name=\"precio_venta\" step=\".01\" value="+n.precio_venta+"></td>\
    {% if not request.user.clase == 'Comprador' %}\
    <td class=\"show0\"><input type=\"number\" name=\"precio_compra\" step=\".01\" value=\""+n.precio_compra+"\"></td>\
    {% endif %}\
    <td class=\"{% if request.user.clase == 'Comprador' %}show0{% elif request.user.clase == 'Vendedor' %}not-show0{%endif%}\"><select name=\"tipo_pago\" id=\"tp"+rowId+"\" onchange=\"contadoTasa('"+rowId+"')\"><option value=\""+n.tipo_pago+"\" selected disabled>"+tipo_pago+"</option>{% for tipo_pago in tipo_pagos %}<option value=\"{{ tipo_pago.id }}\">{{ tipo_pago.nombre }}</option>{% endfor %}</select></td>\
    <td class=\"not-show0\"><select name=\"tasa\" id=\"tas"+rowId+"\"><option value=\""+n.tasa+"\" selected disabled>"+n.tasa+"%</option>{% for v,t in tasas %}<option value=\"{{ v }}\" {% if v == "+n.tasa+" %}selected{% endif %}{% if v == None %}disabled{% endif %}>{{ t }}</option>{% endfor %}</select></td>\
    <td class=\"not-show0\"><input type=\"text\" name=\"fecha_pago\" value=\""+n.fecha_pago+"\"></td>\
    <td class=\"not-show0\"><input type=\"text\" name=\"fecha_entrega\" value=\""+n.fecha_entrega+"\"></td>\
    <td class=\"not-show0\"><input type=\"text\" name=\"destino\" value=\""+n.destino+"\"/></td>\
    <td>\
      <a class=\"action-btn btn-small bv-red btn-floating waves-effect waves-light tooltipped\" data-position=\"top\" data-tooltip=\"Eliminar\" onclick=\"reject("+(table.rows.length-3)+")\"><i class=\"material-icons table-icons\">delete</i></a>\
      <a class=\"action-btn btn-small bv-yellow btn-floating waves-effect waves-light tooltipped\" data-position=\"top\" data-tooltip=\"Guardar Ediciones\" onclick=\"update("+(table.rows.length-3)+")\"><i class=\"material-icons table-icons\">save</i></a>\
    </td>\
    <td></td>\
    ";
    $('select').formSelect();
    headers.forEach(element => {
      if (userIsComprador) {
        if (element == "precio") {
          element = "precio_venta";
        }
      }
      var input = $($("#extra").find('[name="'+element+'"]'))
      input.val("");
      input.removeClass(["invalid"])
    })
    $('select').formSelect();
    $("#artSearch").val("");
    counter = counter + 1;
    contadoTasa(rowId);
  }

  function beforeSubmit() {
    var proc = {}
    var errors = false;
    var errorFields = [];
    proc.observaciones = $("#observaciones").val();
    proc.items = [];
    edits.items.forEach(element => {
      if (element.hasOwnProperty("articulo")){
        proc.items.push(element)
      }
    })
    var acc = []
    var count = 0;
    proc.items.forEach(element => {
      for (k in element) {
        if (k == "aceptado") {
          var v = element[k];
          acc.push(v);
        }
      }
      count++;
    })
    if (count == 0) {
      acc = [false];
    }
    var checker = arr => arr.every(Boolean);
    var modalTitle = $("#modalSend .modal-content h4");
    var modalBody = $("#modalSend .modal-content p");
    if (checker(acc)) {
      modalTitle.text("Confirmar negocio");
      modalBody.text("Estás a punto de confirmar el negocio. ¿Deseas continuar con la operación?");
    }
    else if (count == 0) {
      modalTitle.text("Cancelar negocio");
      modalBody.text("Estás a punto de cancelar el negocio. ¿Deseas continuar con la operación?");
    }
    else {
      modalTitle.text("Enviar propuesta");
      modalBody.text("Estás a punto de enviar una nueva propuesta. ¿Deseas continuar con la operación?");
    }
  }

  function submitProp() {
    var proc = {}
    var errors = false;
    var errorFields = [];
    proc.observaciones = $("#observaciones").val();
    proc.items = [];
    edits.items.forEach(element => {
      if (element.hasOwnProperty("articulo")){
        proc.items.push(element)
      }
    })
    var elems = ["id", "propuesta", "aceptado", "pagado", "fecha_real_pago", "fecha_salida_entrega", "fecha_real_entrega", "divisa", "tasa"];
    var artName = "";
    proc.items.forEach(element => {
      for (k in element) {
        if (k == "articulo") {
          "{% for art in arts %}"
            var artId = parseInt("{{art.id}}");
            if (artId == element[k]) {
              artName = "{{art.marca}}";
            }
          "{% endfor %}"
        }
        if (!(jQuery.inArray(k, elems) != -1)) {
          if (element.hasOwnProperty(k)) {
            var v = element[k];
            var errorDesc = "El campo \""+k+"\" del artículo \""+artName+"\" contiene errores."
            if (v == null || v == "" || v == undefined) {
              if (userIsComprador && ((k == "precio_compra" && (v == 0 || v == null)) || (k == "proveedor" && (v == "" || v == null)))) {
                // do nothing
              }
              else {
                errorFields.push(errorDesc);
                errors = true;
              }
            }
          }
        }
      }
    })
    console.log(proc);
    var print_errors = "";
    for (var i = 0; i < errorFields.length; i++) {
      print_errors = print_errors.concat('\n'+errorFields[i]+'\n')
    }
    if (errors) {
      swal("Oops!", print_errors, "error");
    }
    else {
      fetch("",{
        method:'POST',
        headers: {
          [window.drf.csrfHeaderName]: window.drf.csrfToken,
          'Content-Type':'application/json',
        },
        body: JSON.stringify(proc),
      })
        .then(a => {location.reload()})
        .catch(a => {console.log(a)})
    }
  }
</script>
{%endblock body%}