{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block title %}
Negociación {{ negocio.get_id_de_neg }}
{% endblock title %}
{%block body%}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery.autocomplete.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/negocio.css' %}">
</head>





{% include "tempAux/loader.html" %}

{% if request.user.clase == 'Vendedor' %}

<div class="materialert error fixed" id="clienteAlert">
  <div class="material-icons">error_outline</div>
  Vista Cliente Activado
  <button type="button" class="close-alert" onclick="closeAlert('#clienteAlert');">×</button>
</div>

<div class="switch-container hidden">
  <div class="switch">
    <label>
      Vista normal
      <input id="client-view-sw" type="checkbox">
      <span class="lever"></span>
      Vista cliente
    </label>
  </div>
</div>

{% endif %}


<!-- titulo -->
<div class="menuZone clv">
    <h4 class="tituloPagina">Negociación</h4>
    <strong style="font-size: 30px; font-weight: 900; color: #459A33; margin-left: 20px;" class="text-darken-3">{{negocio.get_id_de_neg}}</strong>
</div>

{% for prop in propuestas %}

{% if items_count %}
{% include "negocio/table_history.html" %}
{% endif %}
 
{% if not negocio.is_esp_conf or not request.user.clase == "Comprador" %}
{% if forloop.last %}
{% include "negocio/table_edit.html" %}
{% endif %}
{% endif %}

{% endfor %}

{% if negocio.is_cancelado %}
<div class="canceled" id="canceled">
  <h2>Negocio cancelado ✗</h2>
  <p><strong>Negocio cerrado el {{negocio.fecha_cierre | date:"d/m/Y" }} a las {{negocio.fecha_cierre | date:'H:i' }} hs</strong></p>
</div>
{% endif %}
{% if negocio.is_esp_conf and request.user.clase == "Comprador" %}
<div class="approved" id="approved">
  <h2>Esperando confirmación del vendedor ◌</h2>
  <p><strong>El vendedor está chequeando los datos. En cuanto lo haga, serás notificado vía e-mail.</strong></p>
</div>
{% endif %}

{% if negocio.is_confirmado %}
<div class="approved" id="approved">
  <h2>Negocio confirmado ✓</h2>
  <p><strong>Negocio cerrado el {{negocio.fecha_cierre | date:"d/m/Y" }} a las {{negocio.fecha_cierre | date:'H:i' }} hs</strong></p>
  <a class="send-btn btn no-shadow waves-effect waves-effect waves-light" style="background-color: green;" id="modifyProp" onclick="addTable(); mScrollTo('#form');">Modificar propuesta</a>
</div>

<div id="table-destination">

  <div class="materialert warning" id="infoAlert">
    <div class="material-icons">warning</div>
    Debajo aparecerán las modificaciones que se realizaron posterior a la confirmación del negocio.
    <button type="button" class="close-alert" onclick="closeAlert('#infoAlert');">×</button>
  </div>

</div>
{% endif %}

<div class="fixed-action-btn hidden">
  <a class="btn-floating btn-large">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir a Info Negocio" href="{% url 'info_negocio' negocio.id_de_neg %}"><i class="material-icons">arrow_back</i></a></li>
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir arriba" id="btnScrollTop"><i class="material-icons">arrow_upward</i></a></li>
    {% if negocio.is_confirmado %}
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir a Negocio confirmado" onclick="mScrollTo('#approved');"><i class="material-icons">date_range</i></a></li>
    {% endif %}
    <li><a class="btn-floating bv-green tooltipped" data-position="left" data-tooltip="Ir abajo" id="btnScrollBottom"><i class="material-icons">arrow_downward</i></a></li>
  </ul>
</div>

<script src="{% static 'js/negocio.js' %}"></script>

<script type="text/javascript">

  var isAccepted = false;
  var isCanceled = false;
  var propUpdated = false;
  var arts_data;
  var unsavedChanges = false;
  var showColumns = 5;
  var userIsComprador = false;
  "{% if request.user.clase == 'Comprador' %}"
  userIsComprador = true;
  "{% endif %}"
  showColumns = userIsComprador ? 3 : showColumns;

  var last = {{ last | safe }};
  var edits = $.extend(deep=true, {}, last);
  var editable_fields = [
    "distribuidor",
    "precio_venta",
    "precio_compra",
    "cantidad",
    "tipo_pago",
    "tasa",
    "destino",
    "fecha_entrega",
    "fecha_pago",
    "observaciones"
  ]
  var headers = []

  $(document).ready(function(){
    edits.new = {}

    $(":input[type='number']").focus(function() { $(this).select(); } );

    edits.items.forEach((element, index) => {
      last.items[index].isNew = false;
      edits.items[index].isNew = false;
    });
    
    "{% if negocio.is_confirmado %}"
    isAccepted = true;
    "{% endif %}"
    "{% if negocio.is_cancelado %}"
    isCanceled = true;
    "{% endif %}"

    if (!isCanceled) {
      $.ajax({
        type: "GET",
        url: "{% url 'api_articulos' %}",
        dataType: "json",
        success: function(data) {    
          arts_data = data;
          if (userIsComprador) {
            articuloDatalistCliente();
          } 
          else {
            items_count = {{items_count}}
            for (i = 0; i <= items_count; i++) {
              if (isAccepted) {
                i++;
              }
              articuloDatalist(i); // agrega los articulos a la datalist de table_edit
            }
          } 
        }
      });
    }

    // scroll hasta tabla editable o en su defecto, a aviso de negocio aprobado o cancelado
    var elId;
    "{% if negocio.is_confirmado or negocio.is_esp_conf and request.user.clase == 'Comprador' %}"
    elId = "#approved"
    "{% elif negocio.is_cancelado %}"
    elId = "#canceled"
    "{% else %}"
    elId = "#form-table-div"
    "{% endif %}"
    setTimeout(function() {
        if (window.location.hash) {
          var hash = window.location.hash.substring(1);
          var target = $("#div-table-" + hash);
          if (target.length) {
            elId = "#" + target.attr('id');
          }
        }
        mScrollTo(elId);
    }, 800);

    if (!userIsComprador) {
      editable_fields.push("articulo");
    }

    if (isAccepted || isCanceled) {
      $("#form-table-div").hide();
    }

  });

  function accept(index){
    console.log("accept");
    index = parseInt(index);
    var $tr = $($("#form")[0].rows[index+1]);
    if ($tr.data('issaved')) {
      edits.items[index].aceptado = true;
      $tr.css('background-color', '#4CB8484A');
      $('#send-prop-btn').removeAttr('disabled');
      propUpdated = true;
    }
  }

  function reject(index){
    index = parseInt(index);
    console.log("rejected")
    $($("#form")[0].rows[index+1]).css('background-color', '#EE8A8A');
    edits.items[index]={};
    $('#send-prop-btn').removeAttr('disabled');
    propUpdated = true;
    $("#accept-" + index).addClass("disabled");
  }

  function update(index){
    console.log("update");
    index = parseInt(index);
    
    var isValid = true;
    var $tr = $($("#form")[0].rows[index+1]);

    editable_fields.every(element => {
      if (!isValid) {
        return false;
      }

      if (["precio_compra", "distribuidor"].indexOf(element) !== -1 && userIsComprador) {
        return true;
      }

      if (element != "observaciones") {
        var input = $tr.find('[name="'+element+'"]')[0];
        var $input = $(input);
        var inputValue = $input.val();

        if ($input.data('updateignore')) {
          return true;
        }

        if (element == "tipo_pago" && $input.data('newrowselect')) {
          inputValue = $input.find(':selected').val();
        }

        $input.removeClass('invalid');

        if (!userIsComprador && element == "distribuidor") {
          if (!inputValue || optionsDistDatalist.indexOf(inputValue) === -1) {
            isValid = false;
            $input.addClass('invalid');
          }
          else {
            var opt = $("#distResults [value='"+inputValue+"']");
            edits.items[index]["proveedor"] = opt.data('value');
          }
        }
        else if (element == "precio_compra" || element == "precio_venta") {
          var number = formatForMoneyInput(input, inputValue);
          if (!+number) {
            isValid = false;
            $input.addClass('invalid');
          }
          else {
            edits.items[index][element] = inputValue
          }
        }
        else if (input.type == "number"){
          inputValue = parseFloat(inputValue);

          if (!inputValue && element != "tasa") {
            isValid = false;
            $input.addClass('invalid');
          }
          else if (inputValue && element == "tasa" && inputValue > 100) {
            isValid = false;
            $input.addClass('invalid');
          }
          else {
            edits.items[index][element] = inputValue
          }
        }
        else if (!userIsComprador && element == "articulo") {
          if (!inputValue || optionsArtsDatalist.indexOf(inputValue) === -1) {
            isValid = false;
            $input.addClass('invalid');
          }
          else {
            edits.items[index][element] = getArtId(index+1);
          }
        } else {
          if (!inputValue) {
            isValid = false;
            $input.addClass('invalid');
          }
          else {
            edits.items[index][element] = inputValue
          }
        }
      }

      last.items[index] = Object.assign({}, edits.items[index]);

      return true;
    })

    if (!isValid) {
      return;
    }

    $('#send-prop-btn').removeAttr('disabled');
    $('#conf-neg-btn').attr("disabled", 'disabled');
    propUpdated = true;
    unsavedChanges = false;
    $("#save-" + index).removeClass("blinkSave");
    $("#accept-" + index).removeClass("disabled");
    $tr.css('background-color', '#FDDA77');
    $tr.data('issaved', true);
  }

  function resetAll(index){
    console.log("resetAll");
    index = parseInt(index);

    var $tr = $($("#form")[0].rows[index+1]);

    edits.items[index] = Object.assign({}, last.items[index]);

    editable_fields.forEach(element => {
      var input = $tr.find('[name="'+element+'"]');
      if (element == "tipo_pago") {
        input.val(edits.items[index][element]).change();
      }
      else if (!userIsComprador && element == "articulo") {
        if (optionsArtsDatalist.indexOf(input.value) !== -1) {
          var artName = $('#artDatalist'+(index+1)+' option[id="' + edits.items[index][element] +'"]').attr("value");
          input.val(artName);
        }
      }
      else if (element == "precio_compra" || element == "precio_venta") {
        formatForMoneyInput(input[0], edits.items[index][element]);
      }
      else {
        input.val(edits.items[index][element]);
      }
    });

    {% if not negocio.is_confirmado %}
    edits.items[index].aceptado = false;
    {% endif %}
    unsavedChanges = false;
    $tr.css('background-color', '');
    $tr.data('issaved', true);
    $("#save-" + index).removeClass("blinkSave");
    $("#accept-" + index).addClass("disabled");
  }

  function removeUpdate(index) {
    index = parseInt(index);

    var $tr = $($("#form")[0].rows[index+1]);
    
    {% if not negocio.is_confirmado %}
    edits.items[index].aceptado = false;
    {% endif %}
    $tr.css('background-color', '');
    $tr.data('issaved', false);
    $("#save-" + index).addClass("blinkSave");
    $("#accept-" + index).addClass("disabled");
    unsavedChanges = true;
  }

  function copyLastRow() {
    var table = $("#form")[0]
    var index = table.rows.length - 3;
    var inputsList = ['tipo_pago', 'tasa', 'fecha_entrega', 'fecha_pago', 'destino'];

    var $trLast = $(table.rows[index+1]);
    var $trCurr = $(table.rows[index+2]);
    $.each(inputsList, function(index, name) {
      var elementLast = $trLast.find('[name='+ name +']');
      var elementCurr = $trCurr.find('[name='+ name +']');

      elementCurr.val(elementLast.val());

      if (elementLast.prop('tagName') == 'SELECT') {
        var selectedText = $('#' + elementLast.prop('id') + ' option:selected').text();
        $('#' + elementCurr.prop('id') + ' option').each(function() {
          if ($(this).text() == selectedText) {
            $(this).prop('selected', true);
            contadoTasa('Add');
            return false;
          }
        });
      }
      else if (elementLast.prop('class')?.includes('datepicker')) {
        var dateString = elementLast.val();
        var parts = dateString.split('/');

        var day = parseInt(parts[0], 10);
        var month = parseInt(parts[1], 10) - 1;
        var year = parseInt(parts[2], 10);

        var newDate = new Date(year, month, day);

        elementCurr.datepicker("setDate", newDate);
      }
    });

    M.toast({html: "Datos copiados"});
  }

  var counter = 0;

  function addArt(){
    var n = {}; 
    var errors = false;
    var rowId = "NewRow"+counter
    
    console.log("addArt");

    // default values
    n["aceptado"] = false;
    n["pagado"] = false;
    n["fecha_real_entrega"] = null;
    n["fecha_real_pago"] = null;
    n["fecha_salida_entrega"] = null;
    n["divisa"] = 'USD';
    n["isNew"] = true;
    n["proveedor"] = null;
    
    headers.every(element => {
      if (errors) {
        return false;
      }

      if (userIsComprador && element == "precio") {
        element = "precio_venta";
      }

      if (element == "_tasa_mensual_lightbulb_outline_" || element == "_tasa_mensual_") {
        element = "tasa"
      }

      var input = null;
      
      if (element != "divisa") {
        input = $($("#extra").find('[name="'+element+'"]'))[0];
      }

      var $this = $(input);
      var artId = getArtId(0);
      var inputValue = $this.val();

      $this.removeClass('invalid');

      if (["articulo", "distribuidor"].indexOf(element) !== -1) { // index 0..1
        var datalistId = $this.attr('list');
        var datalistOptions = $('#' + datalistId + ' option').map(function() {
          return this.value;
        }).get();

        if (datalistOptions.indexOf(inputValue) === -1) {
          errors = true;
          $this.addClass('invalid');
        }
        else {
          if (element == "articulo") {
            n[element] = artId;
          }
          else if (element == "distribuidor") {
            var opt = $("#distResults [value='"+inputValue+"']");
            var dist = opt.data('value');
            n["proveedor"] = dist;
          }
        }
      }
      else if (["precio_venta", "precio_compra"].indexOf(element) !== -1) {
        var number = getNumberFromInput(inputValue);
        if (!number) {
          errors = true;
          $this.addClass('invalid');
        }
        else {
          if (userIsComprador && element == "precio_venta") {
            n["precio_venta"] = inputValue;
            n["precio_compra"] = "USD 0.00";
          }
          else {
            n[element] = inputValue;
          }
        }
        
      }
      else if (element == "cantidad") { // index 2..4
        if (inputValue === '0' || inputValue === '') {
          errors = true;
          $this.addClass('invalid');
        }
        else {
          n[element] = parseFloat(inputValue);
        }
      }
      else if (element == "tipo_pago") { // index 5
        var selectedVal = $this.find(':selected').val();
        if (selectedVal === '') {
          errors = true;
          $this.parent().addClass('invalid');
        }
        n[element] = selectedVal;
      }
      else { // index 6..9
        if (inputValue === '') {
          errors = true;
          $this.addClass('invalid');
        }
        else if (inputValue && element == "tasa" && inputValue > 100) {
          errors = true;
          $this.addClass('invalid');
        }
        else {
          n[element] = element == "tasa" ? parseFloat(inputValue) : inputValue;
        }
      }

      return true;
    })

    if (errors){
      return;
    }
 
    edits.items.push(n);

    var tipo_pago = "";

    "{% for tipo_pago in tipo_pagos %}"
    if (parseInt("{{tipo_pago.id}}") == n.tipo_pago) {
      tipo_pago = "{{tipo_pago.nombre}}";
    }
    "{% endfor %}"

    if (tipo_pago.toLowerCase() == "contado") {
      n.tasa = 0;
    }

    var table = $("#form")[0]
    var row = table.insertRow(table.rows.length-1)
    row.innerHTML = "\
    <td><span id=\"artName"+(table.rows.length-2)+"\" name=\"articulo\" data-updateignore=\"true\">"+$("#artSearch0")[0].value+"</span></td>\
    {% if not request.user.clase == 'Comprador' %}\
    <td><span name=\"distribuidor\" data-updateignore=\"true\">"+$("#distSearch")[0].value+"</span></td>\
    {% endif %}\
    <td><input type=\"number\" name=\"cantidad\" min=\".01\" step=\".01\" value=\""+n.cantidad+"\" placeholder=\"Cantidad\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    <td><input name=\"precio_venta\" class=\"input-money\" autocomplete=\"off\" placeholder=\"{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    {% if not request.user.clase == 'Comprador' %}\
    <td><input name=\"precio_compra\" class=\"input-money\" autocomplete=\"off\" placeholder=\"Precio compra\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    {% endif %}\
    <td><select name=\"tipo_pago\" id=\"tp"+rowId+"\" data-newrowselect=\"true\" onchange=\"contadoTasa('"+rowId+"'); removeUpdate("+(table.rows.length-3)+")\"><option value=\""+n.tipo_pago+"\" selected disabled>"+tipo_pago+"</option>{% for tipo_pago in tipo_pagos %}<option value=\"{{ tipo_pago.id }}\">{{ tipo_pago.nombre }}</option>{% endfor %}</select></td>\
    <td><input type=\"number\" name=\"tasa\" id=\"tas"+rowId+"\" min=\"0\" max=\"100\" value=\""+n.tasa+"\" placeholder=\"Tasa Mensual\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    <td><input type=\"text\" name=\"fecha_entrega\" value=\""+n.fecha_entrega+"\" placeholder=\"Fecha entrega\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    <td><input type=\"text\" name=\"fecha_pago\" value=\""+n.fecha_pago+"\" placeholder=\"Fecha pago\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    <td><input type=\"text\" name=\"destino\" value=\""+n.destino+"\" placeholder=\"Destino\" onkeyup=\"removeUpdate("+(table.rows.length-3)+")\"></td>\
    <td class=\"ignore-op\">\
      <a class=\"action-btn btn-small bv-red btn-floating waves-effect waves-light tooltipped\" data-position=\"top\" data-tooltip=\"Eliminar\" onclick=\"reject('"+(table.rows.length-3)+"')\"><i class=\"material-icons table-icons\">delete</i></a>\
      <a class=\"action-btn btn-small bv-yellow btn-floating waves-effect waves-light tooltipped\" data-position=\"top\" data-tooltip=\"Guardar Ediciones\" onclick=\"update('"+(table.rows.length-3)+"')\" id=\"save-"+(table.rows.length-3)+"\"><i class=\"material-icons table-icons\">save</i></a>\
    </td>\
    <td class=\"ignore\">\
      <a class=\"action-btn btn-floating btn waves-effect waves-green transparent no-shadows\"><i class=\"i1 material-icons table-icons\" style=\"color: #459A33;\">search</i></a>\
    </td>\
    ";
    $('select').formSelect();
    headers.forEach(element => {
      if (userIsComprador && element == "precio") {
        element = "precio_venta";
      }
      if (element == "_tasa_mensual_lightbulb_outline_" || element == "_tasa_mensual_") {
        element = "tasa"
      }
      var input = $($("#extra").find('[name="'+element+'"]'))
      input.val("");
      input.removeClass(["invalid"])
    })
    $('select').formSelect();
    $("#artSearch0").val("");
    counter = counter + 1;
    contadoTasa(rowId);
    contadoTasa('Add');
    $('#send-prop-btn').removeAttr('disabled');
    propUpdated = true;
    $(":input[type='number']").focus(function() { $(this).select(); } );
    var $row = $(row);
    var $table = $row.parents('.responsive-table').find('table');
    var $cell = $row.find('td:not(.ignore, .ignore-op)');
    var colCount = $cell.length;
    var isShowMore = $table.data('isShowMore');
    $cell.each(function(index) {
      const cellInput = $(this).find("input:first")[0];
      var condition = isShowMore ? index % colCount < showColumns : index % colCount >= showColumns;
      if (condition) {
        $(this).addClass('hide-column');
      }
      if (cellInput?.name == "precio_compra" || cellInput?.name == "precio_venta") {
        var inputValue = cellInput.name == "precio_compra" ? n.precio_compra : n.precio_venta;
        var inputString = inputValue.toString();
        var splitValue = inputString.split(/[,.]/);
        var joinValue = splitValue.join('') + '0';
        cellInput.dataset.currentValue = joinValue;
        bindMoneyInput(cellInput);
      }
    });
    showMore($('.add-art'), true);
    var $showMoreBtn = $row.find('.ignore a');
    $showMoreBtn.click(function(e) {
      e.preventDefault();
      showMore($(this));
    });
    unsavedChanges = false;
    $row.attr('data-issaved', true);
    $("#save-" + (table.rows.length-3)).removeClass("blinkSave");
  }

  var obsOriginalValue = $("#observaciones").val();
  $("#observaciones").on('keyup', function () {
    $('#send-prop-btn').removeAttr('disabled');
    if ($(this).val() == obsOriginalValue && !propUpdated) {
      $('#send-prop-btn').attr('disabled', 'disabled');
    } 
  });

  function beforeSubmit(isSend) {
    var proc = {}
    var errors = false;
    var errorFields = [];
    var esp_conf = {% if negocio.is_esp_conf %} true {% else %} false {% endif %}
    proc.observaciones = $("#observaciones").val();
    proc.items = [];
    edits.items.forEach(element => {
      if (element.hasOwnProperty("articulo")){
        proc.items.push(element)
      }
    })
    var acc = []
    var count = 0;
    proc.items.forEach(element => {
      for (k in element) {
        if (k == "aceptado") {
          var v = element[k];
          acc.push(v);
        }
      }
      count++;
    })
    if (count == 0) {
      acc = [false];
    }
    var checker = arr => arr.every(Boolean);
    var icon, title, text;
    if (checker(acc) && !userIsComprador && ((isSend && !esp_conf) || (!isSend && esp_conf))) {
      icon = "success";
      title = "Confirmar negocio";
      text = "Estás a punto de confirmar el negocio.\n¿Deseas continuar con la operación?";
    }
    else if (count == 0) {
      icon = "error";
      title = "Cancelar negocio";
      text = "Estás a punto de cancelar el negocio.\n¿Deseas continuar con la operación?";
    }
    else {
      icon = "warning";
      title = "Enviar propuesta";
      text = "Estás a punto de enviar una nueva propuesta.\n¿Deseas continuar con la operación?";
    }
    if (unsavedChanges) {
      Swal.fire({
        title: "Cambios sin guardar",
        text: "Revisá si algún botón de guardado parpadea,\nsi es así, guardá los cambios.\n¿Deseas continuar?",
        icon: "info",
        confirmButtonText: 'Si',
        cancelButtonText: 'No',
        showCancelButton: true,
        focusCancel: true
      }).then(res => {
        if (res.isConfirmed) openSwalForSubmit(icon, title, text, isSend);
        else Swal.close();
      });
    }
    else {
      openSwalForSubmit(icon, title, text, isSend);
    }
  }

  function openSwalForSubmit(icon, title, text, isSend) {
    Swal.fire({
      icon: icon,
      title: title,
      text: text,
      confirmButtonText: 'Si',
      cancelButtonText: 'No',
      showCancelButton: true,
      focusConfirm: true
    }).then(res => {
      if (res.isConfirmed) submitProp(isSend);
      else Swal.close();
    });
  }

  function submitProp(isSend) {
    var proc = {}
    var errors = false;
    var errorFields = {};
    proc.issend = isSend;
    proc.observaciones = $("#observaciones").val();
    proc.items = [];
    edits.items.forEach(element => {
      if (element.hasOwnProperty("articulo")){
        proc.items.push(element)
      }
    })
    var elems = ["id", "propuesta", "aceptado", "pagado", "fecha_real_pago", "fecha_salida_entrega", "fecha_real_entrega", "divisa", "tasa"];
    var artName = "";
    var listOfErrors = []
    var listOfElems = []
    proc.items.forEach((element, c) => {
      var art_search_val = $(":input[id='artSearch"+(c+1)+"']").val();
      var art_name_val = $("span#artName"+(c+1)).text().trim();
      artName = art_search_val ? art_search_val : art_name_val;
      for (k in element) {
        if (!(jQuery.inArray(k, elems) != -1)) {
          if (element.hasOwnProperty(k) && k != "isNew") {
            var v = element[k];
            k = k == "precio_venta" && userIsComprador ? "precio" : k;
            var errorDesc = "\t- El campo \""+k+"\" contiene errores.\n"
            if ((!v && k != "articulo" && !userIsComprador) || (!v && userIsComprador)) {
              if (!(userIsComprador && ((k == "precio_compra") || (k == "proveedor")))) {
                listOfErrors.push(errorDesc)
                errorFields[artName] = listOfErrors;
                errors = true;
              }
            }
            else if (!userIsComprador && !v && k == "articulo") {
              errorDesc = "Hay campos de artículos vacíos o sin empresas\n seleccionadas. Por favor, chequea cuales son\n y corregilos.\n";
              errorFields["Otros errores"] = errorDesc;
              errors = true;
            }
          }
        }
      }
      listOfElems.push(element)
      for (i in listOfElems) {
        if (listOfElems[i] != listOfElems[i-1]) {
          listOfErrors = [];
        }
      }
    })
    // console.log(errorFields)
    // console.log(proc);
    var print_errors = "";
    for (var key in errorFields) {
      console.log(errorFields[key])
      print_errors = print_errors.concat(key + ':\n' + errorFields[key].join('') +'\n');
    }
    if (errors) {
      Swal.fire({
        title: "Oops!",
        icon: "error",
        text: print_errors,
        showDenyButton: true,
        denyButtonText: 'Ok',
      });
    }
    else {
      proc.items.forEach(element => {
        for (k in element) {
          if (k == "precio_venta" || k == "precio_compra" || k == "precio") {
            element[k] = getNumberFromInput(element[k]);
          }
        }
      })
    
      Swal.fire({
        text: 'Enviando propuesta...',
        allowEscapeKey: false,
        allowOutsideClick: false,
        showConfirmButton: false,
        willOpen: () => {
          Swal.showLoading();
        }
      });
      fetch("",{
        method:'POST',
        headers: {
          [window.drf.csrfHeaderName]: window.drf.csrfToken,
          'Content-Type':'application/json',
        },
        body: JSON.stringify(proc),
      })
        .then(a => {location.reload()})
        .catch(a => {console.log(a)})
    }
  }
</script>
{%endblock body%}