{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}


<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/notificaciones.css' %}">
</head>

<body style="overflow: hidden;">

    <!-- modals -->
    <div id="modalDetalleNegocio" class="modal">
        <div id="modalNegocio" class="modal-content">
        </div>
    </div>

    <!-- page -->
    <div class="row" style="height: 100%;">


        <!-- titulo -->
        <div class="menuZone clv">
            <!-- <div class="tituloPagina col s12 l3 offset-l1">
                <h4 class="" style="margin:0; font-weight: 300;"> Notificaciones</h4>
            </div> -->
            <h4 class="tituloPagina"> Notificaciones</h4>
        </div>    
        
        <div style="width: 100%; height: 80vh">

            <!------------Notificaciones Prespuesto----------------------->

            <div class="col s12 l4 notisSpace"><div class="col s10 offset-s1 offset-l2 l9" style="height: 100%;">
                <div class="headNotis">
                    <span class="titulito">
                        <img class="imgchica text-align left hide-on-small-only"
                        src="{% static 'images/presupuesto.png' %}">
                        Presupuestos
                    </span>
                    <div class="countNotis">
                        <span>1</span>
                    </div>
                </div>
                <div class="tableNotis">
                    <table>
                        <tbody>
                            {% for noti in lista_presupuestos%}
                            <tr style="border-bottom: 0px; ">
                                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                                <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows"
                                        onclick="detalleNotis('{{noti.id}}')"><i
                                            class=" small material-icons ">search</i></a></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="footNotis">
                    <a class="verTodos btn white-text no-shadows" href="{% url 'presupuestos' %}"> Ver todos </a>
                </div>
            </div></div>

            <!-----------------notificaciones logistica ------------------>

            <div class="col s12 l4 notisSpace"><div class="col s10 offset-s1 offset-l1 l9 " style="height: 100%;">
                <div class="headNotis">
                    <span class="titulito">
                        <img class="imgchica text-align left hide-on-small-only"
                        src="{% static 'images/logistica.png' %}">
                        Logística
                    </span>
                </div>
                <div class="tableNotis">
                    <table>
                        <tbody>
                            {% for noti in lista_logistica_noti %}
                            <tr style="border-bottom: 0px; ">
                                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                                <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows"
                                        onclick="detalleNotis('{{noti.id}}')"><i
                                            class=" small material-icons ">search</i></a></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="footNotis">
                    <a class="verTodos btn white-text no-shadows" href="{% url 'logistica' %}"> Ver todos </a>
                </div>
            </div></div>

            <!-------------notificaciones vencmientos ---------------------->

            <div class="col s12 l4 notisSpace"><div class="col s10 offset-s1 l9" style="height: 100%;">
                <div class="headNotis">
                    <span class="titulito">
                        <img class="imgchica text-align left hide-on-small-only"
                        src="{% static 'images/vencimientos.png' %}">
                        Vencimientos
                    </span>
                </div>
                <div class="tableNotis">
                    <table>
                        <tbody>
                            {% for noti in lista_vencimiento%}
                            <tr style="border-bottom: 0px; ">
                                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}} </td>
                                <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows"
                                        onclick="detalleNotis('{{noti.id}}')"><i
                                            class=" small material-icons ">search</i></a></td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="footNotis">
                    <a class="verTodos btn white-text no-shadows" href="{% url 'vencimientos' %}"> Ver todos </a>
                </div>
            </div></div>    

            <!-- <div class="col s12 l4 tamañoCuadros" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); "> -->
                
        </div>
    </div>
    <!------ Modals Notis ---------->
    <div id="alertaNotis" class="modal">
        <div id="modalNotis" class="modal-content">
        </div>
    </div>
    <!---------------->
    <script>
        $(document).ready(function () {
        $('select').formSelect();
            });

        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

        $(document).ready(function () {
            $('input#input_text, textarea#textarea2').characterCounter();
        });

        function searchBuscadorNegocio() {
            var value = $("#inputBuscadorNegocio").val().toLowerCase();
            $("#tableNegocios tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        };

        function detalleNotis(idNoti){
            $.ajax({
            type: 'POST',
            url: "{% url 'detalleNotis' %}",
            data: {'idNoti':idNoti,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                $("#modalNotis").html(data);
                $('#alertaNotis').modal('open'); 
            },
            error: function (response) {
                console.log("Error")
            }
            });
        };
    </script>

</body>
{% endblock body %}