{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}


<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/notificaciones.css' %}">
</head>

<body style="overflow: hidden;">

    <div id="modalDetalleNegocio" class="modal">
        <div id="modalNegocio" class="modal-content">
        </div>
    </div>

    <div class="row" style="height: 100%;">

        <div class="menuZone clv">
            <div class="menu">
                <div>
                    <div class="col-s2 h-bar circule">
                        <i class="medium material-icons"
                            style="position: relative; color:#005221;">notifications_none</i>
                    </div>
                </div>
                <h4 class="col l9 s9" style="margin:0; font-weight: 300;"> Notificaciones</h4>
            </div>
        </div>

        <div class="clv">

            <div style="width: 100%;">
                <!----------------Titulitos ------------------->
                <div class="col s4 l4 bloque-izquierdo clvP">
                    <div class="titulos">
                        <span class=" titulito">
                            Presupuestos
                        </span>
                        <img class="imgchica text-align left hide-on-small-only"
                            src="{% static 'images/presupuesto.png' %}">
                    </div>
                    <div class="nuevos">
                        <a>00</a>
                        <a>Nuevos</a>
                    </div>
                </div>
                <div class="col l4 s4 bloque-centro clvP">
                    <div class="titulos">
                        <span class="titulito">
                            Logística
                        </span>
                        <img class="imgchica text-align left hide-on-small-only"
                            src="{% static 'images/logistica.png' %}">
                    </div>
                    <div class="nuevos">
                        <a>00</a>
                        <a>Nuevos</a>
                    </div>
                </div>
                <div class="col l4 s4 bloque-derecho clvP">
                    <div class="titulos">
                        <span class="titulito">
                            Vencimientos
                        </span>
                        <img class="imgchica text-align left hide-on-small-only"
                            src="{% static 'images/vencimientos.png' %}">
                    </div>
                    <div class="nuevos">
                        <a>00</a>
                        <a>Nuevos</a>
                    </div>
                </div>
                <!------------------------------------------------------------------------------->

                <!------------notificaciones Prespuesto----------------------->
                <div class="col s4 tamañoCuadros" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); ">
                    <div style="overflow-y: scroll; height: 100%;">
                        <table>
                            <tbody>
                                {% for noti in lista_presupuestos%}
                                <tr style="border-bottom: 0px; ">
                                    <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                                    <td><a class="btn-floating btn-small waves-effect waves-light red "
                                            onclick="detalleNotis('{{noti.id}}')"><i
                                                class=" small material-icons ">search</i></a></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        <a class="verTodos btn white-text" href="{% url 'presupuestos' %}"> Ver todos </a>
                    </div>
                </div>
                <!----------------------------------->
                <!-----------------notificaciones logistica ------------------>
                <div class="col s4 tamañoCuadros bloque-centro1" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5);">
                    <div style="overflow-y: scroll; height: 100%;">
                        <table>
                            <tbody>
                                {% for noti in lista_logistica_noti %}
                                <tr style="border-bottom: 0px; ">
                                    <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                                    <td><a class="btn-floating btn-small waves-effect waves-light red "
                                            onclick="detalleNotis('{{noti.id}}')"><i
                                                class=" small material-icons ">search</i></a></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        <a class="verTodos btn white-text" href="{% url 'presupuestos' %}"> Ver todos </a>
                    </div>
                </div>
                <!----------------------------------->

                <!-------------notificaciones vencmientos ---------------------->

                <div class="col  s4 tamañoCuadros" style="border-bottom:2px solid rgb(128, 128, 128, 0.5);">
                    <div style="overflow-y: scroll; height: 100%;">
                        <table>
                            <tbody>
                                {% for noti in lista_vencimiento%}
                                <tr style="border-bottom: 0px; ">
                                    <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}} </td>
                                    <td><a class="btn-floating btn-small waves-effect waves-light red"
                                            onclick="detalleNotis('{{noti.id}}')"><i
                                                class=" small material-icons ">search</i></a></td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        <a class="verTodos btn white-text" href="{% url 'presupuestos' %}"> Ver todos </a>
                    </div>
                    
                </div>
                <!----------------------------------->
                <div class="col s12 " style="height: 70px; border-top: 1px solid rgb(128, 128, 128, 0.5); "></div>
            </div>

        </div>

         <!------ Modals Notis ---------->

        <div id="alertaNotis" class="modal">
            <div id="modalNotis" class="modal-content">
            </div>
        </div>

        <!---------------->
</body>
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    $(document).ready(function () {
        $('input#input_text, textarea#textarea2').characterCounter();
    });

    function searchBuscadorNegocio() {
        var value = $("#inputBuscadorNegocio").val().toLowerCase();
        $("#tableNegocios tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    };

    function detalleNotis(idNoti){
        $.ajax({
            type: 'POST',
            url: "{% url 'detalleNotis' %}",
            data: {'idNoti':idNoti,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                $("#modalNotis").html(data);
                $('#alertaNotis').modal('open'); 
            },
            error: function (response) {
                console.log("Error")
            }
        });
    };

    function detalleNegocio(idProp) {
        $.ajax({
            type: 'POST',
            url: "{% url 'detalleNegocio' %}",
            data: {
                'idProp': idProp,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $("#modalNegocio").html(data);
                $('#modalDetalleNegocio').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

    function detalleArticuloNegocio(idItem, funOrig) {
        $.ajax({
            type: 'POST',
            url: "{% url 'detalleItem' %}",
            data: {
                'idItem': idItem,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $("#modalNegocio").html(data);
                $('#modalDetalleNegocio').modal('open');
            },
            error: function (response) {
                console.log("Error")
            }
        })
    };

</script>
{% endblock body %}