{% extends 'base.html' %}

{% load static %}

{% load auth_extras %}

{% block title %}
Presupuestos
{% endblock title %}

{% block imports %}
{% endblock imports %}

{% block body %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/presupuestos.css' %}">
</head>

<body>  

    <!---------------------------------Presupuestos titulo ---------------------------------------------->
    <div class="row">

        <!-- titulo -->
        <div class="menuZone clv">
            <h4 class="tituloPagina"> Presupuestos</h4>
        </div> 

        <div class="defpage">
            <b class="">Aquí se encuentran los presupuestos enviados  y que todavía no tuvieron respuesta.</b>
        </div> 

        <!------------------------------------------------------------------------------->


        <!-----------------------------------recibido-------------------------------------------->

        <div class="col s12 m4 l10">

            <div style="height: 60px; justify-content: flex-start; margin-top: 4%;" class="clv">
                <h5 class="subtituloPagina"> Recibidos</h5>
            </div>


            <div class="col s12 l12 blockSpace"><div class="col s10 offset-s1 offset-l1 l12" style="height: 100%;">
                <div class="headBlock">
                    <span class="titulito">
                        Bv-algo-algo
                    </span>
                </div>
                <div class="tableBlock">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 20%;">Fecha</th>
                                <th>Items</th>
                                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                                    <th class="center">Empresa</th>
                                    <th>Cliente</th>
                                {% endif %}
                                {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
                                <th>Vendedor</th>
                                {% endif %}
                                <th>Ver Negociación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for preprec in presupuestos_recibidos %}
                            <tr>
                                <td>{{preprec.fecha|date:"M d, Y"}}</td>
                                <td>
                                    <div>
                                        <ol class="collection" start="1">
                                            {% for item in preprec.items %}
                                            <li class="collection-item">{{item}}</li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </td>
                                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                                <td class="col1 center">{{preprec.empresa}}</td>
                                <td>{{preprec.comprador}}</td>
                                {% endif %}
                                {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
                                <td>{{preprec.vendedor}}</td>
                                {% endif %}
                                <td><a class=""
                                        href="{% url 'info_negocio' preprec.id_de_neg %}"><i
                                        class="botonSearch small material-icons ">search</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="footBlock">
                    <a class="verTodos btn white-text no-shadows" href="{% url 'todosFiltro' 1 %}"> Ver todos </a>
                </div>
            </div></div>






            <!------------------------------------------------------------------------------->

            <!--------------------------------en Negociación ----------------------------------------------->

            <div style="height: 60px; justify-content: flex-start; margin-top: 20%;" class="clv">
                <h5 class="subtituloPagina">En Negociación</h5>
            </div>


            <div class="col s12 l12 blockSpace"><div class="col s10 offset-s1 offset-l1 l12" style="height: 100%;">
                <div class="headBlock">
                    <span class="titulito">
                        Bv-algo-algo
                    </span>
                </div>
                <div class="tableBlock">
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 20%;">Fecha</th>
                                <th>Items</th>
                                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                                <th class="center">Empresa</th>
                                <th>Cliente</th>
                                {% endif %}
                                {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
                                <th>Vendedor</th>
                                {% endif %}
                                <th>Ver Negociación</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {% for prepneg in presupuestos_negociando %}
                            <tr class="activado card">
                                <td>{{prepneg.fecha|date:"M d, Y"}}</td>
                                <td>
                                    <div>
                                        <ol class="collection" start="1">
                                            {% for item in prepneg.items %}
                                            <li class="collection-item">{{item}}</li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                </td>
                                {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
                                <td class="center">{{prepneg.empresa}} </td>
                                <td>{{prepneg.comprador}}</td>
                                {% endif %}
                                {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
                                <td>{{prepneg.vendedor}}</td>
                                {% endif %}
                                <td><a class=""
                                        href="{% url 'info_negocio' prepneg.id_de_neg %}"><i
                                        class="botonSearch small material-icons ">search</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="footBlock">
                    <a class="verTodos btn white-text no-shadows" href="{% url 'todosFiltro' 2 %}"> Ver todos </a>
                </div>
            </div></div>
        </div>
    </div>

    <script src="{% static 'js/presupuestos.js' %}"></script>

</body>

<script>

// function detalleNegocio(idProp) {
//     $.ajax({
//         type: 'POST',
//         url: "{% url 'detalleNegocio' %}",
//         data: {
//             'idProp': idProp,
//             csrfmiddlewaretoken: '{{ csrf_token }}'
//         },
//         success: function (data) {
//             $("#modalNegocio").html(data);
//             $('#modalDetalleNegocio').modal('open');
//         },
//         error: function (response) {
//             console.log("Error")
//         }
//     })
// };

// function detalleArticuloNegocio(idItem, funOrig) {
//     $.ajax({
//         type: 'POST',
//         url: "{% url 'detalleItem' %}",
//         data: {
//             'idItem': idItem,
//             csrfmiddlewaretoken: '{{ csrf_token }}'
//         },
//         success: function (data) {
//             $("#modalNegocio").html(data);
//             $('#modalDetalleNegocio').modal('open');
//         },
//         error: function (response) {
//             console.log("Error")
//         }
//     })
// };

function selTipoFecha() {
    var x = $('#selectTipoFecha').val();
    y = document.getElementById("divFechasParam");
    if (x == "0") {
        y.style.display = "none";
    } else {
        y.style.display = "block";
    }
}

function filtrar() {
    var errores = 0;
    var vendedores = $('#selectVendedores').val();
    var vendedor = JSON.stringify(vendedores);
    if (vendedor.length <= 2) {
        M.toast({ html: 'Error! El filtro Vendedor no puede estar en blanco.' });
        errores = 1;
    };
    var estaV = vendedores.includes("todos");
    if (estaV) {
        vendedor = "todos";
    };
    var estados = $('#selectEstados').val();
    var estado = JSON.stringify(estados);
    if (estado.length <= 2) {
        M.toast({ html: 'Error! El filtro Estado no puede estar en blanco.' });
        errores = 1;
    }
    var estaE = estados.includes("todos");
    if (estaE) {
        estado = "todos";
    };
    var tipo = $('#selectTipo').val();
    var tipoFecha = $('#selectTipoFecha').val();
    var fechaDesde = $('#fechaDesde').val();
    var fechaHasta = $('#fechaHasta').val();
    if (tipoFecha != "0") {
        if (fechaDesde === "") {
            M.toast({ html: 'Error! "Fecha Desde" no puede estar en blanco.' });
            errores = 1;
        };
        if (fechaHasta === "") {
            M.toast({ html: 'Error! "Fecha Hasta" no puede estar en blanco.' });
            errores = 1;
        };
    };
    if (errores == 0) {
        $.ajax({
            url: "{% url 'filtrarNegocios' %}",
            type: 'POST',
            data: {
                'vendedor': vendedor, 'estado': estado, 'tipo': tipo,
                'tipoFecha': tipoFecha, 'fechaDesde': fechaDesde, 'fechaHasta': fechaHasta,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function (data) {
                $('#infoTabla').html(data);
            },
            error: function (data) {
                console.log(data)
            }
        });
    };
}

</script>

{% endblock body %}