<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
        
      <nav >
        <div class="nav-wrapper grey darken-3 ">
          <a href="#!" class="brand-logo"><img width="95" src="images/logo.png"></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" > Iniciar Sesion</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a>Sass</a></li>
        <li><a>Components</a></li>
        <li><a class="waves-effect waves-light grey darken-4  modal-trigger" href="#modal1" > Iniciar Sesion</a></li>
        <li><a>Mobile</a></li>
      </ul>
    
      <div class="parallax-container">
        <div class="parallax"><img src="images/parallax.jpg"></div>
      </div>
      <div class="section white">
        <div class="row container">
            <h2 class="header center green-text  "> Buenaventura Agronegocios</h2>
            <p class=" center grey-text text-darken-3 lighten-3">
                 Buenaventura Agronegocios es una empresa que se constituyó
                en febrero de 2019 y se encuentra conformada por sus socios
                César Diaz, Juan José Priotti  y Matías Núñez. Cada uno de ellos
                con amplia experiencia previa en agronegocios en empresas
                líderes del mercado.
                Trabajamos y desarrollamos nuestra actividad a nivel de canal
                de distribución, asesorando y comercializando Agroinsumos,
                Ventas de granos y Seguros agrícolas.</p>
          </div>
        
        
        <div class="row">
            <div class="col s12 m4" >
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Nuestros socios </span>
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">Mas Info +</a>
                  <a href="#">Acceder</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4" >
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Quienes Somos</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
              <div class="col s12 m4" >
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Nuestros servicios</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
        </div>
       
       
       
        <div class="row">
            <div class="col s12 m4">
                <div class="card  grey" >
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/agro.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Provedores<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
                </div>

            <div class="col s12 m4">
                <div class="card  grey" >
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/agro.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Articulos<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Articulos<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
                </div>
            <div class="col s12 m4">
              <div class="card  grey" >
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/agro.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Clientes<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
              </div>
              </div>
        </div>
      
    
    
    </div>
      <div class="parallax-container">
        <div class="parallax"><img src="images/parallax2.jpg"></div>
      </div>
          
        <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Inicio de sesion</h4>
        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Nombre</label>
                  </div>
                <div class="input-field col s6">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Apellido</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Contraseña</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="center">
                <a class="waves-effect waves-light btn-large green lighten-2  center">iniciar sesion</a>
            </div>
              </div>
            </form>
          </div>
                
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat  red-text ">Cancelar</a>
        </div>
    </div>




      <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Redes y contacto</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
    
    
    
    
    <script>
         $(document).ready(function(){
        $('.sidenav').sidenav();
            });
       
            $(document).ready(function(){
        $('.parallax').parallax();
        });

        $(document).ready(function(){
        $('.modal').modal();
     });
        
    </script>
    </body>
  </html>