{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}

<div class="container">
<div id="login-page" class="row container">
    <div class="col s12 z-depth-4 card-panel">
       <form class="col s12 login-form" method="POST" action="{% url 'registrar_cliente' %}">
            {% csrf_token %}
        <div class="row">
          <div class="input-field col s12 center">
            <img src="{% static 'images/logo.png' %}" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Buenaventura</p>
          </div>
        </div>
        {{ form.as_table }}
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12"> Registrarme </button>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class= "medium-small"><a href="page-forgot-password.html">¿Olvidó su contraseña?</a></p>
          </div>          
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock body %}    