{% block body%}

{% load auth_extras %}


{% load static %}

{% if user.is_authenticated %}

<link rel="stylesheet" type="text/css" href="{% static '/css/sidebar.css' %}">


<body>

  <ul id="slide-out" class="sidenav" style="background-color:#459A33;">
    <li><div style="display: inline-block"></div></li>
    <li>
      <a href="{% url 'notificaciones'  %}">
        <i class="small material-icons iconbar" style="position: relative;">notifications_none</i>
        Notificaciones
      </a>
    </li>
    <li>
      <a href="{% url 'presupuestos'  %}">
        <i class="material-icons small iconbar">monetization_on</i>
        Presupuestos
      </a>
    </li>
    <li>
      <a href="{% url 'vencimientos'  %}">
        <i class="small iconbar material-icons" style="position: relative;">access_alarm</i>
        Vencimientos
      </a>
    </li>
    <li>
      <a href="{% url 'logistica'  %}">
        <i class="small iconbar material-icons" style="position: relative;">local_shipping</i>
        Logistica
      </a>
    </li>
    <li>
      <a href="{% url 'menu_comprobantes'  %}">
        <i class="small iconbar material-icons" style="position: relative;">folder</i>
        Comprobantes
      </a>
    </li>
    <li>
      <a class="gb_text" href="{% url 'todos_negocios'  %}"> 
        <i class="small iconbar material-icons" style="position: relative;">add</i>
        Negocios 
      </a>
    </li>
    {% if request.user.clase == "Vendedor" %}
      <li>
        <a class="gb_text" href="#" onclick="openModalAlerta()">
          <i class="small iconbar material-icons" style="position: relative;">send</i>
          Enviar Alerta 
        </a>
      </li>
    {% endif %}
    <div class="show-on-collapse">
      {% if user.is_staff %}  
      <li>
        <a style="color: #ffffff; position:static; right :17%;font-family: 'Montserrat Bold', Montserrat;"href="{% url 'admin:index' %}">Administrar</a>
      </li>
      {% endif %}
      <!-- aca en vez de title tendria que decir el tipo de cuenta que es -->
      {% if user.is_authenticated %}
      <li><a style="color: #ffffff; font-family: 'Montserrat Bold', Montserrat; cursor: pointer;">{{user.get_full_name|title}}</a></li>
      <li><a  href="{% url 'logout' %}" style="color: #ffffff; font-family: 'Montserrat Bold', Montserrat;">Cerrar Sesion</a></li>
      {% else %}
      <li><a style="color: #ffffff; font-family: 'Montserrat Bold', Montserrat;" class="modal-trigger" href="#modal1" > Iniciar Sesion</a></li>
      {% endif %}
    </div>
    {% if request.user.clase == "Vendedor" or request.user.clase == "Comprador" %}
      <br>
      <li style=" display: flex; justify-content: center;">
        <div class="btn-bv">
          <a href="{% url 'nuevo_negocio'  %}"> Cotizá </a>
        </div>
      </li>
    {% endif %}
  </ul>
  
</body>

<style>

    .btn-bv{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: #005321;
        border-radius: 15px;
        width: 50%;
        color: #fff;
    }

    .iconbar{
        color: #ffffff !important;
    }

    .sidenav li>a {
        color: #ffffff !important;
    }

    .gb_text{
        color: #459A33 !important;
        font-weight: bold !important;
    }
    .mysidebar{
        background-color: #dfdfdf6b !important;
        display: fixed; 
        justify-content: center; 
        align-items: center;
    }
    .vl {
    border-right: 2px solid rgb(128, 128, 128, 0.5);
    min-height: calc(100vh - 64px) !important;
    left: 0px !important;
    }
</style>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

$(document).ready(function(){
  $('.sidenav').sidenav();
  $('.sidenav').open();
});

function openModalAlerta(){
    $.ajax({
        type: 'POST',
        url: "{% url 'detalleAlerta' %}",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function (data) { 
        $("#modalAlerta").html(data);
        $('#alerta').modal('open'); 
        },
        error: function (response) {
            console.log("Error")
        }
    })
};

function selNegocioModalAlerta(){ 
    $("#divFormSendAlerta").show();
    $("#inputBuscadorAlerta").hide();
    $("#btnSendAlerta").show();
  };

function sendAlertaModal(){
    var selected = new Array();
    $('#tableAlertas input[type="checkbox"]:checked').each(function() {
        selected.push($(this).attr('data-id'));
    });    
    var jsonText = JSON.stringify(selected);
    var titulo = document.getElementById("tituloAlerta").value;
    if (titulo === ""){
        M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
        var descri = document.getElementById("descriAlerta").value;
        var categoria = document.getElementById("selectModalAlert").value;
        $.ajax({
            url: "{% url 'sendAlertaModal' %}",
            type: 'POST',
            data: {'jsonText':jsonText,'titulo':titulo,'descri':descri,'categoria':categoria,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data){             
                M.toast({html: data.result});
                if (data.estado){
                $('#alerta').modal('close');
                };   
            },
            error: function (data) {
                console.log(data.result)
            }
        });
    };
};

function formAlertaLog(){
    $("#btnAlertaLog").hide();
    $("#divFormSendAlertaLog").show();
    $("#btnsendAlertaLog").show();
    document.getElementById("idPideAlertaLog").value = 1;
  };

  function sendAlertaLog(){
    var titulo = document.getElementById("tituloAlertaLog").value;
    if (titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var descri = document.getElementById("descriAlertaLog").value;
      var categoria = "Logistica";
      var idNegocio = document.getElementById("idNegocioLog").value;
      $.ajax({
          url: "{% url 'sendAlertaLog' %}",
          type: 'POST',
          data: {'titulo':titulo,'descri':descri,'categoria':categoria,'idNegocio':idNegocio,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){ 
              M.toast({html: data.result});
              if (data.estado){
                $('#modalDetalleLogistica').modal('close');
              };  
          },
          error: function (data) {
              console.log(data.result)
          }
      });
    }
    
  };

  function formAlertaSem(){
    $("#btnAlertaSem").hide();
    $("#divFormSendAlertaSemaforo").show();
    document.getElementById("idPideAlertaSem").value = 1;
  };
  
  function formAlertaSemCA(origen){
    var titulo = document.getElementById("tituloAlertaSem").value;
    var descri = document.getElementById("descriAlertaSem").value;    
    var idNegocio = document.getElementById("idNegocioSem").value;
    $.ajax({
        url: "{% url 'createAlertaNV' %}",
        type: 'POST',
        data: {'titulo':titulo,'descri':descri,
            'idNegocio':idNegocio,csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data){
          console.log(data.result);
          if (data.estado){
            if (origen=='Sem'){
              $('#modalSemaforoNegocio').modal('close');
            }else{
              $('#modalDetalleLogistica').modal('close'); 
            }
                 
          } 
          M.toast({html: data.result});
        },
        error: function (data) {
            console.log(data.result)
        }
    })      
  }

  function ocultarEstadoLog(){
    $(".textEstado").hide();
    $(".selecEstado").show();
    $("#mostrarEstadoLog").hide();
    $("#confirmarEstadoLog").show();
  };

  function cambiarEstadoLog(){
    var titulo = document.getElementById("tituloAlertaLog").value;
    var descri = document.getElementById("descriAlertaLog").value;
    var idPideAlertaLog = document.getElementById("idPideAlertaLog").value;
    var receptor = document.getElementById("selectModalAlertLog").value;
    if (idPideAlertaLog == "1" && titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var estadosId = [];
      var grid = document.getElementById("tablaLogEstados");
      var selectInput = grid.getElementsByTagName("SELECT");
      for (var i = 0; i < selectInput.length; i++) {
          var estado=1;
          var row = selectInput[i];
          var id = $(row).data("id");
          console.log(row.value);
          if (row.value == 'Entregado') {
            estado = 3
          } else if (row.value == 'Atrasado') {
            estado = 1
          } else if (row.value == 'En'){
            estado = 2
          } else {
            estado = 4
          };          
          console.log(estado);
          var value_log = estado +"-"+ id
          estadosId.push(value_log);
      };
      var jsonText = JSON.stringify(estadosId);      
      $.ajax({
        url: "{% url 'setLogistica' %}",
        type: 'POST',
        data: {'jsonText':jsonText,'titulo':titulo,'descri':descri,'receptor':receptor,'envio':idPideAlertaLog,
          csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data){
          $('#modalDetalleLogistica').modal('close'); 
          M.toast({html: data.result})
          $.ajax({
            url: "{% url 'reloadLog' %}",
            type: 'GET',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(data){
                    $('#tableLogisticaR').html(data);
                },
                error: function (data) {
                  console.log(data.result)
              }
            });
        },
        error: function (data) {
            M.toast({html: data.result})
        }
      });
    }
         
  };
</script>

{% endif %}

{% endblock body %}