
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}  
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<script>
   $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
       
</script>

<style>
  .vl {
    border-right: 2px solid rgb(128, 128, 128, 0.5);
    height: 1000px;
    
  }

  .titulo {
    height: 55px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    background-color: #e30613;
    font-family: 'Montserrat';
  }

  body {
  font-family: 'Montserrat';
  
 
}
.im {
 height: 50px;
 width: 50px;
}

.bloque-izquierdo{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
}

.bloque-centro{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
  border-right: 2px solid rgb(128, 128, 128, 0.5);
  border-left: 2px solid rgb(128, 128, 128, 0.5);
}
.bloque-centro1{
  border-right: 2px solid rgb(128, 128, 128, 0.5);
  border-left: 2px solid rgb(128, 128, 128, 0.5);
}


.bloque-derecho{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
}
 
 .titulito{
   font-size: 30px;
   font-family: 'Montserrat';
   text-align: center;
 }

  .tamaño{
    height: 600px;
    width: 600px;
  }
.opcion{
  font-size: 20px;
}

.opcion:hover{
  font-weight: bold;
}

.botonsito{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;  
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

}
  
  </style>

 
<div class="row " >
  <div class="col hide-on-small-only s2 vl">
    <ul class="section table-of-contents pinned ">
      <li><a href="#id1">Presupuestos</a></li>
      <li><a href="#id2">Negocios Confirmados</a></li>
      <li><a href="#id6">Semaforo de Vencimientos</a></li>
      <li><a href="#id7">Logistica</a></li>
      <li><a href="#id8">Comprobantes</a></li>
      <li><a href="#id8">Mas opciones </a></li>
  </ul>

  </div>
  <div class="col s10">
    <div class="row"> 
      <div class=" titulo  col s4 offset-s4 ">
        <div class="">
          <span style="font-size: 45px ; padding-bottom: 5px;" class=" white-text "> <img class="im text-align right"  src="{% static 'images/notis.png' %}"> Notificaciones  </span>
        </div>
      </div>
    </div>
    <div  style="height: 100px;"></div>
  <div class="row">
    <div class=" bloque-izquierdo col s4 "  >
      <span class="text-align center titulito grey-text">  Presupuestos </span>
    </div>
    <div class="col s4 bloque-centro" >
      <span class=" text-align center titulito  grey-text" >Logistica</span>
    </div>
    <div class="col s4 bloque-derecho">
      <span class="text-align center titulito  grey-text">Vencimientos </span>
    </div>
    <div class="col s4 tamaño">
      <ul>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>
        <br>
        <li  class=" opcion center"><span>te llego un pedido de marcos smkith    </span><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></li>

      </ul>
      <a class="waves-effect waves-light btn col s8 offset-s2 botonsito grey darken-3" > Ver Todas</a>
    </div>
     <div class="col s4 tamaño bloque-centro1"></div>
     <div class="col s4 tamaño"></div>
  </div>
  
  </div>

  
</div>


{%endblock body%} 