
{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% endblock imports %}
{% block style%}
 
body {
  background-color: #e0e0e0;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}  
<script>
$(document).ready(function() {
    M.updateTextFields();
  });

</script>
<div class="row "> 
  <div class="col s12">
      <br>
    <div style="border-radius: 2em; height: 50px;" class="card white col s8 offset-s2"> 
         <span class="col s3" style=" font-size: 30px; border-radius: 2em;">Enviado por Juan Perez</span>
      <span class="col s4 offset-s2 " style="font-size: 20px; position: relative; top: 10px; border-radius: 2em; height: 30px;">Fecha 27/07/05</span>
      </div>
  </div>
  <div class="row">
    <div class="col s12 ">
      <div class="card col s8 offset-s4">
        <div class="card-content ">
          <span class="left "> 27/05/30 16.00</span>
        </div>
        <div class="card-action">
          <table>
            <thead>
              <tr>
                  <th>Articulo</th>
                  <th>tipo pago</th>
                  <th>tasa</th>
                  <th>fecha pago</th>
                  <th>destino</th>
                  <th>operaciones</th>
                  <th>Ver mas</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>
                  <div class="input-field" style="">
                    <input value="Glifosato" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> divisa</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="Alvin Jean" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> tipo pago</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="8.20" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> tasa</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="8.20" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2">fecha pago</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="8.20" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> destino</label>
                  </div>
                </td>
                <td>
                  <a  class="  btn-small btn-floating waves-effect waves-light green"><i class="material-icons">check</i></a>
                  <a class=" btn-small btn-floating waves-effect waves-light red"><i class="material-icons">close</i></a>
                  <a style="top: 38px; right:35px;"class=" btn-small btn-floating waves-effect waves-light blue"><i class="material-icons">save</i></a>
                  <a style="top: 5px;"class=" btn-small btn-floating waves-effect waves-light orange"><i class="material-icons">undo</i></a>
                </td>
              <td>
                <a class=" btn-large waves-effect waves-light red"><i class="material-icons">keyboard_arrow_left</i></a>
              </td>
              
              
              
              </tr>
              <tr>
                <td>
                  <div class="input-field" style="">
                    <input value="" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> Ingrediente</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> Distribuidor</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> Precio venta</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> Precio compra</label>
                  </div>
                </td>
                <td>
                  <div class="input-field" style="">
                    <input value="" id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2"> Cantidad</label>
                  </div>
                </td>
                <td>
                  <a class="waves-effect waves-light btn">añadir</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  
  </div>
</div>



{%endblock body%} 