{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block title %}
Negocios
{% endblock title %}
{%block body%}

<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/todos_negocios.css' %}">
</head>


<body>

  <div class="row">

    <!-- titulo -->
    <div class="menuZone clv" style="display: flex;">
        <h4 class="tituloPagina">Negocios</h4>
    </div>

    <!-- buscador -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12 l4 offset-l4 whitedivStyle" style="height: 50%; padding: 0rem; margin-top: 0;">
          <i class="small material-icons shearG" style="position: relative; left: 10px;">search</i>
          <input id="inputBuscadorNegocio"
            placeholder="Buscar Negocio" onkeyup="searchBuscadorNegocio()" type="text" autocomplete="off">
        </div>
      </div>

      <div class="col s12">
      <!-- filtros -->
      <nav id="navFiltro" class="whitedivStyle">
        <div class="nav-wrapper clv">
          <ul id="nav-mobile" class="col s12">
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <select multiple id="selectVendedores">
                  <option value="todos" selected>Cualquiera</option>
                  {% for vendedor in todos_vendedores %}
                  <option value={{vendedor.id}}>{{vendedor.get_full_name}}</option>
                  {% endfor %}
                </select>
                <label class="for-input">Vendendor</label>
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <select multiple id="selectEstados">
                  <option value="todos" selected> Todos </option>
                  <option value="CONFIRMADO">Confirmado</option>
                  <option value="CANCELADO">Cancelado</option>
                  {% if request.user.clase != 'Proveedor' %}
                  <option value="RECIBIDO">Recibido</option>
                  <option value="NEGOCIACION">En Negociación</option>
                  {% endif %}
                </select>
                <label class="for-input">Estado</label>
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <select id="selectTipo">
                  <option value="todos" selected value> Todos </option>
                  <option value="Venta">Venta</option>
                  <option value="Consignacion">Consignacion</option>
                </select>
                <label class="for-input">Tipo de Negocio</label>
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <input type="text" class="datepicker" id="fechaDesde" name="fechaDesde" placeholder="Fecha Desde" autocomplete="off">
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <input type="text" class="datepicker" id="fechaHasta" name="fechaHasta" placeholder="Fecha Hasta" autocomplete="off">
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="input-field clv">
                <input type="number" maxlength="255" min="2000" placeholder="BVi-" name="idDeNeg" id="idDeNeg" autocomplete="off">
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="clv">
                <a class="waves-effect waves-light btn col s12 no-shadows fltbtn"
                  onclick="filtrar()">FILTRAR</a>
              </div>
            </li>
            <li class="col s12 m6 l4">
              <div class="clv">
                <a class="btn-floating waves-effect waves-dark no-shadows tooltipped" style="background-color: #00000007;"
                  data-tooltip="Limpiar filtros" data-position="top" onclick="limpiarFiltros()">
                  <i class="material-icons" style="color: red;">clear</i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div id="fixedForScroll">
        <nav id="filtroFixed"></nav>
        <table id="headerFixed"></table>
      </div>

      <!-- tabla info -->
      <div class="tabla-info" style="position: relative;">
        <table id="tableNegocios">
          <thead>
            <tr style="border-bottom: 1px solid grey;">
              <th>Fecha apertura</th>
              <th>Fecha cierre</th>
              {% if request.user.clase == 'Vendedor' or request.user.clase == 'Comprador' or request.user.clase == 'Gerente'%}
              <th>Cliente </th>
              {% endif %}
              <th>Tipo Negocio</th>
              <th>Vendedor</th>
              {% if request.user.clase == 'Vendedor'%}
              <th>Proveedores</th>
              {% endif %}
              <th>Código de Negocio</th>
              <th class="center">Estado</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="infoTabla" style="height: 100px; overflow-y: auto;overflow-x: hidden;">
            
          </tbody>
        </table>
        <center>
          <h6 id="table-loading">Cargando...</h6>
        </center>
      </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/todos_negocios.js' %}"></script>

  <script>
    // function detalleNegocio(idProp){
    //   $.ajax({
    //     type: 'POST',
    //     url: "{% url 'detalleNegocio' %}",
    //     data: {'idProp':idProp,
    //     csrfmiddlewaretoken: '{{ csrf_token }}'},
    //     success: function (data) {
    //       $("#modalNegocio").html(data);
    //       $('#modalDetalleNegocio').modal('open'); 
    //     },
    //     error: function (response) {
    //         console.log("Error")
    //     }
    //   })
    // };

    function searchBuscadorNegocio() {
      var value = $("#inputBuscadorNegocio").val().toLowerCase();
      $("#tableNegocios tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    };

    function detalleNegocio(idProp) {
      var urlTemp = "{% url 'info_negocio' 0 %}";
      var urlf = urlTemp.replace('0', idProp);
      console.log(urlf)
      $.ajax({
        url: urlf,
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
      })
    };

    function filtrar(){
    var errores = 0;
    var vendedores = $('#selectVendedores').val();
    var vendedor = JSON.stringify(vendedores);
    if(vendedor.length <= 2){
      M.toast({html: 'Error! El filtro Vendedor no puede estar en blanco.'});
      errores = 1;    
    };
    var estaV = vendedores.includes("todos");
    if (estaV){
        vendedor = "todos";
    };
    var estados = $('#selectEstados').val();
    var estado = JSON.stringify(estados);
    if (estado.length <= 2){
        M.toast({html: 'Error! El filtro Estado no puede estar en blanco.'});
        errores = 1;
    }
    var estaE = estados.includes("todos");
    if (estaE){
        estado = "todos";
    };
    var tipo = $('#selectTipo').val();    
    var fechaDesde = $('#fechaDesde').val();
    var fechaHasta = $('#fechaHasta').val();
    var idDeNeg = $('#idDeNeg').val();
    if (idDeNeg && idDeNeg < 2000){
        M.toast({html: 'Error! El identificador de negocio debe ser mayor o igual a 2000.'});
        errores = 1;
    }
    if (errores == 0){
      $.ajax({
          url: "{% url 'filtrarNegocios' %}",
          type: 'POST',
          data: {'vendedor':vendedor,'estado':estado,'tipo':tipo,'idDeNeg':idDeNeg,
              'fechaDesde':fechaDesde, 'fechaHasta':fechaHasta,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){ 
            $('#infoTabla').html(data);
            $('#table-loading').remove();
          },
          error: function (data) {
              console.log(data)
          }
      });
    };
  }

  </script>

</body>
{% endblock body %}