{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}
{%block body%}

<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/todos_negocios.css' %}">
</head>


<body>

  <div class="row">

    <div class="menuZone clv">
      <div class="menu">
        <div class="col-s2 h-bar circule">
          <img src="{% static 'images/check.svg' %}" alt="Check icon" style="height: 40%;">
        </div>
        <h4 class="col l9 s9" style="margin:0; font-weight: 300;"> Negocios</h4>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="input-field col s12 shearS" style="padding: 0rem;">
          <input id="inputBuscadorNegocio"
            placeholder="Buscar Negocio" onkeyup="searchBuscadorNegocio()" type="text" autocomplete="off">
          <i class="medium material-icons shear_circule" style="position: relative; left: 1px;">search</i>
        </div>
      </div>
    </div>



    <nav id="navFiltro">
      <div class="nav-wrapper clv" style="width: 100%;">
        <ul id="nav-mobile" class="" style="display: flex; justify-content: space-between;">
          <li>
            <div class="input-field clv">
              <select multiple id="selectVendedores">
                <option value="todos" selected>Cualquiera</option>
                {% for vendedor in todos_vendedores %}
                <option value={{vendedor.id}}>{{vendedor.get_full_name}}</option>
                {% endfor %}
              </select>
              <label class="for-input">Vendendor</label>
            </div>
          </li>
          <li>
            <div class="input-field clv">
              <select multiple id="selectEstados">
                <option value="todos" selected> Todos </option>
                <option value="Confirmado">Confirmado</option>
                <option value="Cancelado">Cancelado</option>
                {% if request.user.clase != 'Proveedor' %}
                <option value="Recibido">Recibido</option>
                <option value="En Negociación">En Negociación</option>
                {% endif %}
              </select>
              <label class="for-input">Estado</label>
            </div>
          </li>
          <li>
            <div class="input-field clv">
              <select id="selectTipo">
                <option value="todos" selected value> Todos </option>
                <option value="Venta">Venta</option>
                <option value="Consignacion">Consignacion</option>
              </select>
              <label class="for-input">Tipo de Negocio</label>
            </div>
          </li>
          <li>
            <div class="input-field clv">
              <input type="text" class="datepicker" id="fechaDesde" name="fechaDesde" placeholder="Fecha Desde" autocomplete="off">
            </div>
          </li>
          <li>
            <div class="input-field clv">
              <input type="text" class="datepicker" id="fechaHasta" name="fechaHasta" placeholder="Fecha Hasta" autocomplete="off">
            </div>
          </li>
          <li>
            <div class="input-field clv">
              <input type="number" maxlength="255" min="1" placeholder="BVi-" name="idDeNeg" id="idDeNeg" autocomplete="off">
            </div>
          </li>
          <li>
            <div class="clv">
              <a class="waves-effect waves-light btn col s12 no-shadows" style="background-color: #4fad31;"
                onclick="filtrar()">filtrar</a>
            </div>
          </li>
          <li>
            <div class="clv">
              <a class="btn-floating waves-effect waves-dark no-shadows tooltipped" style="background-color: #00000007;"
                data-tooltip="Limpiar filtros" data-position="top" onclick="limpiarFiltros()">
                <i class="material-icons" style="color: red;">clear</i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="fixedForScroll">
      <nav id="filtroFixed"></nav>
      <table id="headerFixed"></table>
    </div>

    <div class="offset-s2" style="width: 100%; position: relative;">
      <table id="tableNegocios">
        <thead>
          <tr style="border-bottom: 1px solid grey;">
            <th>Fecha apertura</th>
            <th>Fecha cierre</th>
            {% if request.user.clase == 'Vendedor' or request.user.clase == 'Comprador' or request.user.clase == 'Gerente'%}
            <th>Cliente </th>
            {% endif %}
            <th>Tipo Negocio</th>
            <th>Vendedor</th>
            {% if request.user.clase == 'Vendedor'%}
            <th>Proveedores</th>
            {% endif %}
            <th>Código de Negocio</th>
            <th class="center">Estado</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="infoTabla" style="height: 100px; overflow-y: auto;overflow-x: hidden;">
          {% for negocio in todos_negocios %}
          <tr class="ctr">
            <td>{{negocio.timestamp|date:"M d, Y"}}</td>
            <td>{% if negocio.fecha_cierre is null %} 
                    Sin Definir
                {% else %}
                    {{negocio.fecha_cierre|date:"M d, Y"}}
                {% endif %}
            </td>
            {% if request.user.clase == 'Vendedor' or request.user.clase == 'Comprador' or request.user.clase == 'Gerente'%}
            <td>{{negocio.comprador.get_full_name}} para {{negocio.comprador.empresa.razon_social|title}}
            </td>
            {% endif %}
            <td>{{negocio.get_tipo_de_negocio_display|title}}</td>
            <td>{{negocio.vendedor.get_full_name}}
            </td>
            {% if request.user.clase == 'Vendedor'%}
              {% if negocio.fecha_cierre is not None %}
              <td>
                <div style="overflow-y: scroll; height: 150px;">
                  <ol class="collection" start="1">
                    {% for prov in negocio.proveedores %}
                    <li class="collection-item">{{prov}}</li>
                    {% endfor %}
                  </ol>
                </div>
              </td>
              {% else %}
              <td>Por Definir</td>
              {% endif %}
            {% endif %}
            <td><strong>{{negocio.id_de_neg}}</strong></td>
            <td class="green-text center">{{negocio.estado}}</td>
            <td><a class="btn-floating btn-small waves-effect waves-light red no-shadows"
                href="{% url 'info_negocio' negocio.id_prop %}"><i class=" small material-icons ">search</i></a></td>
          </tr>
          {% endfor %}
          <!-- esto es la lista de negocios-->
        </tbody>
      </table>
    </div>
  </div>

  <script src="{% static 'js/todos_negocios.js' %}"></script>

  <script>
    // function detalleNegocio(idProp){
    //   $.ajax({
    //     type: 'POST',
    //     url: "{% url 'detalleNegocio' %}",
    //     data: {'idProp':idProp,
    //     csrfmiddlewaretoken: '{{ csrf_token }}'},
    //     success: function (data) {
    //       $("#modalNegocio").html(data);
    //       $('#modalDetalleNegocio').modal('open'); 
    //     },
    //     error: function (response) {
    //         console.log("Error")
    //     }
    //   })
    // };

    function searchBuscadorNegocio() {
      var value = $("#inputBuscadorNegocio").val().toLowerCase();
      $("#tableNegocios tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    };

    function detalleNegocio(idProp) {
      var urlTemp = "{% url 'info_negocio' 0 %}";
      var urlf = urlTemp.replace('0', idProp);
      console.log(urlf)
      $.ajax({
        url: urlf,
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
      })
    };

    function filtrar(){
    var errores = 0;
    var vendedores = $('#selectVendedores').val();
    var vendedor = JSON.stringify(vendedores);
    if(vendedor.length <= 2){
      M.toast({html: 'Error! El filtro Vendedor no puede estar en blanco.'});
      errores = 1;    
    };
    var estaV = vendedores.includes("todos");
    if (estaV){
        vendedor = "todos";
    };
    var estados = $('#selectEstados').val();
    var estado = JSON.stringify(estados);
    if (estado.length <= 2){
        M.toast({html: 'Error! El filtro Estado no puede estar en blanco.'});
        errores = 1;
    }
    var estaE = estados.includes("todos");
    if (estaE){
        estado = "todos";
    };
    var tipo = $('#selectTipo').val();    
    var tipoFecha = 1;
    var fechaDesde = $('#fechaDesde').val();
    var fechaHasta = $('#fechaHasta').val();
    if (fechaDesde == "" && fechaHasta == "") {
      tipoFecha = 0;
    }
    else if (fechaDesde != "" && fechaHasta == "") {
      M.toast({html: 'Error! "Fecha Hasta" no puede estar en blanco.'});
      errores = 1;
    }
    else if (fechaDesde == "" && fechaHasta != "") {
      M.toast({html: 'Error! "Fecha Desde" no puede estar en blanco.'});
      errores = 1;
    }
    var idDeNeg = $('#idDeNeg').val();
    if (errores == 0){
      $.ajax({
          url: "{% url 'filtrarNegocios' %}",
          type: 'POST',
          data: {'vendedor':vendedor,'estado':estado,'tipo':tipo,'idDeNeg':idDeNeg,
              'tipoFecha':tipoFecha,'fechaDesde':fechaDesde, 'fechaHasta':fechaHasta,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){ 
            $('#infoTabla').html(data);
          },
          error: function (data) {
              console.log(data)
          }
      });
    };
  }

  </script>

</body>
{% endblock body %}