
{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{%block body%}

<div class="row" >
    <div class="col s12">
        <div class=" card-panel green col s12 "> 
            <h4 class="card-title center">Negocios</h4>   
        </div>
    </div>
</div>
<div class="row">
    <div class="col s2 card-panel green darken-2">
        <h5>Buscador</h5>
        <p> Escribe un nombre de clienteo o empresa </p>
    </div>
    <form class="col s10  s">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
</div>
    
<div class="row "> 
    <div class="col s2 card-panel  grey- lighten-5 pinned">
        <h5 class="center">Filtros </h5>
        
        <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Todos</option>
              <option value="1">Matias Nuñez</option>
              <option value="2">MEMO</option>
              <option value="3"></option>
            </select>
            <label>vendendor</label>
          </div>
          

        <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Estado</option>
              <option value="1">Aceptado</option>
              <option value="2">Cancelado</option>
              <option value="3">En Procceso</option>
            </select>
            <label>Estado</label>
          </div>
          
          <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected> Tipo</option>
              <option value="1">Venta</option>
              <option value="2">Consignacion</option>
            </select>
            <label>Tipo de Negocio</label>
          </div>
          
          <div class="input-field col s12">
            <input  type="date" class="datepicker">
            <label > Fecha inicio</label>
          </div>

          <div class="input-field col s12">
            <input  type="date" class="datepicker">
            <label > Fecha cierre</label>
          </div>

          

          <input type="text" class="datepicker">


    </div>
    <div class="col s10 offset-s2  card-panel">
        <table>
            <thead>
              <tr>
                  <th>Fecha apertura</th>
                  <th>Fecha cierre</th>
                  <th>Comprador </th>
                  <th>Tipo Negocio</th>
                  <th class="center">Articulos</th>
                  <th class="center">Estado</th>
                  <th></th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody>
              <!-- esto es la lista de negocios-->

                <tr>
                <td>17/01/2020</td>
                <td>17/01/2020</td>
                <td>Martin Suarez Tecnocampo</td>
                <td>Venta</td>
                <td>
                        <div style="overflow-y: scroll; height: 150px;" >
                            <ol class="collection" start="1">
                            <li class="collection-item" >Glifosato 20% </li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                        </ol></div>
                    </td>
                <td class="green-text center">Aceptado</td>
                <td><a class="btn red ">  <i class="large material-icons">remove_red_eye</i></a></td>
              </tr>
              <!-- esto es la lista de negocios-->

            
              <!-- esto lo harcodeo para verlo -->

              <tr>
                <td>17/01/2020</td>
                <td>Abierto todavia</td>
                <td>Martin Suarez Tecnocampo</td>
                <td>Venta</td>
                    <td >
                        <div style="overflow-y: scroll; height: 150px;" >
                            <ol class="collection" start="1">
                            <li class="collection-item" >Glifosato 20% </li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                        </ol></div>
                    </td>
                <td class="grey-text center">en Procceso</td>
                <td><a class="btn red ">  <i class="large material-icons">remove_red_eye</i></a></td>
              </tr>
             

              <tr>
                <td>17/01/2020</td>
                <td>17/01/2020</td>
                <td>Martin Suarez Tecnocampo</td>
                <td>Venta</td>
                <td>
                        <div style="overflow-y: scroll; height: 150px;" >
                            <ol class="collection" start="1">
                            <li class="collection-item" >Glifosato 20% </li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                            <li class="collection-item" >Atrazina 30% </li>
                            <li class="collection-item" > Aceite soja 50%</li>
                            <li class="collection-item" >Benomil 89%</li>
                        </ol></div>
                    </td>
                <td class="red-text center">cancelado</td>
                <td><a class="btn red ">  <i class="large material-icons">remove_red_eye</i></a></td>
              </tr>

            </tbody>
          </table>
    </div>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });

  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
{% endblock body %}
