{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% load auth_extras %}
{% endblock imports %}
{% block style%}
{% endblock style%}
{% block title %}
Vencimientos
{% endblock title %}
{%block body%}


<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/old_vendedor.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/pages.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/vencimientos.css' %}">
  <script src="{% static '/js/pages.js' %}"></script>
</head>


<body style="overflow: hidden;">
  
  <!--------Modal Semaforo Vencimiento -------->
  <div id="modalSemaforoNegocio" class="modal">
    <div id="modalSemaforo" class="modal-content">
    </div>
  </div>
  

  {% if request.user|has_no_group:"Logistica"%}
  <!-- Esto es el semaforo de vencimientos -->
  <div class="row totalh" >

    <div class="menuZone clv">
        <!-- <div class="col-s2 h-bar circule">
          <i class="medium material-icons" style="position: relative; color:#005221;">access_alarm</i>
        </div>  -->
        <h4 class="tituloPagina"> Vencimientos</h4>
    </div>

      <div id="tablesSem" class="totalh">

          <!-- atrasados -->

          <div class="col s12 l4 totalh"><div class="col s10 offset-s1 offset-l2 l9 totalh">
            <div class="headVen rojo">
              <div class="titulos">
                <span class="text-align center titulito white-text ">
                  Atrasados
                </span>
              </div>
              
            </div>
            <div class="tableVen">
                <table>
                  <tbody>
                    {% for vence in vencidos%}
                    <tr style="border-bottom: 0px;">
                      <td class="opcion center"> {{vence.fecha}} - {{vence.articulo}} de {{vence.comprador}} de {{vence.empresa}}  </td>
                      <td>
                        <a href="{% url 'info_negocio' vence.id_de_neg %}" 
                          class="btn-floating btn waves-effect waves-light transparent no-shadows"><i
                                                class="material-icons atrasados">search</i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div></div>



          <!-- proximos a vencer -->


          <div class="col s12 l4 totalh"><div class="col s10 offset-s1 offset-l2 l9 totalh">
            <div class="headVen amarillo">
              <div class="titulos">
                <span class=" titulito white-text">
                  Próximos a Vencer
                </span>
              </div>
              
            </div>
            <div class="tableVen">
                <table>
                  <tbody>
                    {% for semanal in vencimiento_semanal %}
                    <tr style="border-bottom: 0px; ">
                      <td class="opcion center"> {{semanal.fecha}} - {{semanal.articulo}} de {{semanal.comprador}} de {{semanal.empresa}} </td>
                      <td>
                        <a href="{% url 'info_negocio' semanal.id_de_neg %}" 
                          class="btn-floating btn waves-effect waves-light transparent no-shadows"><i
                                                class="material-icons proximos">search</i></a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div></div>

          
          
          <!-- vencimientosd futuros -->
          
          <div class="col s12 l4 totalh"><div class="col s10 offset-s1 offset-l2 l9 totalh">
            <div class="headVen verde">
              <div class="titulos">
                <span class="text-align center titulito white-text">
                  Vencimientos futuros
                </span>
              </div>
              <!-- <div class="nuevos_semaforo">    queda de muestra por ahora
                <b>{{vencimiento_futuro|length}}</b>
                <a>Nuevos</a>
              </div> -->
            </div>
            <div class="tableVen">
                <table>
                  <tbody>
                    {% for futuro in vencimiento_futuro %}
                    <tr style="border-bottom: 0px; ">
                      <td class="opcion center"> {{futuro.fecha}} - {{futuro.articulo}} de {{futuro.comprador}} de {{futuro.empresa}} </td>
                      <td>
                        <a href="{% url 'info_negocio' futuro.id_de_neg %}" 
                          class="btn-floating btn waves-effect waves-light transparent no-shadows"><i
                                                class="material-icons futuros">search</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
          </div></div>

          
        </div>
      </div>
  </div>
  {% endif %}
</body>
{% endblock body %}