{% extends 'base.html' %}
{% block imports %}
   {% load static %}
{% endblock imports %}
{% block style%}

body {
  background-color: #white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

{% endblock style%}
{% block title %}
BuenaVentura Agronegocios
{% endblock title %}   
{% block body%}
{% load auth_extras %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<script>
   $(document).ready(function(){
    $('.scrollspy').scrollSpy();
    $('.collapsible').collapsible();
    $('.fixed-action-btn').floatingActionButton();
    $('select').formSelect();
    $('.modal').modal();
    $('#contenido').hide();
    $('#contenido1').hide();
    $('#contenido2').hide();
    $('#ocultar').hide();
    $('#campo').hide();
    $('.tablita').hide();
 
    $('#mostrar').click(function(){
			$('#contenido').show();
			$('#contenido1').show();
			$('#contenido2').show();
      $('#ocultar').show();
      $('#mostrar').hide();
      $('#campo').show();

   });

   $('#ocultar').click(function(){
			$('#contenido').hide();
			$('#contenido1').hide();
			$('#contenido2').hide();
      $('#ocultar').hide();
      $('#mostrar').show();
      $('#campo').hide();
      
   });

   $('.nego').click(function(){
			$('.tablita').show();
      $('.nego').hide();
			
      
   });
     
  });
</script>



<style>
  .vl {
    border-right: 2px solid rgb(128, 128, 128, 0.5);
    height: 6000px;
    
  }

  .titulo {
    height: 60px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    background-color: #e30613;
    font-family: 'Montserrat' ;
  }
  .titulo1 {
    height: 60px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    background-color: #757474;
    font-family: 'Montserrat' ;
  }



  body {
  font-family: 'Montserrat';
  
 
}
.im {
 height: 50px;
 width: 50px;
  margin-top: 5px;
}

.imgchica{
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.bloque-izquierdo{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
}

.barra{
  background-color: #757474;
  height: 40px;
  
}
.barraa{
  background-color: #3cad41;
  height: 40px;
  
}
.barrac{
  background-color: #ed0023;
  height: 40px;
  
}

.bloque-centro{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
  border-right: 2px solid rgb(128, 128, 128, 0.5);
  border-left: 2px solid rgb(128, 128, 128, 0.5);
}
.bloque-centro1{
  border-right: 2px solid rgb(128, 128, 128, 0.5);
  border-left: 2px solid rgb(128, 128, 128, 0.5);
}


.bloque-derecho{
  height: 60px;
  width: 60px;
  border-top: 2px solid rgb(128, 128, 128, 0.5); 
  border-bottom: 2px solid rgb(128, 128, 128, 0.5); 
}
 
 .titulito{
   font-size: 30px;
   font-family: 'Montserrat';
   text-align: center;
 }

  .tamaño{
    height: 600px;
    width: 600px;
  }
.opcion{
  font-size: 20px;
  border-bottom: 0px;
}

.opcion:hover{
  font-weight: bold;
}

.activado:hover{
  font-weight: bold;
}

.botonsito{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;  
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;

}

.botonsote{
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;  
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.bordesito
  </style>

  <!------ botones flotantes ---------->
  <div id="nuevo" class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating green tooltipped"  href="https://web.whatsapp.com/" data-position="left"  data-tooltip="ir a Whatsapp"><i class="material-icons">call</i></a></li>
      <li><a class="btn-floating blue tooltipped" data-position="left"  data-tooltip=" Generar Alerta"><i class="material-icons">announcement</i></a></li>
      <li><a class="btn-floating yellow tooltipped" data-position="left"  data-tooltip="Nuevo Presupuesto"  href="{% url 'inicio'  %}"><i class="material-icons">add_circle</i></a></li>
      
    </ul>
  </div>

  <!--------Modal Semaforo Vencimiento -------->
  <div id="modalSemaforoNegocio" class="modal">
    <div id="modalSemaforo" class="modal-content">
    </div>
  </div>

  <!--------Modal Semaforo Vencimiento -------->
  <div id="modalDetalleLogistica" class="modal">
    <div id="modalLogistica" class="modal-content">
    </div>
  </div>
  <!------ Modals  ---------->

  <div id="alerta" class="modal">
    <div id="modalAlerta" class="modal-content">
    </div>
  </div>

  <div id="factura" class="modal">
    <div id="modalFormFactura" class="modal-content">
    </div>
  </div>

  <div id="remito" class="modal">
    <div id="modalFormRemito" class="modal-content">
    </div>
  </div>

  <div id="ordenDeCompra" class="modal">
    <div id="modalFormOrdenDeCompra" class="modal-content">
    </div>
  </div>

  <div id="ordenDePago" class="modal">
    <div id="modalFormOrdenDePago" class="modal-content">
    </div>
  </div>

  <div id="contansiaRentencion" class="modal">
    <div id="modalFormContansiaRentencion" class="modal-content">
    </div>
  </div>

  <div id="recibo" class="modal">
    <div id="modalFormRecibo" class="modal-content">
    </div>
  </div>

  <div id="cheques" class="modal">
    <div id="modalFormCheques" class="modal-content">
    </div>
  </div>

  <div id="cuentaCorrientes" class="modal">
    <div id="modalformCuentaCorriente" class="modal-content">
    </div>
  </div>

  <div id="facturaComisiones" class="modal">
    <div id="modalformFacturaComision" class="modal-content">
    </div>
  </div>

  <div id="nota" class="modal">
    <div id="modalFormNota" class="modal-content">
    </div>
  </div>


  <!------ Modals Notis ---------->

  <div id="alertaNotis" class="modal">
    <div id="modalNotis" class="modal-content">
    </div>
  </div>

  <!---------------->
    
  <!------ Modal Negociios ---------->

  <div id="modalDetalleNegocio" class="modal">
    <div id="modalNegocio" class="modal-content">
    </div>
  </div>


    
 

  <!------ Modal Combrobantes ---------->

<div id="comprobante" class="modal">
  <div class="modal-content">
    <h4 class="left">Negocio de Adama</h4><h4 class="right">27/05/2021</h4>
    <div class="row"> 
      <span class="col s6">Cliente Carlos Daniel</span> <span class="col s6">Vendedor Matias Nuñez</span>
      <div class="">
        <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Comprobantes</span> </div>
        <table>
        <thead>
          <tr>
              <th>Fecha de subida</th>
              <th>Nombre de archivo</th>
              <th>Tipó</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>27/03/2021</td>
            <td>ADAMA-254645</td>
            <td>Factura</td>
          </tr>
          <tr>
            <td>27/03/2021</td>
            <td>ADAMA-254645</td>
            <td>
              <div class="input-field col s12">
            <select>
              <option value=""  selected>Choose your option</option>
              <option class="selected" value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label>Materialize Select</label>
            </div>
            </td>
          </tr>
          
        </tbody>
      </table>
      </div>
      <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Archivos</span> </div>
      <div> 
        <div class="row">
        <br>
        <ul>
        <li>
          <span>PDF factura-adama</span>
        </li>
        <li>
          <span>PDF factura-adama</span>
        </li>
        <li>
          <span>PDF factura-adama</span>
        </li>
        
        </ul>
        
       
        <a class="waves-effect waves-light btn botonsito red white-text " > Confirmar </a>
      
         </div>
        <form action="# " class="col s12">
                            <div class="file-field input-field">
                              <div class="btn">
                                <i class="material-icons">attach_file</i>
                                <input type="file">
                              </div>
                              <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                              </div>
                            </div>
                          </form>
                          <a class="waves-effect waves-light btn botonsito green white-text " > Subir </a>
                    </div>
      </div>
    </div>
    <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">De Acuerdo</a>
  </div>

  </div>
  


<!---------------->
                        
<div class="row " >
  <!------- barra lateral de opciones --------->
  <div class="col hide-on-small-only l2 m3 vl ">
    <ul class="section table-of-contents pinned ">
      <li><a href="#">Notificaciones</a></li>
      <li><a href="#id1">Presupuestos</a></li>
      <li><a href="#id2">Negocios</a></li>
      <li><a href="#id3">Vencimientos</a></li>
      <li><a href="#id3">Logistica</a></li>
      <li><a href="#id3">Comprobantes</a></li>
      <li><a href="#id4">Mas Opciones </a></li>
      {% if request.user|has_group:"Vendedor" %} 
        <li><a style=" width: 14%;" class="waves-effect waves-light btn botonsito red white-text modal-trigger pinned " onclick="openModalAlerta()"> Enviar Alerta</a></li>
      {% endif %}
      <li><a style="position: relative; margin-top: 25px; width: 14%;" class="waves-effect waves-light btn botonsito red white-text modal-trigger pinned "  href="{% url 'inicio'  %}" > Nuevo Negocio</a></li>
      <li><a style="position: relative; margin-top: 50px; width: 14%;" class="waves-effect waves-light btn botonsito red white-text modal-trigger pinned "  href="{% url 'todos_negocios'  %}" >Negocios</a></li>
  </ul>
  </div>
  <!----------------------------------->

<a id=""></a>
  <!--------------area general --------------------->
  <div class="col  l10 m9">
    
    <!---------------titulo notificaciones -------------------->
    <div  class="row "> 
      <div class=" titulo  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
        <div id="" class="notis">
          <span  style="font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/notis.png' %}"> Notificaciones</span>
        </div>
      </div>
    </div>
    <!----------------------------------->
    <div  style="height: 100px;"></div>
    <!----------------Area de Notificaciones------------------->
  <div class="row">
    <!----------------Titulitos ------------------->
    <div class=" bloque-izquierdo col l4 "  >
      <span style="margin-left: 60px; "class="text-align center titulito grey-text">
      <img class="imgchica text-align left"  src="{% static 'images/presupuesto.png' %}"> Presupuestos
       <span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <div class="col l4 bloque-centro" >
      <span style="margin-left: 60px; "class="text-align center titulito grey-text">
      <img class="imgchica text-align left"  src="{% static 'images/logistica.png' %}"> Logística 
      <span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <div class="col l4 bloque-derecho">
      <span style="margin-left: 60px; "class="text-align center titulito grey-text">
      <img class="imgchica text-align left"  src="{% static 'images/vencimientos.png' %}"> Vencimientos 
      <span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <!------------------------------------------------------------------------------->

    <!------------notificaciones Prespuesto----------------------->
    <div class="col s4 tamaño" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); ">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            {% for noti in lista_presupuestos%}
              <tr style="border-bottom: 0px; ">
                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                <td><a class="btn-floating btn-small waves-effect waves-light red " onclick="detalleNotis('{{noti.id}}')"><i class=" small material-icons ">search</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!----------------------------------->
    <!-----------------notificaciones logistica ------------------>
     <div class="col s4 tamaño bloque-centro1" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5);">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            {% for noti in lista_logistica_noti %}
              <tr style="border-bottom: 0px; ">
                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}}</td>
                <td><a class="btn-floating btn-small waves-effect waves-light red " onclick="detalleNotis('{{noti.id}}')"><i class=" small material-icons ">search</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!----------------------------------->

    <!-------------notificaciones vencmientos ---------------------->
     <div class="col s4 tamaño" style="border-bottom:2px solid rgb(128, 128, 128, 0.5);">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            {% for noti in lista_vencimiento%}
              <tr style="border-bottom: 0px; ">
                <td class="opcion center">{{noti.titulo}} {{noti.timestamp|date:"M d, Y"}} </td>
                <td><a class="btn-floating btn-small waves-effect waves-light red" onclick="detalleNotis('{{noti.id}}')"><i class=" small material-icons ">search</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!----------------------------------->
    <div class="col s12 " style="height: 70px; border-top: 1px solid rgb(128, 128, 128, 0.5); " ></div>
  </div>
  <!------------- fin de notificaciones---------------------->
  {% if request.user|has_group:"Proveedor" or  request.user|has_group:"Logistica"%} 
      
  {% else %}
  <div id="id1" style="height: 63px;"></div>
  
  <!---------------------------------Presupuestos titulo ---------------------------------------------->
  <div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/logopres.png' %}"> Presupuestos</span>
      </div>
    </div>
  </div>
  <!------------------------------------------------------------------------------->
  <div  style="height: 50px;"></div>
  <!-----------------------------------recibido-------------------------------------------->
  <div class="row"> 
    <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> Recibidos</span> </div>
  </div>
  <div class="row"><table >
    <thead>
      <tr>
          <th>Fecha</th>
          <th>Items</th>
          {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
            <th class="center">Empresa</th>
            <th>Cliente</th>
          {% endif %}
          {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
          <th>Vendedor</th>
          {% endif %}
          <th>Ver Negociación</th>
      </tr>
    </thead>
    <tbody>
      {% for preprec in presupuestos_recibidos %}
      <tr>
        <td>{{preprec.fecha|date:"M d, Y"}}</td>
        <td>
          <div style="overflow-y: scroll; height: 150px;" >
          <ol class="collection" start="1">
            {% for item in preprec.items %}
          <li class="collection-item" >{{item}}</li>
          {% endfor %}
        </ol>
      </div>
      </td>
        {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
          <td class="center">{{preprec.empresa}} </td>
          <td>{{preprec.comprador}}</td>
        {% endif %}
        {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
          <td>{{preprec.vendedor}}</td>
          {% endif %}
        <td><a class="btn-floating btn-small waves-effect waves-light red " onclick="detalleNegocio('{{preprec.id_prop}}')"><i class=" small material-icons ">search</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="waves-effect waves-light btn botonsote red white-text col s12"  href="{% url 'todosFiltro' 1 %}"> Ver todos </a>
  
  </div>
  
  
  <!------------------------------------------------------------------------------->
  <!--------------------------------en Negociación ----------------------------------------------->
  <div class="row"> 
    <div  class="col s12 barra center-align " ><span class="titulito center-align white-text"> En Negociación</span> </div>
  </div>
  <div class="row">
    <table class="">
    <thead>
      <tr>
          <th>Fecha</th>
          <th>Items</th>
          {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
            <th class="center">Empresa</th>
            <th>Cliente</th>
          {% endif %}
          {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
          <th>Vendedor</th>
          {% endif %}
          <th>Ver Negociación</th>
      </tr>
    </thead>

    <tbody >
      {% for prepneg in presupuestos_negociando %}
      <tr class="activado card">
        <td>{{prepneg.fecha|date:"M d, Y"}}</td>
        <td>
          <div style="overflow-y: scroll; height: 150px;" >
          <ol class="collection" start="1">
            {% for item in prepneg.items %}
          <li class="collection-item" >{{item}}</li>
          {% endfor %}
        </ol>
      </div>
      </td>
      {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
          <td class="center">{{prepneg.empresa}} </td>
          <td>{{prepneg.comprador}}</td>
        {% endif %}
        {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
          <td>{{prepneg.vendedor}}</td>
          {% endif %}
        <td><a class="btn-floating btn-small waves-effect waves-light red " onclick="detalleNegocio('{{prepneg.id_prop}}')"><i class=" small material-icons ">search</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="waves-effect waves-light btn botonsote red white-text col s12" href="{% url 'todosFiltro' 2 %}" > Ver todos </a>
  <div class="col s12 " style="height: 70px; border-top: 2px solid rgb(128, 128, 128, 0.5); " ></div>
  </div>
  <!------------------------------------------------------------------------------->
  {% endif %}
  <div id="id2" style="height: 63px;"></div>
  <div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/tick.png' %}"> Negocios</span>
      </div>
    </div>
  </div>
  <div  style="height: 50px;"></div>
  <div class="row"> 
    <div style="background-color:  3cad41;" class="col s12 barraa center-align " ><span class="titulito center-align white-text"> Confirmados</span> </div>
  </div>
  <div class="row"> <table>
    <thead>
      <tr>
          <th>Fecha</th>
          <th>Items</th>
          {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
            <th class="center">Empresa</th>
            <th>Cliente</th>
          {% endif %}
          {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
              <th>Vendedor</th>
          {% endif %}
          <th>Ver Negociación</th>
      </tr>
    </thead>

    <tbody id="tableNegCerradosConfirmados">
      {% for negocioConf in negocios_cerrados_confirmados %}
      <tr>
        <td>{{negocioConf.fecha|date:"M d, Y"}}</td>
        <td>
          <div style="overflow-y: scroll; height: 150px;" >
          <ol class="collection" start="1">
            {% for item in negocioConf.items %}
          <li class="collection-item" >{{item}} </li>
          {% endfor %}
        </ol>
      </div>
      </td>
      {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
          <td class="center">{{negocioConf.empresa}} </td>
          <td>{{negocioConf.comprador}}</td>
      {% endif %}
      {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
          <td>{{negocioConf.vendedor}}</td>
      {% endif %}
        <td><a class="btn-floating btn-small waves-effect waves-light green modal-trigger" onclick="detalleNegocio('{{negocioConf.id_prop}}')"><i class=" small material-icons ">search</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
 
  <a class="waves-effect waves-light btn botonsote red white-text col s12" href="{% url 'todosFiltro' 3 %}" > Ver todos </a>
  {% if request.user|has_group:"Logistica"%} 
      
  {% else %}
    <br>
    <div class="row"> 
      <div style="background-color: ed0023;" class="col s12 barrac center-align " ><span class="titulito center-align white-text"> Cancelados</span> </div>
    </div>
    <div class="row">
      <table>
      <thead>
        <tr>
            <th>Fecha</th>
            <th>Items</th>
            {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
              <th class="center">Empresa</th>
              <th>Cliente</th>
            {% endif %}
            {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
              <th>Vendedor</th>
            {% endif %}
            <th>Ver Negociación</th>
        </tr>
      </thead>

      <tbody>
        {% for negocioNoCerr in negocios_cerrados_no_confirmados %}
        <tr>
          <td>{{negocioNoCerr.fecha|date:"M d, Y"}}</td>
          <td>
            <div style="overflow-y: scroll; height: 150px;" >
            <ol class="collection" start="1">
              {% for item in negocioNoCerr.items %}
            <li class="collection-item" >{{item}} </li>
            {% endfor %}
          </ol>
        </div>
        </td>
        {% if request.user|has_group:"Vendedor" or request.user|has_group:"Comprador" or request.user|has_group:"Gerente" %}
          <td class="center">{{negocioNoCerr.empresa}} </td>
          <td>{{negocioNoCerr.comprador}}</td>
        {% endif %}
        {% if request.user|has_group:"Proveedor" or request.user|has_group:"Logistica" or request.user|has_group:"Administrador" %}
            <td>{{negocioNoCerr.vendedor}}</td>
        {% endif %}
          <td><a class="btn-floating btn-small waves-effect waves-light blue modal-trigger" onclick="detalleNegocio('{{negocioNoCerr.id_prop}}')"><i class=" small material-icons ">search</i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
   
</div>
   
    <a class="waves-effect waves-light btn botonsote red white-text col s12" href="{% url 'todosFiltro' 4 %}"> Ver todos </a>
    <div class="row">
      <div class="col s12 " style="height: 70px;" ></div>
    </div>
    
    
{% endif %}

{% if request.user|has_no_group:"Logistica"%}
  <!-- Esto es el semaforo de vencimientos -->
  <div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/tick.png' %}"> Vencimientos</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="tablesSem">
      <div class=" bloque-izquierdo col l4 red"  >
        <span style="margin-left: 60px ;  "class="text-align center titulito white-text "><img class="imgchica text-align left white-text"  src="{% static 'images/presupuesto.png' %}"> Atrasados <span  style="margin-top:15px ;" class="new badge left-align">{{vencidos|length}}</span> </span>
      </div>
      <div class="col l4 bloque-centro yellow" >
        <span style="margin-left: 20px; "class="text-align center titulito grey-text "><img class="imgchica text-align left"  src="{% static 'images/logistica.png' %}"> Próximos a Vencer <span  style="margin-top:15px ;" class="new badge left-align">{{vencimiento_semanal|length}}</span> </span>
      </div>
      <div class="col l4 bloque-derecho green">
        <span class="text-align center titulito "><img class="imgchica text-align left white-text"  src="{% static 'images/vencimientos.png' %}">  Vencimientos futuros <span  style="margin-top:15px ;" class="new badge left-align">{{vencimiento_futuro|length}}</span> </span>
      </div>
      <div class="col s4 tamaño" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); ">
        <div style="overflow-y: scroll; height: 550px;">
          <table >
            <tbody >
              {% for vence in vencidos%}
                <tr style="border-bottom: 0px;">
                  <td class="opcion center"> {{vence.fecha|date:"M d, Y"}} {{vence.empresa}} </td>
                  <td><button onclick="detalleSemaforo('{{vence.id_propuesta}}', 1)" class="btn-floating btn-small waves-effect waves-light"><i class=" small material-icons ">search</i></button></td>
                </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="col s4 tamaño bloque-centro1" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5);">
        <div style="overflow-y: scroll; height: 550px;">
          <table >
            <tbody >
              {% for semanal in vencimiento_semanal %}
              <tr style="border-bottom: 0px; ">  
                  <td class="opcion center"> {{semanal.fecha|date:"M d, Y"}} {{semanal.empresa}}</td>
                  <td><button onclick="detalleSemaforo('{{semanal.id_propuesta}}', 2)" class="btn-floating btn-small waves-effect waves-light"><i class=" small material-icons ">search</i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    
      </div>
      <div class="col s4 tamaño" style="border-bottom:2px solid rgb(128, 128, 128, 0.5);">
        <div style="overflow-y: scroll; height: 550px;">
          <table >
            <tbody >
            {% for futuro in vencimiento_futuro %}
              <tr style="border-bottom: 0px; ">
                  <td class="opcion center"> {{futuro.fecha|date:"M d, Y"}} {{futuro.empresa}}  </td>
                  <td><button onclick="detalleSemaforo('{{futuro.id_propuesta}}', 2)" class="btn-floating btn-small waves-effect waves-light"><i class=" small material-icons ">search</i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>    
    <div class="col s12 " style="height: 70px; border-top: 2px solid rgb(128, 128, 128, 0.5);" ></div>
  </div>
</div>
  {% endif %}
  <div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/tick.png' %}"> Logística</span>
      </div>
    </div>
  </div>
  <div class="row">
    <table>
    <thead>
      <tr>
          <th>Destinatario </th>
          <th>Empresa</th>
          <th>Destino</th>
          <th>Fecha de Entrega Programada</th>
          <th>Estado</th>
          <th></th>
      </tr>
    </thead>
    <tbody id="tableLogisticaR">
      {% for logistica in lista_logistica %}
        {% if logistica.estado == 'Atrasado' %}
          <tr class=" red">
        {% elif logistica.estado == 'Entregado' %}
          <tr class="green">
        {% elif logistica.estado == 'En Tránsito' %}
          <tr class="ligthblue">
        {% else %}
          <tr class="yellow">
        {% endif %}
            <td>{{logistica.destinatario}}</td>
            <td>{{logistica.empresa}}</td>
            <td>{{logistica.destino}}</td>
            <td>{{logistica.fecha}}</td>
            <td class="card-title">{{logistica.estado}}</td>
            <td><a onclick="detalleLogistica('{{logistica.id_prop}}')" class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">info</i></a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="col s12 " style="height: 70px; border-top: 2px solid rgb(128, 128, 128, 0.5);" ></div>
  </div>
  
  
  
  
  <div class="row" > 
    <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
      <div class="">
        <span style=" font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/tick.png' %}"> Comprobantes</span>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="collapsible black-text">
      <li>
                      <div class="collapsible-header"><i class="material-icons">assignment</i>Facturas</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormFactura()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">book</i>Remitos</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormRemitos()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>Orden de Compra</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormOrdenDeCompra()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>Orden de pago</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormOrdenDePago()"> Cargar </a>
                      </div>
                    </li>  
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>ContansiaRentencion</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormContansiaRentencion()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>Recibo</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormRecibo()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>Cheques</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormCheques()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>CuentaCorrientes</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalformCuentaCorriente()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>FacturaComisiones</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalformFacturaComision()"> Cargar </a>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="material-icons">local_mall</i>Nota</div>
                      <div class="collapsible-body">
                        <a class="btn waves" onclick="openModalFormNota()"> Cargar </a>
                      </div>
                    </li>
                  </ul>
                  <div style="border: 2px solid grey; margin: px;" class="">
                    <a style="padding-top: 2px; margin-bottom: 2px;" class="waves-effect waves-light btn col s4 offset-s2 botonsito grey darken-3" > Ver Todas</a>
                    <a href="#comprobante" style="padding-top: 2px; margin-bottom: 2px;" class="waves-effect waves-light btn col s4 offset-s1 botonsito grey darken-3 modal-trigger" > Cargar Facturas</a>
                  </div>

              
                  <div class="col s12 " style="height: 70px; border-top: 2px solid rgb(128, 128, 128, 0.5);" ></div>    
  </div>
  


                  <div class="row"> 
      <div class=" titulo1  col l6 m10 s8 offset-l3 offset-m1 offset-s1  ">
        <div class="">
          <span style="font-size: 45px ; padding-bottom: 5px; margin-left: 20%;" class=" white-text "> <img class="im text-align left"  src="{% static 'images/notis.png' %}"> Mas opciones</span>
        </div>
      </div>
    </div>
    <div  style="height: 100px;"></div>
  <div class="row">
    <div class=" bloque-izquierdo col l4 "  >
      <span style="margin-left: 60px; "class="text-align center titulito grey-text"><img class="imgchica text-align left"  src="{% static 'images/presupuesto.png' %}">  Cuentas <span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <div class="col l4 bloque-centro" >
      <span style="margin-left: 60px; "class="text-align center titulito grey-text"><img class="imgchica text-align left"  src="{% static 'images/logistica.png' %}"> Gestion general <span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <div class="col l4 bloque-derecho">
      <span style="margin-left: 60px; "class="text-align center titulito grey-text"><img class="imgchica text-align left"  src="{% static 'images/vencimientos.png' %}"> Extras<span  style="margin-top:15px ;" class="new badge left-align">4</span> </span>
    </div>
    <div class="col s4 tamaño" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); ">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            <tr style="border-bottom: 0px; ">
              <td class="opcion center">te llego un pedido de marcos smkith  </td>
              <td><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></td>
            </tr>
           
          
          </tbody>
        </table>
        
      </div>
      
      
      
    </div>
     <div class="col s4 tamaño bloque-centro1" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5);">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            <tr style="border-bottom: 0px; ">
              <td class="opcion center"> El pedido de adama marcos juarez esta atrasado  </td>
              <td><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></td>
            </tr>
           
          
          </tbody>
        </table>
        
      </div>
      
      
      <a class="waves-effect waves-light btn col s8 offset-s2 botonsito grey darken-3" > Ver Todas</a>
    </div>
     <div class="col s4 tamaño" style="border-bottom:2px solid rgb(128, 128, 128, 0.5);">
      <div style="overflow-y: scroll; height: 550px;">
        <table >
          <tbody >
            <tr style="border-bottom: 0px; ">
              <td class="opcion center"> Mar 05 2021  ADAMA .SA  </td>
              <td><a class="btn-floating btn-small waves-effect waves-light red "><i class=" small material-icons ">search</i></a></td>
            </tr>
           
          
          </tbody>
        </table>
        
      </div>
      
      
      <a class="waves-effect waves-light btn col s8 offset-s2 botonsito grey darken-3" > Ver Todas</a>
    </div>
  </div>
</div>

</div>
  
</div>  

  

  <script>
  $(document).ready(function(){
    $('.scrollspy').scrollSpy(); 
  });
        
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
 $(document).ready(function(){
    $('.tooltipped').tooltip();
  });

  $(document).ready(function(){
    $('.tap-target').tapTarget();
  });
 
  function searchBuscadorAlerta(){ 
      var value = $("#inputBuscadorAlerta").val().toLowerCase();
      $("#tablitaAlerta tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
  };
           
  function detalleSemaforo(idProp, ind){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleSemaforo' %}",
      data: {'idProp':idProp,'ind':ind,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) {
        $("#modalSemaforo").html(data);
        $('#modalSemaforoNegocio').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };
  function detalleLogistica(idProp){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleLogistica' %}",
      data: {'idProp':idProp,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) {
        $("#modalLogistica").html(data);
        $('#modalDetalleLogistica').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function detalleNegocio(idProp){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleNegocio' %}",
      data: {'idProp':idProp,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) {
        $("#modalNegocio").html(data);
        $('#modalDetalleNegocio').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function detalleNotis(idNoti){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleNotis' %}",
      data: {'idNoti':idNoti,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) {
        $("#modalNotis").html(data);
        $('#alertaNotis').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    });
  };

  function openModalAlerta(){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleAlerta' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalAlerta").html(data);
        $('#alerta').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormFactura(){
    $.ajax({
      url: "{% url 'formFactura' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormFactura").html(data);
        $('#factura').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormRemitos(){
    $.ajax({
      url: "{% url 'formFactura' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormRemito").html(data);
        $('#remito').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormOrdenDeCompra(){
    $.ajax({
      url: "{% url 'formOrdenDeCompra' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormOrdenDeCompra").html(data);
        $('#ordenDeCompra').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormOrdenDePago(){
    $.ajax({
      url: "{% url 'formOrdenDePago' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormOrdenDePago").html(data);
        $('#ordenDePago').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormContansiaRentencion(){
    $.ajax({
      url: "{% url 'formContansiaRentencion' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormContansiaRentencion").html(data);
        $('#contansiaRentencion').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormRecibo(){
    $.ajax({
      url: "{% url 'formRecibo' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormRecibo").html(data);
        $('#recibo').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormCheques(){
    $.ajax({
      url: "{% url 'formCheque' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormCheques").html(data);
        $('#cheques').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalformCuentaCorriente(){
    $.ajax({
      url: "{% url 'formCuentaCorriente' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalformCuentaCorriente").html(data);
        $('#cuentaCorrientes').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalformFacturaComision(){
    $.ajax({
      url: "{% url 'formFacturaComision' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalformFacturaComision").html(data);
        $('#facturaComisiones').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function openModalFormNota(){
    $.ajax({
      url: "{% url 'formNota' %}",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) { 
        $("#modalFormNota").html(data);
        $('#nota').modal('open'); 
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };

  function detalleArticuloNegocio(idItem, funOrig){
    $.ajax({
      type: 'POST',
      url: "{% url 'detalleItem' %}",
      data: {'idItem':idItem,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
      success: function (data) {
        $("#modalNegocio").html(data);
        $('#modalDetalleNegocio').modal('open');
        if (funOrig == 2){
          $('#modalDetalleLogistica').modal('close'); 
        }
      },
      error: function (response) {
          console.log("Error")
      }
    })
  };
  
  function selNegocioModalAlerta(){ 
    $("#divFormSendAlerta").show();
    $("#inputBuscadorAlerta").hide();
    $("#btnSendAlerta").show();
  };

  function sendAlertaModal(){
    var selected = new Array();
    $('#tableAlertas input[type="checkbox"]:checked').each(function() {
        selected.push($(this).attr('data-id'));
    });    
    var jsonText = JSON.stringify(selected);
    var titulo = document.getElementById("tituloAlerta").value;
    if (titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var descri = document.getElementById("descriAlerta").value;
      var categoria = document.getElementById("selectModalAlert").value;
      $.ajax({
          url: "{% url 'sendAlertaModal' %}",
          type: 'POST',
          data: {'jsonText':jsonText,'titulo':titulo,'descri':descri,'categoria':categoria,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){             
              M.toast({html: data.result});
              if (data.estado){
                $('#alerta').modal('close');
              };   
          },
          error: function (data) {
              console.log(data.result)
          }
      });
    };
  };

  function showChangeEstados(){
    $('.auxSem').show();
    $("#nego").hide();
    $("#mostrarChgEstSem").hide();
    $("#confirmarChgEstSem").show();
  };

  function formAlertaLog(){
    $("#btnAlertaLog").hide();
    $("#divFormSendAlertaLog").show();
    $("#btnsendAlertaLog").show();
    document.getElementById("idPideAlertaLog").value = 1;
  };

  function sendAlertaLog(){
    var titulo = document.getElementById("tituloAlertaLog").value;
    if (titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var descri = document.getElementById("descriAlertaLog").value;
      var categoria = "Logistica";
      var idNegocio = document.getElementById("idNegocioLog").value;
      $.ajax({
          url: "{% url 'sendAlertaLog' %}",
          type: 'POST',
          data: {'titulo':titulo,'descri':descri,'categoria':categoria,'idNegocio':idNegocio,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){ 
              M.toast({html: data.result});
              if (data.estado){
                $('#modalDetalleLogistica').modal('close');
              };  
          },
          error: function (data) {
              console.log(data.result)
          }
      });
    }
    
  };

  function formAlertaSem(){
    $("#btnAlertaSem").hide();
    $("#divFormSendAlertaSemaforo").show();
    document.getElementById("idPideAlertaSem").value = 1;
  };
  
  function formAlertaSemCA(origen){
    var titulo = document.getElementById("tituloAlertaSem").value;
    var descri = document.getElementById("descriAlertaSem").value;    
    var idNegocio = document.getElementById("idNegocioSem").value;
    $.ajax({
        url: "{% url 'createAlertaNV' %}",
        type: 'POST',
        data: {'titulo':titulo,'descri':descri,
            'idNegocio':idNegocio,csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data){
          console.log(data.result);
          if (data.estado){
            if (origen=='Sem'){
              $('#modalSemaforoNegocio').modal('close');
            }else{
              $('#modalDetalleLogistica').modal('close'); 
            }
                 
          } 
          M.toast({html: data.result});
        },
        error: function (data) {
            console.log(data.result)
        }
    })      
  }

  function ocultarEstadoLog(){
    $(".textEstado").hide();
    $(".selecEstado").show();
    $("#mostrarEstadoLog").hide();
    $("#confirmarEstadoLog").show();
  };

  function cambiarEstadoLog(){
    var titulo = document.getElementById("tituloAlertaLog").value;
    var descri = document.getElementById("descriAlertaLog").value;
    var idPideAlertaLog = document.getElementById("idPideAlertaLog").value;
    var receptor = document.getElementById("selectModalAlertLog").value;
    if (idPideAlertaLog == "1" && titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var estadosId = [];
      var grid = document.getElementById("tablaLogEstados");
      var selectInput = grid.getElementsByTagName("SELECT");
      for (var i = 0; i < selectInput.length; i++) {
          var estado=1;
          var row = selectInput[i];
          var id = $(row).data("id");
          console.log(row.value);
          if (row.value == 'Entregado') {
            estado = 3
          } else if (row.value == 'Atrasado') {
            estado = 1
          } else if (row.value == 'En'){
            estado = 2
          } else {
            estado = 4
          };          
          console.log(estado);
          var value_log = estado +"-"+ id
          estadosId.push(value_log);
      };
      var jsonText = JSON.stringify(estadosId);      
      $.ajax({
        url: "{% url 'setLogistica' %}",
        type: 'POST',
        data: {'jsonText':jsonText,'titulo':titulo,'descri':descri,'receptor':receptor,'envio':idPideAlertaLog,
          csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(data){
          $('#modalDetalleLogistica').modal('close'); 
          M.toast({html: data.result})
          $.ajax({
            url: "{% url 'reloadLog' %}",
            type: 'GET',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function(data){
                    $('#tableLogisticaR').html(data);
                },
                error: function (data) {
                  console.log(data.result)
              }
            });
        },
        error: function (data) {
            M.toast({html: data.result})
        }
      });
    }
         
  };

  function sendFechaPagoSemaforo(){
    var titulo = document.getElementById("tituloAlertaSem").value;
    var descri = document.getElementById("descriAlertaSem").value;
    var tocadoAlerta = document.getElementById("idPideAlertaSem").value;
    var idNegocio = document.getElementById("idNegocioSem").value;
    if (tocadoAlerta == "1" && titulo === ""){
      M.toast({html: 'Error! El Titulo no puede estar en blanco.'});
    } else {
      var ids = [];
      var grid = document.getElementById("tableFechaPagoS");
      var checkBoxes = grid.getElementsByTagName("INPUT");
      for (var i = 0; i < checkBoxes.length; i++) {
          if (checkBoxes[i].checked) {
              var row = checkBoxes[i];
              var id = $(row).data("id");
              ids.push(id);
          };
      };
      var jsonText = JSON.stringify(ids);
      var vacio = 0
      if (ids.length == 0){
        vacio = 1
      };
      $.ajax({
          url: "{% url 'setFechaPagoReal' %}",
          type: 'POST',
          data: {'jsonText':jsonText,'idNegocio':idNegocio,'titulo':titulo,
            'descri':descri,'vacio':vacio,'tocadoAlerta':tocadoAlerta,
              csrfmiddlewaretoken: '{{ csrf_token }}'},
          success: function(data){
            if (data.estado){
              console.log(data.estado);
              $('#modalSemaforoNegocio').modal('close');     
            } 
            M.toast({html: data.result});
            $.ajax({
              url: "{% url 'reloadSem' %}",
              type: 'GET',
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'},
                  success: function(data){
                      $('#tablesSem').html(data);
                  },
                  error: function (data) {
                    console.log(data.result)
                }
            });
            
          },
          error: function (data) {
              console.log(data.result)
          }
      })      
    };
  };

  </script>

  

{% endblock body %}