{% load static %}
<style>
  .show{{prop.id}} {
    }
  .not-show{{prop.id}} {
    display: none;
  }
  .i{{prop.id}} {
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }
</style>
<div class="row history-tables" id="div-table-{{prop.id}}">
  <div class="circle-container col s3 {% if not prop.envio_comprador and request.user.clase == 'Comprador' %}push-m6{% elif prop.envio_comprador and request.user.clase == 'Vendedor' %}push-m6{%endif%}">
    <div class="circle-neg {% if not prop.envio_comprador and request.user.clase == 'Comprador' %}circle-right{% elif prop.envio_comprador and request.user.clase == 'Vendedor' %}circle-right{%endif%}" id="circle{{prop.id}}">
      <div class="circle-inner">
        <object data="{% static 'images/Logo-BV-sfondo-bg.svg' %}" type="image/svg+xml"></object>
      </div>
    </div>
  </div>
  <div class="col s12 m9 {% if not prop.envio_comprador and request.user.clase == 'Comprador' %}pull-m3{% elif prop.envio_comprador and request.user.clase == 'Vendedor' %}pull-m3{%endif%}">
    <div class="prop-title">
      <p class="prop-creator-name table-nego" id="prop-creator-name-{{prop.id}}">
        {% if prop.envio_comprador %} 
        {{ negocio.comprador.get_full_name }} - {{ negocio.comprador.empresa }} 
        {% else %}
        {{ negocio.vendedor.get_full_name }} - {{ negocio.vendedor.empresa }} 
        {% endif %}
      </p>
      <p class="prop-date table-nego">{{ prop.timestamp|date:"d/m/Y    H:i" }} hs</p>
    </div>
    <div class="card history-card table-nego {% if not prop.envio_comprador and request.user.clase == 'Comprador' %}card-right{% elif prop.envio_comprador and request.user.clase == 'Vendedor' %}card-right{%endif%}" id="card{{prop.id}}">
      <div class="container__wrapper" style="display: none;">
        <div class="container__watermark">
          <img class="w1" src="{% static 'images/logo-BV-vista-cliente.svg' %}" height="270px" alt="watermark">
        </div>
        <!-- <div class="container__watermark">
          <img class="w2" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
          <img class="w2-hide" style="display: none;" src="{% static 'images/bv-green-bg.png' %}" height="200px" alt="watermark">
        </div>
        <div class="container__watermark">
          <img class="w3" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
        </div> -->
      </div>
      <div class="dark-text">
        <div class="row">
          <table class="data-table table-nego">
            <thead class="card-title table-nego">
              <tr>
                <th class="show{{prop.id}}">Articulo</th>
                {% if not request.user.clase == 'Comprador' %}
                <th class="show{{prop.id}} clientViewSM">Distribuidor</th>
                {% endif %}
                <th class="show{{prop.id}}">Cantidad</th>
                <th class="show{{prop.id}}">{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}</th>
                {% if not request.user.clase == 'Comprador' %}
                <th class="show{{prop.id}} clientViewSM">Precio compra</th>
                {% endif %}
                <th class="{% if request.user.clase == 'Comprador' %}show{{prop.id}}{% elif request.user.clase == 'Vendedor' %}not-show{{prop.id}}{%endif%} clientView">Tipo pago</th>
                <th class="not-show{{prop.id}} clientView">Tasa</th>
                <th class="not-show{{prop.id}}">Fecha pago</th>
                <th class="not-show{{prop.id}} clientView">Fecha entrega</th>
                <th class="not-show{{prop.id}} clientView">Destino</th>
                <th class="clientViewSM">Ver más</th>
              </tr>
            </thead>
            <tbody class="card-content">
            {% for item in prop.items.all %}
              <tr {% if item.aceptado %}style="background-color: rgba(76, 184, 72, 0.29);"{% endif %}>
                <td class="show{{prop.id}}">{{ item.articulo }}</td>
                {% if not request.user.clase == 'Comprador' %}
                <td class="show{{prop.id}} clientViewSM">{{ item.proveedor.get_full_name|default:'N/E' }}</td>
                {% endif %}
                <td class="show{{prop.id}}">{{ item.cantidad }}</td>
                <td class="show{{prop.id}}">{{ item.precio_venta }}</td>
                {% if not request.user.clase == 'Comprador' %}
                <td class="show{{prop.id}} clientViewSM">{{ item.precio_compra|default_if_none:"0,0" }}</td>
                {% endif %}
                <td class="{% if request.user.clase == 'Comprador' %}show{{prop.id}}{% elif request.user.clase == 'Vendedor' %}not-show{{prop.id}}{%endif%} clientView">{{ item.tipo_pago.nombre|default:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.tasa }}%</td>
                <td class="not-show{{prop.id}}">{{ item.fecha_pago|default:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.fecha_entrega|default:"Sin definir" }}</td>
                <td class="not-show{{prop.id}} clientView">{{ item.destino|default:"Sin definir" }}</td>
                <td class="clientViewSM">
                  <a class="action-btn btn-floating btn waves-effect waves-green transparent no-shadows" id="btn-sm-{{prop.id}}" onclick="showMore({{prop.id}}); sm{{prop.id}}=!sm{{prop.id}};"><i class="i{{prop.id}} material-icons table-icons" style="color: #459A33;">search</i></a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-action table-nego">
        <span class="obser">Observaciones</span>
        <p>{{ prop.observaciones|default_if_none:'No hay observaciones'|default:'No hay observaciones' }}</p>
        <a class="copy-btn no-shadow waves-effect waves-dark btn tooltipped" data-position="top" data-tooltip="Copiar URL del elemento" onclick="copyIdToClipboard(window.location.href.split('#')[0], {{prop.id}});"><i class="material-icons right">content_copy</i>Copiar</a>
      </div>
    </div>
  </div>
</div>
<script>
  // var btn_sm_{{prop.id}} = document.getElementById('btn-sm-{{prop.id}}');

  // $(btn_sm_{{prop.id}}).each(function () {
  //   $('[id="' + this.id + '"]:gt(0)').remove();
  // });

  var propCreatorNameEl_{{prop.id}} = $("#prop-creator-name-{{prop.id}}");
  var propCreatorNameOrig_{{prop.id}} = $("#prop-creator-name-{{prop.id}}").text();
  var sm{{prop.id}} = false;
  var propIdId = "{{prop.id}}";
  var hasPush{{prop.id}} = false;
  if ($("#div-table-{{prop.id}} > div:nth-child(2)").hasClass("push-m3")) {
    hasPush{{prop.id}} = true;
  }

  $("#client-view-sw").change(function() {
    if (hasPush{{prop.id}}) {
      $("#div-table-{{prop.id}} > div:nth-child(2)").toggleClass("push-m3");
    }
    if($(this).is(":checked")) {
      var propId = "{{prop.id}}";
      if (sm{{prop.id}}) {
        showMore(propId);
        sm{{prop.id}} = !sm{{prop.id}};
      }
      propCreatorNameEl_{{prop.id}}.text("{{ negocio.comprador.get_full_name }} - {{ negocio.comprador.empresa }}");
    }
    else {
      var propId = "{{prop.id}}";
      if (sm{{prop.id}}) {
        showMore(propId);
        sm{{prop.id}} = !sm{{prop.id}};
      }
      propCreatorNameEl_{{prop.id}}.text(propCreatorNameOrig_{{prop.id}});
    }
  });
  
  $(document).ready(function() {
    listProp.push("{{prop.id}}");
  });

  $(window).on('load', function () {
    vAlignCircle({{prop.id}});
  });
  
</script>

{% if negocio.estado == "CONFIRMADO" %}
<script>
  $(document).ready(function () {
    var isBeforeFechaCierre = false;
    var fechaProp = "{{prop.timestamp|date:'c'}}";
    var fechaCierreNeg = "{{negocio.fecha_cierre|date:'c'}}";
    
    if (Date.parse(fechaProp) <= Date.parse(fechaCierreNeg)) {
      isBeforeFechaCierre = true;
    }

    addTables("{{prop.id}}", isBeforeFechaCierre);

  });
</script>
{% endif %}