{% load static %}
{% load formatfloat %}
<div class="container">
  <div class="row" style="margin-bottom: 0;" id="div-table-{{prop.id}}">
    <div class="col s6 {% if prop.envio_comprador %} pull-s2 {% else %} push-s1 {% endif %} prop-creator-name" 
          data-comprador="{{ negocio.comprador.get_full_name }} - {{ negocio.comprador.empresa }}" 
          data-vendedor="{{ negocio.vendedor.get_full_name }} - {{ negocio.vendedor.empresa }}"
          data-isComprador="{% if prop.envio_comprador %}true{% else %}false{% endif %}">
      <p style="margin-bottom: 0;">
      {% if prop.envio_comprador %} 
      {{ negocio.comprador.get_full_name }} - {{ negocio.comprador.empresa }} 
      {% else %}
      {{ negocio.vendedor.get_full_name }} - {{ negocio.vendedor.empresa }} 
      {% endif %}
      </p>
    </div>
    <div class="col s6 {% if prop.envio_comprador %} pull-s2 {% else %} push-s1 {% endif %} prop-date">
      <p style="margin-bottom: 0;">{{ prop.timestamp|date:"d/m/Y    H:i" }} hs</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 {% if prop.envio_comprador %} pull-s2 {% else %} push-s1 {% endif %}">
      <div class="card history-card">
        <div class="container__wrapper" style="display: none;">
          <div class="container__watermark">
            <img class="w1" src="{% static 'images/logo-BV-vista-cliente.svg' %}" height="270px" alt="watermark">
          </div>
          <!-- <div class="container__watermark">
            <img class="w2" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
            <img class="w2-hide" style="display: none;" src="{% static 'images/bv-green-bg.png' %}" height="200px" alt="watermark">
          </div>
          <div class="container__watermark">
            <img class="w3" src="{% static 'images/logo-16.png' %}" height="180px" alt="watermark">
          </div> -->
        </div>
        <div class="circle-neg-container {% if prop.envio_comprador %} comprador {% else %} vendedor {% endif %}" id="circle-neg{{prop.id}}">
          <div class="circle-neg history">
            <object data="{% static 'images/Logo-BV-sfondo-bg.svg' %}" type="image/svg+xml"></object>
          </div>
        </div>
        <div class="card-content">
          <div class="responsive-table history">
            <table class="responsive-table" data-isShowMore="false">
              <thead class="card-thead">
                <tr>
                  <th>Articulo</th>
                  {% if not request.user.clase == 'Comprador' %}
                  <th class="clientView">Distribuidor</th>
                  {% endif %}
                  <th>Cantidad</th>
                  <th>{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}</th>
                  {% if not request.user.clase == 'Comprador' %}
                  <th class="clientView">Precio compra</th>
                  {% endif %}
                  <th class="clientView">Tipo pago</th>
                  <th class="clientView">Tasa</th>
                  <th class="clientView">Fecha entrega</th>
                  <th>Fecha pago</th>
                  <th class="clientView">Destino</th>
                  <th class="ignore">Ver más</th>
                </tr>
              </thead>
              <tbody>
                {% for item in prop.items.all %}
                <tr {% if item.aceptado %}style="background-color: rgba(76, 184, 72, 0.29);"{% endif %}>
                  <td>{{ item.articulo }}</td>
                  {% if not request.user.clase == 'Comprador' %}
                  <td class="clientView">{{ item.proveedor.get_full_name|default:'N/E' }}</td>
                  {% endif %}
                  <td>{% formatfloat item.cantidad %}</td>
                  <td>{% formatfloat item.precio_venta %}</td>
                  {% if not request.user.clase == 'Comprador' %}
                  <td class="clientView">{% formatfloat item.precio_compra %}</td>
                  {% endif %}
                  <td class="clientView">{{ item.tipo_pago.nombre|default:"Sin definir" }}</td>
                  <td class="clientView">
                    {% if item.tasa == 0 %}
                      Sin definir
                    {% else %}
                      {{item.tasa}}
                    {% endif %}
                  </td>
                  <td class="clientView">{{ item.fecha_entrega|default:"Sin definir" }}</td>
                  <td>{{ item.fecha_pago|default:"Sin definir" }}</td>
                  <td class="clientView">{{ item.destino|default:"Sin definir" }}</td>
                  <td class="ignore">
                    <a class="action-btn btn-floating btn waves-effect waves-green transparent no-shadows show-more-btn"><i class="material-icons table-icons" style="color: #459A33;">search</i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="card-action table-nego">
            <span class="obser">Observaciones</span>
            <div class="obser-text">
              <p class="">{{ prop.observaciones|default_if_none:'No hay observaciones'|default:'No hay observaciones' }}</p>
            </div>
            <a class="copy-btn no-shadow waves-effect waves-dark btn tooltipped" data-position="top" data-tooltip="Copiar URL del elemento" onclick="copyIdToClipboard(window.location.href.split('#')[0], '{{prop.id}}');"><i class="material-icons right">content_copy</i>Copiar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if negocio.estado == "CONFIRMADO" %}
<script>
  $(document).ready(function () {
    var isBeforeFechaCierre = false;
    var fechaProp = "{{prop.timestamp|date:'c'}}";
    var fechaCierreNeg = "{{negocio.fecha_cierre|date:'c'}}";
    
    if (Date.parse(fechaProp) <= Date.parse(fechaCierreNeg)) {
      isBeforeFechaCierre = true;
    }

    addTables("{{prop.id}}", isBeforeFechaCierre);

  });
</script>
{% endif %}