{% load static %}
<div class="container" id="form-table-div">
  <div class="row" style="margin-bottom: 0;">
    <div class="col s6 push-s1 prop-creator-name table-edit">
      <p style="margin-bottom: 0;">
        Nueva propuesta
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 push-s1">
      <div class="card table-edit" id="card0">
        <div class="circle-neg-container edit" id="circle-neg{{prop.id}}">
          <div class="circle-neg">
            <object data="{% static 'images/Logo-BV-sfondo-bg.svg' %}" type="image/svg+xml"></object>
          </div>
        </div>
        <div class="card-content">
          <div class="responsive-table edit">
            <table class="responsive-table" data-isShowMore="false" id="form">
              <thead class="edit-thead">
                <tr>
                  <th>Articulo</th>
                  {% if not request.user.clase == 'Comprador' %}
                  <th>Distribuidor</th>
                  {% endif %}
                  <th>Cantidad</th>
                  <th>{% if not request.user.clase == 'Comprador' %}Precio venta{% else %}Precio{% endif %}</th>
                  {% if not request.user.clase == 'Comprador' %}
                  <th>Precio compra</th>
                  {% endif %}
                  <th>Tipo pago</th>
                  <th>
                    <div style="display: flex; align-items: center; justify-content: center;">
                      Tasa     
                      {% if request.user.clase == 'Vendedor' %}
                      <a class="tooltipped" data-position="top" data-tooltip="Asignando 0 se mostrara 'Sin determinar'" >
                        <i class="Tiny material-icons iconbar" style="margin-left:5px; position: relative; color: #459A33!important;">lightbulb_outline</i>
                      </a>
                      {% endif %}
                    </div>
                  </th>
                  <th>Fecha entrega</th>
                  <th>Fecha pago</th>
                  <th>Destino</th>
                  <th class="ignore-op">Operaciones</th>
                  <th class="ignore">Ver más</th>
                </tr>
              </thead>
              <tbody>
                {% for item in prop.items.all %}
                  <tr {% if item.aceptado %}style="background-color: rgba(76, 184, 72, 0.29);"{% endif %} data-issaved="true">
                    <td>
                      {% if not request.user.clase == 'Comprador' %}
                      <input class="art-search" type="text" name="articulo" id='artSearch{{ forloop.counter }}' list="artDatalist{{ forloop.counter }}" placeholder="Articulo" value="{{ item.articulo|default_if_none:'' }}" oninput="removeUpdate('{{ forloop.counter0 }}')">
                      <datalist id="artDatalist{{ forloop.counter }}"></datalist>
                      {% else %}
                      <span id="artName{{ forloop.counter }}" name="articulo" data-updateignore="true">
                      {{ item.articulo|default_if_none:'' }}
                      </span>
                      {% endif %}
                    </td>
                    {% if not request.user.clase == 'Comprador' %}
                    <td>
                      {% if item.proveedor == None %}
                      <input class="dist-search" type='text' name="distribuidor" id='distSearch{{ forloop.counter0 }}' list='distResults' autocomplete='off' placeholder="Distribuidor" oninput="removeUpdate('{{ forloop.counter0 }}')">
                      <datalist id='distResults'>
                      {% for dist in distribuidores %}
                        <option data-value="{{ dist.id }}" value="{{ dist.get_full_name }}"></option>
                      {% endfor %}
                      </datalist>
                      {% else %}
                      <span name="distribuidor" data-updateignore="true">
                      {{ item.proveedor.get_full_name }}
                      </span>
                      {% endif %}
                    </td>
                    {% endif %}
                    <td><input type="number" name="cantidad" min=".01" step=".01" value="{{ item.cantidad|default_if_none:''|stringformat:'.2f' }}" placeholder="Cantidad" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    <td><input type="number" name="precio_venta" min=".01" step=".01" value="{{ item.precio_venta|default_if_none:''|stringformat:'.2f' }}" placeholder="{% if request.user.clase == 'Comprador' %}Precio{% else %}Precio venta{% endif %}" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    {% if not request.user.clase == 'Comprador' %}
                    <td><input type="number" name="precio_compra" min=".01" step=".01" value="{{ item.precio_compra|default_if_none:''|stringformat:'.2f' }}" placeholder="Precio compra" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    {% endif %}
                    <td>
                      <select name="tipo_pago" onchange="contadoTasa('{{item.id}}'); removeUpdate('{{ forloop.counter0 }}')" id="tp{{item.id}}">
                        <option value="" {% if item.tipo_pago == None %}selected{% endif %} disabled>Elija tipo pago</option>
                      {% for tipo_pago in tipo_pagos %}
                        <option value="{{ tipo_pago.id }}" {% if tipo_pago.nombre == item.tipo_pago.nombre and item.tipo_pago != None %}selected{% endif %}>{{ tipo_pago.nombre }}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td><input type="number" name="tasa" step=".01" id="tas{{item.id}}" min="0" value="{{ item.tasa|stringformat:'.2f' }}" placeholder="Tasa" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    <td><input class="datepicker" autocomplete="off" type="text" name="fecha_entrega" value="{{ item.fecha_entrega|default:'' }}" placeholder="Fecha entrega" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    <td><input class="datepicker" autocomplete="off" type="text" name="fecha_pago" value="{{ item.fecha_pago|default:'' }}" placeholder="Fecha pago" oninput="removeUpdate('{{ forloop.counter0 }}')"></td>
                    <td>
                      <input type="text" name="destino" value="{{item.destino}}" placeholder="Destino" oninput="removeUpdate('{{ forloop.counter0 }}')"/>
                    </td>
                    <td class="ignore-op">
                      {% if not item.aceptado %}
                      <a class="action-btn btn-small bv-green btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Aceptar" onclick="accept('{{ forloop.counter0 }}')" id="accept-{{ forloop.counter0 }}"><i class="material-icons table-icons">done</i></a>
                      <a class="action-btn btn-small bv-red btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Eliminar" onclick="reject('{{ forloop.counter0 }}')"><i class="material-icons table-icons">delete</i></a>
                      {% endif %}
                      <a class="action-btn btn-small bv-yellow btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Guardar Ediciones" onclick="update('{{ forloop.counter0 }}')" id="save-{{ forloop.counter0 }}"><i class="material-icons table-icons">save</i></a>
                      <a class="action-btn btn-small bv-blue btn-floating waves-effect waves-light tooltipped" data-position="top" data-tooltip="Eliminar Ediciones" onclick="resetAll('{{ forloop.counter0 }}');"><i class="material-icons table-icons">undo</i></a>
                    </td>
                    <td class="ignore">
                      <a class="action-btn btn-floating btn waves-effect waves-green transparent no-shadows show-more-btn"><i class="i1 material-icons table-icons" style="color: #459A33;">search</i></a>
                    </td>
                  </tr>
                  <script>
                    $(document).ready(function() {
                      contadoTasa("{{item.id}}");
                    });
                  </script>
                {% endfor %}
                {% if not negocio.estado == "CONFIRMADO" and not negocio.estado == "ESP_CONF" %}
                  <tr id="extra">
                    <td>
                      <input class="art-search" type="text" name='articulo' id='artSearch0' list="artDatalist0" placeholder="Articulo">
                      <datalist id="artDatalist0">
                    </td>
                    {% if not request.user.clase == 'Comprador' %}
                    <td>
                      <input class="dist-search" type='text' name='distribuidor' id='distSearch' list='distResults' autocomplete='off' placeholder="Distribuidor">
                      <datalist id='distResults'>
                      {% for dist in distribuidores %}
                        <option data-value="{{ dist.id }}" value="{{ dist.get_full_name }}"></option>
                      {% endfor %}
                      </datalist>
                    </td>
                    {% endif %}
                    <td><input type="number" name="cantidad" min=".01" step=".01" placeholder="Cantidad"></td>
                    <td>
                      <input type="number" name="precio_venta" step=".01" min=".01" placeholder="{% if request.user.clase == 'Comprador' %}Precio{% else %}Precio venta{% endif %}">
                    </td>
                    {% if not request.user.clase == 'Comprador' %}
                    <td>
                      <input type="number" name="precio_compra" min=".01" step=".01" placeholder="Precio compra">
                    </td>
                    {% endif %}
                    <td>
                      <select name="tipo_pago" onchange="contadoTasa('Add')" id="tpAdd">
                        <option value="" selected disabled>Elija tipo pago</option>
                      {% for tipo_pago in tipo_pagos %}
                        <option value="{{ tipo_pago.id }}">{{ tipo_pago.nombre }}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td>
                      <input type="number" name="tasa" step=".01" id="tasAdd" min="0" placeholder="Tasa">
                    </td>
                    <td><input class="datepicker" autocomplete="off" type="text" name="fecha_entrega" placeholder="Fecha entrega"></td>
                    <td><input class="datepicker" autocomplete="off" type="text" name="fecha_pago" placeholder="Fecha pago"></td>
                    <td>
                      <input type="text" name="destino" placeholder="Destino"/>
                    </td>
                    <td class="ignore-op"><a class="action-btn no-shadow bv-dark-green btn-floating waves-effect waves-light tooltipped add-art" data-position="top" data-tooltip="Agregar" onclick="addArt()"><i class="material-icons">add</i></a></td>
                    <td class="ignore">
                      <a class="action-btn btn-floating btn waves-effect waves-green transparent no-shadows show-more-btn"><i class="i1 material-icons table-icons" style="color: #459A33;">search</i></a>
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
            </table>
          </div>
          <div class="card-action table-nego">
            <span class="obser">Observaciones</span>
            <textarea class="materialize-textarea" id="observaciones" name="observaciones" cols="30" rows="10" placeholder="No hay observaciones">{{ prop.observaciones }}</textarea>
            <br><br>
            <a class="send-btn no-shadow bv-green waves-effect waves-light btn" id="send-prop-btn" onclick="beforeSubmit(true);" disabled>Enviar</a>
            {% if negocio.estado == "ESP_CONF" and request.user.clase == "Vendedor" %}
            <a class="send-btn no-shadow bv-green waves-effect waves-light btn" id="conf-neg-btn" onclick="beforeSubmit(false);">Confirmar negocio</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>