{% load static %}

<style>
    .blink_text {
        text-align: center;
        animation-name: blinker;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes blinker {  
        0% { opacity: 0.0; }
        50% { opacity: 1.0; }
        100% { opacity: 0.0; }
    }

    .contain.valign-wrapper {
        width: 100% !important;
        height: 100% !important;
        position: fixed !important;
        z-index: 999 !important;
        background-color: white !important;
        z-index: 999 !important;
    }

    .spinner-layer {
        border-color: #459A33 !important;
    }
</style>

<div class="contain valign-wrapper">
    <div class="row">
        <div class="col s12">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>