{% load static %}
<div class="clv">

  <div style="width: 100%;">
    <div id="tablesSem">

      <div class="col s4 l4 bloque-izquierdo clvP" style="background-color: rgba(238,29,35,255);">
        <div class="titulos">
          <span class="text-align center titulito white-text ">
            Atrasados
          </span>
        </div>
        <div class="nuevos_semaforo">
          <b>{{vencidos|length}}</b>
          <a>Nuevos</a>
        </div>
      </div>

      <div class="col l4 s4 bloque-centro clvP" style="background-color: rgba(254,206,8,255)">
        <div class="titulos">
          <span class=" titulito white-text">
            Próximos a Vencer
          </span>
        </div>
        <div class="nuevos_semaforo">
          <b>{{vencimiento_semanal|length}}</b>
          <a>Nuevos</a>
        </div>
      </div>

      <div class="col l4 s4 bloque-derecho clvP" style="background-color: rgba(76,184,72,255)">
        <div class="titulos">
          <span class="text-align center titulito white-text">
            Vencimientos futuros
          </span>
        </div>
        <div class="nuevos_semaforo">
          <b>{{vencimiento_futuro|length}}</b>
          <a>Nuevos</a>
        </div>
      </div>

      <div class="col s4 tamaño" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5); ">
        <div style="overflow-y: scroll; height: 550px;">
          <table>
            <tbody>
              {% for vence in vencidos%}
              <tr style="border-bottom: 0px;">
                <td class="opcion center"> {{vence.fecha|date:"M d, Y"}} {{vence.empresa}} </td>
                <td><button onclick="detalleSemaforo('{{vence.id_propuesta}}', 1)"
                    class="btn-floating btn-small waves-effect waves-light"><i
                      class=" small material-icons ">search</i></button></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>
      <div class="col s4 tamaño bloque-centro1" style="border-bottom: 2px solid rgb(128, 128, 128, 0.5);">
        <div style="overflow-y: scroll; height: 550px;">
          <table>
            <tbody>
              {% for semanal in vencimiento_semanal %}
              <tr style="border-bottom: 0px; ">
                <td class="opcion center"> {{semanal.fecha|date:"M d, Y"}} {{semanal.empresa}}</td>
                <td><button onclick="detalleSemaforo('{{semanal.id_propuesta}}', 2)"
                    class="btn-floating btn-small waves-effect waves-light"><i
                      class=" small material-icons ">search</i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s4 tamaño" style="border-bottom:2px solid rgb(128, 128, 128, 0.5);">
        <div style="overflow-y: scroll; height: 550px;">
          <table>
            <tbody>
              {% for futuro in vencimiento_futuro %}
              <tr style="border-bottom: 0px; ">
                <td class="opcion center"> {{futuro.fecha|date:"M d, Y"}} {{futuro.empresa}} </td>
                <td><button onclick="detalleSemaforo('{{futuro.id_propuesta}}', 2)"
                    class="btn-floating btn-small waves-effect waves-light"><i
                      class=" small material-icons ">search</i></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
      <div class="col s12 " style="height: 70px; border-top: 2px solid rgb(128, 128, 128, 0.5);"></div>
    </div>
  </div>
</div>