.btn-sm{
    background-color: #005f26 !important;
}

table{
    overflow-y:scroll;
    height:50%;
    width: 100%;
}

.zonaBotones{
    margin-left: 5%;
    width: 90%;

}

.botonComprobante{
    margin-left: 3%;
    /* height: 20%; */
}

@media only screen and (max-width: 576px) {
    
    .botonComprobante {
        margin-left: 3%;
        width: 77%;
    }
}

.card{
    /* width: 20%; */
    border-radius: 19px 19px 19px 19px;
    transition: background-color .1s;
    font-weight: 800 !important;
    font-size: 125%;
    text-align: center;
    height: 25%;
    width: 25%;
}

.card-content{
    padding: 10px;
}

.into_card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card:hover{
    background-color: grey;
  }