.verTodos {
  /* width: 70%; */
  border-radius: 1em;
  background-color: #459A33 !important;
  overflow: initial;
}

.titulo1 {
  height: 60px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #757474;
  font-family: 'Montserrat';
}

body {
  height: 100%;
  font-family: 'Montserrat';
  background-color: #F5F5F5;
}

.im {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.barra {
  background-color: #757474;
  height: 40px;

}

.clv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tituloPagina {
  margin: 3%;
  font-weight: 300;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #459A33;
}

.subtituloPagina {
  margin: 3%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #459A33;
}

.botonSearch{
  color: #005221 !important;
}

.tableBlock{
  /* overflow-y: scroll;  */
  height: 100%;
  background-color: white;
  overflow-y: scroll;
}

.headBlock{
  position: relative;
  background-color: #52AE32;
  color: white;
  border-radius: 19px 19px 0px 0px;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.footBlock{
  background-color: white;
  border-radius: 0px 0px 19px 19px;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blockSpace{
  height: 60%;
  margin-top: 3%;
}

.tituloPaginaViejo {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #005221;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  color: white;
  height: 40%;
  min-width: 405px;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.menuZone {
  height: 20vh;
  justify-content: start !important;
  overflow: hidden;
}

.circule {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 75px;
  width: 75px;
  bottom: 5px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

.btn-bv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #005321;
  border-radius: 15px;
}

.shear_circule {
  background-color: white;
  text-align: center;
  border-radius: 100%;
  text-align: center;
  color: #459A33;
}

.shearG{
  color: #757474
}

.ctr {
  border-bottom: 0px;
}

.shearS{
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #459A33;
  height: 100%;
}

.whitedivStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: white;
  height: 100%;

  border-radius: 19px 19px 19px 19px !important;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 20%) !important;
  color: #757474 !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #459A33;
  opacity: 1;
  /* Firefox */
  text-align: center;
}

*,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
}

.bv-green {
  background-color: #459A33;
}

.bv-dark-green {
  background-color: #005221;
}

.bv-red {
  background-color: #DF2626;
}

.bv-yellow {
  background-color: #FECE08;
}

.bv-blue {
  background-color: #00AEEF;
}

.bv-gray {
  background-color: #717275;
}

.bv-dark-gray {
  background-color: #4e4d4d;
}

.no-shadows {
  box-shadow: none !important;
}

.myhead {
  position: fixed;
  background-color: #459A33;
  align-items: center;
}


.iconMenu {
  display: flex;
  z-index: 999 !important;
  position: relative;
  background-color: #005221;
  height: 100%;
  align-items: center;
}

.datepicker-day-button {
  color: black;
}

.datepicker-row>.is-selected>.datepicker-day-button {
  color: white !important;
}

.datepicker-row>.is-today>.datepicker-day-button {
  color: #459A33;
}

.datepicker-row>.is-selected>.datepicker-day-button,
.datepicker-date-display {
  background-color: #005221;
}

.btn-flat.datepicker-cancel,
.btn-flat.datepicker-done {
  color: #005221;
}

#inputBuscadorNegocioAlerta {
  margin: 0px;
  color: white !important;
  border-bottom: 0px solid #000;
  box-shadow: 0 0px 0 0 #000;
  border: #000;
  border-radius: 2em;
  text-align: center;
}

#inputBuscadorNegocioAlerta::placeholder {
  /* Firefox, Chrome, Opera */
  color: white !important;
  font-weight: bold !important;
}

.swal2-modal {
  border-radius: 25px !important;
}

.swal2-title {
  text-align: center !important;
  color: black !important;
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: 'Montserrat' !important;
}

.swal2-text {
  text-align: center !important;
  color: black !important;
  font-size: 16px !important;
  font-family: 'Montserrat' !important;
  word-break: normal !important;
}

.swal2-footer {
  text-align: center !important;
}

.swal2-styled {
  width: 150px !important;
  border-radius: 15px !important;
}

.swal2-cancel {
  background-color: transparent !important;
  color: #459A33 !important;
  border: 1px solid #459A33 !important;
  font-family: 'Montserrat' !important;
}

.swal2-confirm {
  background-color: #459A33 !important;
  font-family: 'Montserrat' !important;
}

.swal2-deny {
  background-color: transparent !important;
  color: #DF2626 !important;
  border: 1px solid #DF2626 !important;
  font-family: 'Montserrat' !important;
}

.swal2-loader {
  border-color: #459A33 #ffffff00 #459A33 #ffffff00 !important;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  -webkit-box-shadow: #6e6e6e !important;
  transition: background-color 50000s ease-in-out 0s !important;
}