.nuevos_semaforo{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 60px;
    margin-right: 10px;
  }
body{
    height: 100%;
    background-color: #F5F5F5;
  }
a{
  color: white;
}
b{
  color: white; 
  font-size: 150%;
}
.clvP{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.nuevos{
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: red;
}
.titulos{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headVen{
  position: relative;
  color: white;
  border-radius: 19px 19px 0px 0px;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rojo{
  background-color: rgba(238,29,35,255);
}

.verde{
  background-color: rgba(76,184,72,255);
}

.amarillo{
  background-color: rgba(254,206,8,255)
}

.totalh{
  height: 100%;
}

.tableVen{
  height: 100%;
  background-color: white;
  border-radius: 0px 0px 19px 19px;
}

#tablesSem{
  height: 60vh;
}

@media only screen and (max-width: 992px) {
  .totalh {
    margin-bottom: 15vh;
  }
}